<!--
/**
 * Author: hanzha
 * Create Date: 2017-11-10
 * Description: 广告位管理
 */
-->
<!--搜索条件区域、表格、弹窗样式初始化-->
<link rel="stylesheet" href="statics/assets/style/panel.css">
<!--当前页样式-->
<link rel="stylesheet" href="statics/assets/style/ads.adsense.css">
<!--表单样式初始化-->
<link rel="stylesheet" href="statics/assets/style/form.css">
<!--分页样式-->
<link rel="stylesheet" href="statics/assets/style/pagination.css">

<!--一个页面一个controller，一个页面对应一个controller文件-->
<div ng-controller="adsenseCtrl" class="ads-adsense">
    <!--加个类，动画-->
    <div class="animated fadeInRight">
        <!--bootstrap容器-->
        <div class="container-fluid">
            <div class="ui-content-box row">
                <div class="col-md-12">
                    <div class="ui-panel-title">
                        <div class="lft">
                            <i class="hot"></i>
                            <span>广告资源管理</span>
                        </div>
                    </div>

                    <div class="ui-panel-box panel">
                        <!-- 操作区 -->
                        <div class="panel-body operation multi">
                            <!-- 筛选条件 -->
                            <form class="form-horizontal">
                                <div class="form-group col-md-4">
                                    <div class="category t">
                                        <label for="manufacturer" class="control-label col-sm-4">厂家</label>
                                        <div class="col-sm-7">
                                            <select class="form-control" id="manufacturer" ng-model="selectManufacturer">
                                                <option value="">全部</option>
                                                <option ng-repeat="item in selectManufacturerList" value="{{item.orgCode}}">{{item.orgName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <div class="category t">
                                        <label for="brands" class="control-label col-sm-4">品牌</label>
                                        <div class="col-sm-7">
                                            <select class="form-control" id="brands" ng-model="selectBrands">
                                                <option value="">全部</option>
                                                <option ng-repeat="item in selectBrandsList" value="{{item.brandCode}}">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <div class="category t">
                                        <label for="status" class="control-label col-sm-4">使用状态</label>
                                        <div class="col-sm-7">
                                            <select class="form-control" id="status" ng-model="selectStatus">
                                                <option value="">全部</option>
                                                <option ng-repeat="item in adsStatusList" value="{{item.code}}">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <div class="norms b">
                                        <label for="adsName" class="control-label col-sm-4">广告名称</label>
                                        <div class="col-sm-7">
                                            <input class="keywords-input form-control" type="text" id="adsName" placeholder="请填写" ng-model="adName" value="{{keysVal}}">
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- 搜索按钮 -->
                            <div class="btn-con">
                                <button type="submit" id="search" class="btn btn-primary search btn-lg" ng-click="search($event)">搜索</button>
                                <button ng-click="reset()" type="submit" id="reset" class="btn btn-primary reset btn-lg">重置</button>
                            </div>
                        </div>

                        <!-- 列表展示区 -->
                        <!--自定义指令的属性在指令的scope下； 而值adsenseConf是controller的scope下-->
                        <sa-adsense conf="adsenseConf"></sa-adsense>

                        <!-- 分页区 -->
                        <div class="pagination-wrap">
                            <!-- 分页指令 -->
                            <sa-pagination id="pagination" conf="paginationConf" curPage="currentPageNumber" class="pagination"></sa-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--模态框和animated同级-->


    <!-- 容纳所有配置弹窗的div -->
    <!--<sa-allConfigTemplate conf="allConfigTemplateConf"></sa-allConfigTemplate>-->


    <!-- 编辑广告 模态框 -->
    <div class="modal fade edit-ads-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" id="myLargeModalLabel2">
                    编辑广告
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>

                <!-- editActModalConf是controller scope的属性 -->
                <sa-adsenseedit conf="editAdsModalConf"></sa-adsenseedit>
            </div>
        </div>
    </div>

    <!-- 启用广告 -->
    <div class="modal fade bs-example-modal-sm start-ads-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">提示：<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <p ng-if="isStart">确定要启用该广告位吗？</p>
                    <p ng-if="!isStart">确定要终止该广告位吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="isConfirm()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
