<!--
/**
 * Author: Kuang
 * Create Date: 2017-09-20
 * Description: 卷烟管理
 */
-->

<link rel="stylesheet" href="statics/assets/style/panel.css">
<link rel="stylesheet" href="statics/assets/style/form.css">
<link rel="stylesheet" href="statics/assets/style/product.cigarettemanage.css">
<link rel="stylesheet" href="statics/assets/style/pagination.css">

<div ng-controller="cigarettemanageCtrl" class="cigarettemanage">
	<div class="animated fadeInRightBig">
		<div class="container-fluid">
			<div class="ui-content-box row">
				<div class="col-md-12">
					<div class="ui-panel-title">
						<button type="submit" class="btn btn-primary float-right btn-lg" data-toggle="modal" data-target=".create-modal">新建</button>
						<div>
							<i class="hot"></i>
							<span>卷烟管理</span>
						</div>
					</div>
					<div class="ui-panel-box panel">
						<!-- 操作区 -->
						<div class="panel-body operation">
							<form novalidate name="searchForm">
								<div class="form-horizontal">
									<div class="form-group col-md-4">
								    <label class="control-label col-sm-3">品牌</label>
								    <div class="col-sm-8">
								    	<select class="form-control input-sm" name="" ng-model="brandCode">
								    		<option value="">请选择</option>
		    								<option ng-repeat="item in brandlist" value="{{item.brandCode}}">{{item.name}}</option>
											</select>
								    </div>
								  </div>
								  <div class="form-group col-md-4">
								    <label class="control-label col-sm-3">价类</label>
								    <div class="col-sm-8">
								    	<select class="form-control input-sm" name="" id="" ng-model="grade" required>
												<option value="">请选择</option>
												<option ng-repeat="item in gradelist" value="{{item.code}}">{{item.name}}</option>
											</select>
								    </div>
								  </div>
								  <div class="form-group col-md-4">
								    <label class="control-label col-sm-3">包装</label>
								    <div class="col-sm-8">
											<select class="form-control input-sm" name="" id="" ng-model="pack" required>
												<option value="">请选择</option>
												<option ng-repeat="item in packlist" value="{{item.code}}">{{item.name}}</option>
											</select>								    	
								    </div>
								  </div>
									<div class="form-group col-md-4">
								    <label class="control-label col-sm-3">规格</label>
								    <div class="col-sm-8">
								    	<input type="text" class="form-control input-sm" ng-model="sn">
								    </div>
								  </div>
								  <div class="form-group col-md-4">
								  	<label class="control-label col-sm-3">价格</label>
								  	<div class="col-sm-3">
								  		<input class="form-control input-sm" type="text" ng-model="minprice">
								  	</div>
								  	<div class="col-sm-1 control-label">至</div>
								  	<div class="col-sm-3">
								    	<input class="form-control input-sm" type="text"  ng-model="maxprice">
								    </div>
								  </div>
								</div>
								<div class="form-inline float-right">
							  	<div class="form-group">
							  		<button type="submit" id="search" class="btn btn-primary search btn-lg" ng-click="search($event)" ng-click="search()">搜索</button>
							  	</div>
							  	<div class="form-group">
							  		<button ng-click="reset()" type="submit" id="reset" class="btn btn-primary reset btn-lg">重置</button>
							  	</div>
							  </div>
							</form>
						</div>

						<!-- 列表展示区 -->
						<sa-cigarettelist conf="cigarettelistConf"></sa-cigarettelist>

						<!-- 分页区 -->
						<div class="pagination-wrap">
							<!-- 分页指令 -->
							<sa-pagination id="pagination" conf="paginationConf" class="pagination"></sa-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 新建卷烟 -->
	<div class="modal fade create-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
	  <div class="modal-dialog modal-lg" role="document">
	    <form novalidate name="form" class="modal-content" role="form" ng-submit="submitForm(form.$valid)">
	    	<div class="modal-header">新建卷烟</div>
		    <div class="modal-body">
		    	<!-- 新建卷烟 -->
		    	<sa-createcigarette conf="createcigaretteConf"></sa-createcigarette>
		    </div>
		    <div class="modal-footer">
		    	<div class="form-group">
		    		<div class="inline">
		    			<button type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="form.$invalid">保存</button>
		    			<div class="fake btn btn-primary" ng-click="save(form)">保存</div>
		    			<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
		    			<div class="fake btn btn-primary" ng-click="cancel(form)">取消</div>
		    		</div>
		    	</div>
		    </div>
	    </form>
	  </div>
	</div>
</div>