<!--
/**
 * Author: zhaobaoli
 * Create Date: 2017-07-17
 * Description: materiel
 */
-->
<link rel="stylesheet" href="../../../assets/style/gift.css">
<div ng-controller="GiftCtrl">
<div class="animated fadeInRight">
    <div class="container-fluid z_num" ng-show="showTables">
        <div class="row">
            <div class="col-md-12">
                <!--title-->
                <div class="title_top clearfix">
                    <div class="gift_title lf">
                        物料管理&nbsp;&gt;礼品管理
                    </div>
                    <div class="build_gift rf" ng-click="createGift()">+&nbsp;新建礼品</div>
                </div>
                <!--box-->
                <div class="panel rate">
                    <div class="panel-body">
                        <div class="table_sec">
                            <div class="change_nav clearfix">
                                <div class="lf" ng-class="{true:'select_active',false:'no_active'}[showGiftList]" ng-click="changeShowState()">礼品库</div>
                                <div class="lf" ng-class="{true:'select_active',false:'no_active'}[!showGiftList]" ng-click="changeShowState()">流水明细</div>
                            </div>
                            <div class="select_sec clearfix">
                                <div class="col-md-3 col-sm-3">
                                    <label for="selectGiftName">筛选礼品</label>
                                    <input id="selectGiftName" type="text" placeholder="礼品名称">
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="selectTopCategory">一级类目</label>
                                    <select id="selectTopCategory">
                                        <option value="">全部</option>
                                        <option ng-repeat="categoryItem in oneCategoryList" value="{{categoryItem.code}}">{{categoryItem.name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="selectSupply">供应商</label>
                                    <select id="selectSupply">
                                        <option value="">全部</option>
                                        <option ng-repeat="supplyItem in allSupplyList" value="{{supplyItem.supplierCode}}">{{supplyItem.name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="ser_btn"  ng-click="searchData()">搜索</div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="selectBrand">适用品牌</label>
                                    <select id="selectBrand">
                                        <option value="">全部</option>
                                        <option ng-repeat="brandItem in brandList"
                                                value="{{brandItem.brandCode}}">{{brandItem.name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label for="selectSpecift">适用规格</label>
                                    <select id="selectSpecift">
                                        <option value="">全部</option>
                                        <option ng-repeat="speciftItem in selectSpeciftList"
                                                value="{{speciftItem.sn}}">{{speciftItem.allName}}</option>
                                    </select>
                                </div>
                                <div ng-show="showGiftList" class="col-md-3 col-sm-3">
                                    <label for="giftStatus">使用状态</label>
                                    <select id="giftStatus">
                                        <option value="">全部</option>
                                        <option ng-repeat="statusItem in dataStatusList"
                                                value="{{statusItem.code}}">{{statusItem.name}}</option>
                                    </select>
                                </div>
                                <div ng-show="!showGiftList" class="col-md-3 col-sm-3">
                                    <label for="selectActive">动作</label>
                                    <select id="selectActive">
                                        <option value="">全部</option>
                                        <option ng-repeat="activeItem in activeValueList" value="{{activeItem.code}}">{{activeItem.name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="rest_btn" ng-click="resetData()">重置</div>
                                </div>
                            </div>
                        </div>
                        <table class="table" ng-show="showGiftList">
                            <tr>
                                <th>序号</th>
                                <th>礼品名称</th>
                                <th>礼品图片</th>
                                <th>一级类目</th>
                                <th>供应商</th>
                                <th>适用品牌</th>
                                <th>适用规格</th>
                                <th>市面金额(元)</th>
                                <th>剩余库存(件)</th>
                                <th>使用状态</th>
                                <th>操作</th>
                            </tr>
                            <tr ng-repeat="giftItem in giftList" ng-if="!noSearchData">
                                <td>{{(currentPageNumber-1)*pageSize+($index+1)}}</td>
                                <td title="{{giftItem.name}}">{{giftItem.showName}}</td>
                                <td class="gift_img">
                                    <a href="{{giftItem.giftUrl != '' ? giftItem.giftUrl : 'javascript:'}}">
                                        <img ng-if="giftItem.giftPic != ''" src="{{giftItem.giftPic}}" />
                                        <span ng-if="giftItem.giftPic == ''">-</span>
                                    </a>
                                </td>
                                <td ng-if="giftItem.giftClass == 1">实物</td>
                                <td ng-if="giftItem.giftClass == 2">虚拟</td>
                                <td title="{{giftItem.supplierName}}">{{giftItem.showSupplierName}}</td>
                                <td>{{giftItem.brandNames}}</td>
                                <td>{{giftItem.unitNames}}</td>
                                <td ng-if="giftItem.marketMoney != null">{{giftItem.marketMoney}}</td>
                                <td ng-if="giftItem.marketMoney == null">-</td>
                                <td>{{giftItem.stock}}</td>
                                <td ng-if="giftItem.status == 1">已启用</td>
                                <td ng-if="giftItem.status == 0">已停用</td>
                                <td>
                                    <span ng-click="editGiftItem(giftItem)">编辑</span>&nbsp;
                                    <span data-toggle="modal" ng-click="addGiftPool(giftItem)">增库</span>&nbsp;
                                    <span data-toggle="modal" ng-if="giftItem.status == 1"
                                          ng-click="stopStatus(giftItem)">停用</span>
                                    <span data-toggle="modal" ng-if="giftItem.status == 0"
                                          ng-click="useStatus(giftItem)">启用</span>
                                </td>
                            </tr>
                            <tr ng-if="noSearchData"><td colspan="11">未搜索到符合条件的相关信息</td></tr>
                        </table>
                        <table class="table" ng-show="!showGiftList">
                            <tr>
                                <th>序号</th>
                                <th>礼品名称</th>
                                <th>一级类目</th>
                                <th>供应商</th>
                                <th>适用品牌</th>
                                <th>适用规格</th>
                                <th>动作</th>
                                <th>活动名称</th>
                                <th>数量(件)</th>
                                <th>更新时间</th>
                                <th>更新人</th>
                            </tr>
                            <tr ng-if="!noSearchLog" ng-repeat="detailItem in detailList">
                                <td>{{(currentPageNumber-1)*pageSize+($index+1)}}</td>
                                <td title="{{detailItem.businessName}}">{{detailItem.showBusinessName}}</td>
                                <td>{{detailItem.businessType}}</td>
                                <td title="{{detailItem.supplierName}}">{{detailItem.showSupplierName}}</td>
                                <td>{{detailItem.brandNames}}</td>
                                <td>{{detailItem.prodUnitsNames}}</td>
                                <td>{{detailItem.operName}}</td>
                                <td title="{{detailItem.activityName}}">
                                    {{detailItem.activityName != null ? detailItem.showActivityName : '-'}}
                                </td>
                                <td>{{detailItem.operNum}}</td>
                                <td>{{detailItem.ctime | date:'yyyy-MM-dd'}}</td>
                                <td>{{detailItem.creatorName}}</td>
                            </tr>
                            <tr ng-if="noSearchLog"><td colspan="11">未搜索到符合条件的相关信息</td></tr>
                        </table>
                        <div class="footer_sec clearfix">
                            <div class="total_info lf">
                                总共<span>{{totalCount}}</span>条记录，当前页共
                                <span ng-if="showGiftList">{{giftList.length}}</span>
                                <span ng-if="!showGiftList">{{detailList.length}}</span>
                                条记录
                            </div>
                            <div class="page_sec rf">
                                <div class="tcdPageCode"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid z_num" ng-show="!showTables">
        <div class="row">
            <div class="col-md-12">
                <div class="title_top">
                    <div class="gift_title">
                        物料管理&nbsp;&gt;礼品管理&nbsp;&gt;<span ng-if="addGift">新建礼品</span><span ng-if="!addGift">编辑礼品</span>
                    </div>
                </div>
                <div class="panel rate">
                    <div class="panel-body">
                        <div class="form_sec">
                            <div>
                                <label for="giftName">礼品名称<span>*</span></label>
                                <input id="giftName" type="text" placeholder="" >
                                <span class="gift_name_warn">礼品名称不能为空</span>
                            </div>
                            <div>
                                <label for="oneCategory">礼品类型<span>*</span></label>
                                <select id="oneCategory">
                                    <option value="">选择一级类目</option>
                                    <option ng-repeat="categoryItem in oneCategoryList" value="{{categoryItem.code}}">{{categoryItem.name}}</option>
                                </select>
                                <select id="secondCategory">
                                    <option value="">选择二级类目</option>
                                    <option ng-repeat="secCateItem in secondCategoryList" value="{{secCateItem.code}}">{{secCateItem.name}}</option>
                                </select>
                                <span class="category_warn"></span>
                            </div>
                            <div>
                                <label for="enableSupply">供应商<span>*</span></label>
                                <select id="enableSupply" ng-disabled="!addGift" ng-class="{true:'disabled_color'}[!addGift]">
                                    <option value="">请选择</option>
                                    <option ng-repeat="enableItem in enableSupplyList"
                                            value="{{enableItem.supplierCode}}">{{enableItem.name}}</option>
                                </select>
                                <span class="gift_supply_warn">供应商不能为空</span>
                            </div>
                            <div>
                                <label for="brand">适用品牌<span>*</span></label>
                                <select id="brand">
                                    <option value="">请选择</option>
                                    <option ng-repeat="brandItem in brandList"
                                            value="{{brandItem.brandCode}}">{{brandItem.name}}</option>
                                </select>
                                <span class="apply_brand_warn">适用品牌不能为空</span>
                            </div>
                            <div>
                                <label for="applySpecift">适用规格<span>*</span></label>
                                <select id="applySpecift">
                                    <option value="">请选择</option>
                                    <option ng-repeat="speciftItem in speciftList"
                                            value="{{speciftItem.sn}}">{{speciftItem.allName}}</option>
                                </select>
                                <span class="apply_specift_warn">适用规格不能为空</span>
                            </div>
                            <div>
                                <label for="marketValue">市面价值（元）</label>
                                <input id="marketValue" type="text" placeholder="">
                                <span class="market_value_warn"></span>
                            </div>
                            <div>
                                <label for="giftImg">礼品图片<span>*</span></label>
                                <div class="transfer_sec">
                                    <input type="file" id="giftImg">
                                    <div class="select_file">+</div>
                                </div>
                                <span id="giftImgName"></span>
                                <p class="gift_img_warn">图片规格要求：建议尺寸330*330</p>
                            </div>
                            <div>
                                <label for="stock">库存（件）<span>*</span></label>
                                <input id="stock" type="text" ng-disabled="!addGift" placeholder="">
                                <span class="stock_warn">请输入大于0的整数</span>
                                <br/>
                                <p>库存数量保存后不可手动减库存，请谨慎输入</p>
                            </div>
                            <div>
                                <label for="stockThresh">库存阀值</label>
                                <input id="stockThresh" type="text" placeholder="">
                                <span class="stockThresh_warn">库存阀值不可高于库存</span>
                                <p>库存阀值不可高于库存</p>
                            </div>
                            <div>
                                <label for="linkUrl">链接URL</label>
                                <input id="linkUrl" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="opera_sec">
                            <div class="opera_confirm" ng-click="saveGiftData()">保存</div>
                            <div class="opera_cancel" ng-click="cancelCreateGift()">取消</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--停用弹框提醒-->
    <div class="modal fade disabled_gift_box" tabindex="-1" role="dialog" aria-labelledby="disabled_btn">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="box_sec">
                    <div class="box_tit">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-title" id="disabled_btn">操作提示</div>
                    </div>
                    <div class="box_cont">停用后，新增活动将不能使用该礼品</div>
                    <div class="box_btn clearfix">
                        <div class="box_btn_conf lf" ng-click="confirmStopStatus(operateGiftItem)">确定</div>
                        <div class="box_btn_cancel rf" data-dismiss="modal">取消</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--增库弹框-->
    <div class="modal fade add_pool_box" tabindex="-1" role="dialog" aria-labelledby="add_btn">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="box_sec">
                    <div class="box_tit">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span ng-click="cancelAddGiftStock()">×</span>
                            <!--aria-hidden="true"-->
                        </button>
                        <div class="modal-title" id="add_btn">增库</div>
                    </div>
                    <div class="box_cont">
                        <label>增加库存：</label>
                        <input type="text" id="addGiftStock" maxlength="5"><span>件</span>
                        <p class="add_stock_warn">请输入大于0的整数</p>
                    </div>
                    <div class="box_btn clearfix">
                        <div class="box_btn_conf lf" ng-click="confirmAddPool(operateGiftItem)">确定</div>
                        <div class="box_btn_cancel rf" ng-click="cancelAddGiftStock()">取消</div>
                        <!--data-dismiss="modal"-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--更新状态操作成功弹窗-->
    <div class="modal fade gift_success_box" tabindex="-1" role="dialog" aria-labelledby="supply_enabled_btn">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="box_sec">
                    <div class="box_tit">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-title" id="supply_enabled_btn">操作提示</div>
                    </div>
                    <div class="box_cont">操作成功</div>
                    <div class="box_btn">
                        <div class="enabled_btn" data-dismiss="modal">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--更新状态操作失败弹窗-->
    <div class="modal fade gift_error_box" tabindex="-1" role="dialog" aria-labelledby="supply_error_btn">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="box_sec">
                    <div class="box_tit">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-title" id="supply_error_btn">操作提示</div>
                    </div>
                    <div class="box_cont">操作失败</div>
                    <div class="box_btn">
                        <div class="enabled_btn" data-dismiss="modal">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--不能增库提醒弹窗-->
    <div class="modal fade supply_stop_box" tabindex="-1" role="dialog" aria-labelledby="supply_stop_btn">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="box_sec">
                    <div class="box_tit">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-title" id="supply_stop_btn">操作提示</div>
                    </div>
                    <div class="box_cont">此物料供应商“{{operateGiftItem.supplierName}}”已停用，无法执行增库操作</div>
                    <div class="box_btn">
                        <div class="enabled_btn" data-dismiss="modal">我知道了</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--礼品停用时不能增库提醒弹窗-->
    <div class="modal fade gift_stop_box" tabindex="-1" role="dialog" aria-labelledby="gift_stop_btn">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="box_sec">
                    <div class="box_tit">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-title" id="gift_stop_btn">操作提示</div>
                    </div>
                    <div class="box_cont">此物料已停用，无法执行增库操作</div>
                    <div class="box_btn">
                        <div class="enabled_btn" data-dismiss="modal">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="statics/assets/libs/jquery.page.js"></script>
</div>


