<div>
	<div class="panel-body">
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="table-head">
					<th>序号</th>
					<th>活动名称</th>
					<th>规格</th>
					<th>活动时间</th>
					<th>投放地区</th>
					<th>使用状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="show-list" ng-repeat="(idx, item) in list">
					<td>{{idx + 1}}</td>
					<td>{{item.activityName}}</td>
					<td class="snslist">{{item.sn}}</td>
					<td>{{item.stime | date:'yyyy-MM-dd HH:mm:ss'}} <br> -- <br> {{
					item.etime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
					<td class="arealist">{{item.area}}</td>
					<td>{{!item.status ? '已停用' : item.status == 1 ? '已启用' : '待启用'}}</td>
					<td>
						<div class="oper-btn-wrap">
							<div class="float-left edit operate-btn" ng-click="editActivity($event)" ng-if="item.status != 0" data-activityCode="{{item.activityCode}}" data-activityForm="{{item.activityForm}}">编辑</div>
							<div class="float-left start operate-btn" ng-if="item.status == 2" ng-click="startActivity($event)" data-toggle="modal" data-target=".start-activity-modal" data-activityCode="{{item.activityCode}}" data-status="1">启用</div>
							<div class="float-left terminate operate-btn" ng-click="terminateActivity($event)" ng-if="item.status != 0" data-toggle="modal" data-target=".end-activity-modal" data-activityCode="{{item.activityCode}}" data-status="0">终止</div>
							<div class="float-left look operate-btn" ng-if="item.status == 0" ng-click="lookupActivity($event)" data-activityCode="{{item.activityCode}}" data-toggle="modal" data-target=".look-up">查看</div>
							<a class="float-left operate-btn track" ng-if="item.status != 2" ng-click="turnToReal()">跟踪</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="total-page">总共{{totalCount}}条记录<span ng-if="totalCount != 0">，当前页共{{size}}条记录</span></div>
	</div>
</div>
