<div>
	<div class="all-template-config-wrap">
		<!-- 通用（九宫格、大转盘、刮刮卡、翻牌子）活动弹窗 -->
		<sa-commonactivity class="pop common-pop border-box" conf="sa-commonactivityConf" ng-if="confUrl == 'common'"></sa-commonactivity>

		<!-- 微信红包 -->
		<sa-redpackactivity class="pop redpack-pop border-box" conf="sa-redpackactivityConf" ng-if="confUrl == 'redpack'"></sa-redpackactivity>

		<!-- 彩蛋 -->
		<sa-surpriseactivity class="pop surprise-pop border-box" conf="sa-surprisectivityConf" ng-if="confUrl == 'unexpected'"></sa-surpriseactivity>

		<!-- 节假日 -->
		<sa-holidayactivity class="pop holiday-pop border-box" conf="holidayactivityConf" ng-if="confUrl == 'holiday'"></sa-holidayactivity>

		<!-- 问卷 -->
		<sa-questionnaireactivity class="pop questionnaire-pop border-box" conf="sa-questionnaireConf" ng-if="confUrl == 'qa'"></sa-questionnaireactivity>

	</div>
</div>