<div>
	<!-- 编辑状态 -->
	<div class="basicinfo" ng-if="disabled">
		<div class="activity-name configuration-item">
			<label>活动名称</label>
			<input type="text" name="nameVaule" ng-model="activity.activityName" value="{{nameVaule}}" ng-readonly="disabled" required>
			<b>*</b>
		</div>
		<div class="activity-intro configuration-item">
		 	<label for="">活动描述</label>
			<input type="text" name="descValue" ng-model="activity.activityDec" value="{{descValue}}" ng-readonly="disabled" required>
			<b>*</b>
		</div>
		<div class="file-instructions configuration-item">
			<label for="" class="normfile">规范性文件及说明</label>
			<input type="file" multiple onchange="angular.element(this).scope().change()" ng-disabled="disabled">
		</div>
		<!-- 彩蛋、节假日没有优先级这一项 -->
		<div class="activity-priority configuration-item" ng-if="(confUrl !== 'holiday') && (confUrl !== 'unexpected')">
			<label class="priority">活动优先级</label>
			<input type="number" name="points" ng-model="activity.idx" value="{{namePriority}}" ng-readonly="disabled" required>
			<b>*</b>
		</div>
		<div class="configuration-item activity-desc">
			<label for="">活动规则</label>
			<textarea class="border-box" name="introValue" ng-model="activity.activityDoc" value="{{introValue}}" ng-readonly="disabled" required></textarea>
			<b>*</b>
		</div>
		<div class="configuration-item configuration-image">
			<label class="activityfileimage">活动图片</label>
			<input type="file" name="activityfile" class="uploadimage" onchange="angular.element(this).scope().change()" ng-disabled="disabled" required>
			<b>*</b>
		</div>
		<!-- 节假日 活动链接 -->
		<div class="url-name configuration-item" ng-if="confUrl === 'holiday'">
			<label for="">活动链接</label>
			<input type="url" ng-model="urlVaule" value="{{urlVaule}}" placeholder="请输入活动链接" ng-readonly="disabled">
		</div>
		<!-- 彩蛋、节假日 （弹窗图设置、弹窗文案设置）-->
		<div class="popimage configuration-item" ng-if="confUrl === 'holiday' || confUrl === 'unexpected'">
			<label for="" class="popimagefile">弹窗图设置</label>
			<input type="file" onchange="angular.element(this).scope().change()"  ng-disabled="disabled">
		</div>
		<div class="poptext configuration-item" ng-if="confUrl === 'holiday' || confUrl === 'unexpected'">
			<label for="" class="poptextfile">弹窗文案设置</label>
			<input type="file" onchange="angular.element(this).scope().change()"  ng-disabled="disabled">
		</div>
	</div>
	<!-- 新建状态 -->
	<div class="basicinfo" ng-if="!disabled">
		<div class="activity-name configuration-item">
			<label>活动名称</label>
			<input type="text" name="nameVaule" ng-model="nameVaule" value="{{nameVaule}}" placeholder="请输入活动名称，不能少于5个字，最多30个字" minlength="5" maxlength="30" ng-readonly="disabled" required>
			<b>*</b>
			<div ng-show="parentForm.$submitted || parentForm.nameVaule.$touched">
				<div ng-show="parentForm.nameVaule.$error.required || parentForm.nameVaule.$error.minlength || parentForm.nameValue.$error.maxlength" class="wrong-tip">请输入活动名称，5~30字</div>
			</div>
		</div>
		<div class="activity-intro configuration-item">
		 	<label for="">活动描述</label>
			<input type="text" name="descValue" ng-model="descValue" value="{{descValue}}" placeholder="请输入活动描述，50个字以内" minlength="1" maxlength="50" ng-readonly="disabled" required>
			<b>*</b>
			<div ng-show="parentForm.$submitted || parentForm.descValue.$touched">
				<div ng-show="parentForm.descValue.$error.required || parentForm.descValue.$error.minlength || parentForm.descValue.$error.maxlength" class="wrong-tip">请输入活动描述，1~50字</div>
			</div>
		</div>
		<div class="file-instructions configuration-item">
			<label for="" class="normfile">规范性文件及说明</label>
			<input type="file" multiple onchange="angular.element(this).scope().change()" ng-disabled="disabled">
		</div>
		<!-- 彩蛋、节假日没有优先级这一项 -->
		<div class="activity-priority configuration-item" ng-if="(confUrl !== 'holiday') && (confUrl !== 'unexpected')">
			<label class="priority">活动优先级</label>
			<input type="number" name="points" min="1" max="500" ng-model="namePriority" value="{{namePriority}}" placeholder="请指明活动优先级，用数字表示，最大值为500" ng-readonly="disabled" required>
			<b>*</b>
			<div ng-show="parentForm.$submitted || parentForm.points.$touched">
				<div ng-show="parentForm.points.$error.required || parentForm.points.$error.min || parentForm.points.$error.max" class="wrong-tip">请用数字标明优先级，不得大于500</div>
			</div>
		</div>
		<div class="configuration-item activity-desc">
			<label for="">活动规则</label>
			<textarea class="border-box" name="introValue" ng-model="introValue" value="{{introValue}}" placeholder="请输入活动规则" ng-readonly="disabled" minlength="5" maxlength="300" required></textarea>
			<b>*</b>
			<div ng-show="parentForm.$submitted || parentForm.introValue.$touched">
				<div ng-show="parentForm.introValue.$error.required || parentForm.introValue.$error.minlength || parentForm.introValue.$error.maxlength" class="wrong-tip">请输入活动规则，5~100字</div>
			</div>
		</div>
		<div class="configuration-item configuration-image">
			<label for="" class="activityfileimage">活动图片</label>
			<input type="file" name="activityfile" class="uploadimage" onchange="angular.element(this).scope().change()" ng-disabled="disabled" required>
			<b>*</b>
			<div ng-show="parentForm.$submitted || parentForm.activityfile.$touched">
				<div ng-show="parentForm.activityfile.$error.required" class="wrong-tip">请上传活动图片</div>
			</div>
		</div>
		<!-- 节假日 活动链接 -->
		<div class="url-name configuration-item" ng-if="confUrl === 'holiday'">
			<label for="">活动链接</label>
			<input type="url" ng-model="urlVaule" value="{{urlVaule}}" placeholder="请输入活动链接" ng-readonly="disabled">
		</div>
		<!-- 彩蛋、节假日 （弹窗图设置、弹窗文案设置）-->
		<div class="popimage configuration-item" ng-if="confUrl === 'holiday' || confUrl === 'unexpected'">
			<label for="" class="popimagefile">弹窗图设置</label>
			<input type="file" onchange="angular.element(this).scope().change()"  ng-disabled="disabled">
		</div>
		<div class="poptext configuration-item" ng-if="confUrl === 'holiday' || confUrl === 'unexpected'">
			<label for="" class="poptextfile">弹窗文案设置</label>
			<input type="file" onchange="angular.element(this).scope().change()" ng-disabled="disabled">
		</div>
	</div>
</div>
