<div>
	<div class="basicinfo form-horizontal">
		<!-- 活动名称 -->
		<div class="form-group col-md-5 has-feedback activity-name configuration-item" ng-class="{'has-error': parentForm.name.$dirty && (parentForm.name.$error.required || parentForm.name.$invalid), 'has-success': parentForm.name.$dirty && parentForm.name.$valid}">
			<label for="" class="control-label col-sm-2">活动名称</label>
			<div class="col-sm-9">
				<input class="form-control input-sm" type="text" name="name" id="" ng-model="nameValue" placeholder="请输入活动名称，不能少于5个字，最多30个字" ng-pattern="/^[A-Za-z0-9\u4e00-\u9fa5]{5,30}$/" required ng-readonly="disabled">
				<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': parentForm.name.$dirty && parentForm.name.$valid}" aria-hidden="true"></span>
				<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': parentForm.name.$dirty && parentForm.name.$invalid}" aria-hidden="true"></span>
			</div>
		</div>

		<!-- 活动描述 -->
		<div class="form-group col-md-5 has-feedback activity-intro configuration-item" ng-class="{'has-error': parentForm.desc.$dirty && (parentForm.desc.$error.required || parentForm.desc.$invalid), 'has-success': parentForm.desc.$dirty && parentForm.desc.$valid}">
		 	<label for="" class="control-label col-sm-2">活动描述</label>
		 	<div class="col-sm-9">
		 		<input class="form-control input-sm" type="text" name="desc"  ng-model="descValue" placeholder="请输入活动描述，50个字以内" minlength="1" maxlength="50" required>
		 		<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': parentForm.desc.$dirty && parentForm.desc.$valid}" aria-hidden="true"></span>
				<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': parentForm.desc.$dirty && parentForm.desc.$invalid}" aria-hidden="true"></span>
		 	</div>
		</div>

		<!-- 彩蛋、节假日没有优先级这一项 -->
		<div ng-if="(confUrl !== 'holiday') && (confUrl !== 'unexpected')" class="form-group col-md-5 activity-priority configuration-item" ng-class="{'has-error': parentForm.points.$dirty && (parentForm.points.$error.required || parentForm.points.$invalid), 'has-success': parentForm.points.$dirty && parentForm.points.$valid}">
			<label for="" class="control-label col-sm-2 priority">优先级</label>
			<div class="col-sm-9">
				<input class="form-control input-sm" type="text" name="points" ng-pattern="/^(?:[1-9]\d?|[1-4]\d{2}|500)$/" ng-model="points" placeholder="请指明活动优先级，用数字表示，最大值为500" required>
				<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': parentForm.points.$dirty && parentForm.points.$valid}" aria-hidden="true"></span>
				<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': parentForm.points.$dirty && parentForm.points.$invalid}" aria-hidden="true"></span>
			</div>
		</div>

		<!-- 活动规则 -->
		<div class="form-group col-md-5 has-feedback activity-desc configuration-item" ng-class="{'has-error': parentForm.rules.$dirty && (parentForm.rules.$error.required || parentForm.rules.$invalid), 'has-success': parentForm.rules.$dirty && parentForm.rules.$valid}">
			<label for="" class="control-label col-sm-2">活动规则</label>
			<div class="col-sm-9">
				<textarea class="form-control input-sm border-box" name="rules" ng-model="introValue" placeholder="请输入活动规则, 5~300字" minlength="5" maxlength="300" required></textarea>
				<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': parentForm.rules.$dirty && parentForm.rules.$valid}" aria-hidden="true"></span>
				<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': parentForm.rules.$dirty && parentForm.rules.$invalid}" aria-hidden="true"></span>
			</div>
		</div>

		<!-- 规范性文件说明 -->
		<div class="form-group col-md-5 file-instructions configuration-item">
			<label class="control-label col-sm-2 normfile">规范性文件及说明</label>
			<div class="col-sm-9">
				<input class="form-control input-sm" type="file" multiple onchange="angular.element(this).scope().change()">
			</div>
		</div>

		<!-- 活动图片 -->
		<div class="form-group col-md-5 configuration-item configuration-image">
			<label class="activityfileimage col-sm-2 control-label">活动图片</label>
			<div class="col-sm-9">
				<input type="file" name="activityfile" class="form-control input-sm uploadimage" onchange="angular.element(this).scope().change()" accept="image/png, image/jpeg, image/gif" required>
				<div class="col-sm-9"><img width="100%" ng-if="accessUrl" ng-src="{{accessUrl}}" alt=""></div>
			</div>
			<div class="wrong-tip hidden">请上传活动图片</div>
		</div>
	</div>

<!-- 		<div class="file-instructions configuration-item form-group col-md-5">
			<label class="control-label col-sm-2 normfile">文件说明</label>
			<div class="col-sm-9">
				<input class="form-control input-sm" type="file" multiple onchange="angular.element(this).scope().change()" ng-disabled="disabled">
			</div>
		</div> -->
		<!-- 节假日 活动链接 -->
<!-- 		<div class="url-name configuration-item col-md-5 form-group" ng-if="confUrl === 'holiday'">
			<label class="control-label col-sm-2">活动链接</label>
			<div class="col-sm-9">
				<input class="form-control" type="url" ng-model="urlVaule" placeholder="请输入活动链接" ng-readonly="disabled">
			</div>
		</div> -->
		<!-- 彩蛋、节假日 （弹窗图设置、弹窗文案设置）-->
<!-- 		<div class="popimage configuration-item col-md-5 form-group" ng-if="confUrl === 'holiday' || confUrl === 'unexpected'">
			<label class="popimagefile control-label col-sm-2">弹窗图</label>
			<div class="col-sm-9">
				<input class="form-control" type="file" onchange="angular.element(this).scope().change()"  ng-disabled="disabled">
			</div>
		</div> -->
<!-- 		<div class="poptext configuration-item col-md-5 form-group" ng-if="confUrl === 'holiday' || confUrl === 'unexpected'">
			<label class="poptextfile control-label col-sm-2">弹窗文案</label>
			<div class="col-sm-9">
				<input class="form-control" type="file" onchange="angular.element(this).scope().change()" ng-disabled="disabled">
			</div>
		</div> -->
</div>
