<div>
	<div class="basicinfo">
		<div class="activity-name configuration-item">
		 	<label for="">活动名称</label>
			<b>*</b>
			<small class="wrong-tip hidden">请输入活动名称，5~30字</small>
			<input type="text" ng-model="nameVaule" value="{{nameVaule}}" placeholder="请输入活动名称，不能少于5个字，最多30个字" minlength="5" maxlength="30" ng-readonly="disabled" ng-keyup="namekeyup($event)">
		</div>
		<div class="activity-intro configuration-item">
		 	<label for="">活动描述</label>
			<b>*</b>
			<small class="wrong-tip hidden">请输入活动描述，100字以内</small>
			<input type="text" ng-model="descValue" value="{{descValue}}" placeholder="请输入活动名称，50个字以内" maxlength="50" ng-readonly="disabled">
		</div>
		<div class="file-instructions configuration-item">
			<label for="" class="normfile">规范性文件及说明</label>
			<input type="file" multiple onchange="angular.element(this).scope().change()" ng-disabled="disabled">
		</div>
		<!-- 彩蛋、节假日没有优先级这一项 -->
		<div class="activity-priority configuration-item" ng-if="(confUrl !== 'holiday') && (confUrl !== 'unexpected')">
			<b>*</b>
			<small class="wrong-tip hidden">请用数字标明优先级，不得大于500</small>
			<label for="" class="priority">活动优先级</label>
			<input type="number" name="points" min="1" max="500" ng-model="namePriority" value="{{namePriority}}" placeholder="请指明活动优先级，用数字表示，最大值为500" ng-readonly="disabled" ng-keyup="prioritykeyup($event)">
		</div>
		<div class="configuration-item activity-desc">
			<b>*</b>
			<small class="wrong-tip hidden">请输入活动规则，100字以内</small>
			<label for="">活动规则</label><textarea class="border-box" ng-model="introValue" value="{{introValue}}" placeholder="请输入活动规则" ng-readonly="disabled" maxlength="300"></textarea>
		</div>
		<div class="configuration-item configuration-image">
			<b>*</b>
			<small class="wrong-tip hidden">请上传一张活动图片</small>
			<label for="" class="activityfileimage">活动图片</label>
			<input type="file" class="uploadimage" onchange="angular.element(this).scope().change()" ng-disabled="disabled">
		</div>
		<!-- 节假日 活动链接 -->
		<div class="url-name configuration-item" ng-if="confUrl === 'holiday'">
			<label for="">活动链接</label>
			<input type="url" ng-model="urlVaule" value="{{urlVaule}}" placeholder="请输入活动链接" ng-readonly="disabled">
		</div>
		<!-- 彩蛋、节假日 （弹窗图设置、弹窗文案设置）-->
		<div class="popimage configuration-item" ng-if="confUrl === 'holiday' || confUrl === 'unexpected'">
			<label for="" class="popimagefile">弹窗图设置</label>
			<input type="file" onchange="angular.element(this).scope().change()"  ng-disabled="disabled">
		</div>
		<div class="poptext configuration-item" ng-if="confUrl === 'holiday' || confUrl === 'unexpected'">
			<label for="" class="poptextfile">弹窗文案设置</label>
			<input type="file" onchange="angular.element(this).scope().change()"  ng-disabled="disabled">
		</div>
	</div>
</div>
