<div>
	<div class="create-activity pop" style="display: none">
	<!-- title 显示 -->
	<nav>
		<p>选择模板|活动设置</p>
	</nav>
	<!-- 进度展示 -->
	<div class="header">
		<!-- 第一步 -->
		<sa-step conf="stepConf"></sa-step>
		<!-- <div class="first-step" ng-if="true">
			<div class="col-md-4 step">
				<img class="img-thumbnail center-block" src="https://weiopn.oss-cn-beijing.aliyuncs.com/saas/step1-1.png" alt="">
				<p class="text-center">选择模板</p>
			</div>
			<div class="col-md-4 step">
				<img class="img-thumbnail center-block" src="https://weiopn.oss-cn-beijing.aliyuncs.com/saas/step2-0.png" alt="">
				<p class="text-center">活动设置</p>
			</div>
			<div class="col-md-4 step">
				<img class="img-thumbnail center-block" src="https://weiopn.oss-cn-beijing.aliyuncs.com/saas/step3-0.png" alt="">
				<p class="text-center">设置完成</p>
			</div>
		</div> -->
		<!-- 第二步 -->
		<div class="second-step" ng-if="false">
			<div class="col-md-4 step">
				<img class="img-thumbnail center-block" src="https://weiopn.oss-cn-beijing.aliyuncs.com/saas/step1-0.png" alt="">
			</div>
			<div class="col-md-4 step">
				<img class="img-thumbnail center-block" src="https://weiopn.oss-cn-beijing.aliyuncs.com/saas/step2-1.png" alt="">
			</div>
			<div class="col-md-4 step">
				<img class="img-thumbnail center-block" src="https://weiopn.oss-cn-beijing.aliyuncs.com/saas/step3-0.png" alt="">
			</div>
		</div>
		<!-- 第三步 -->
		<div class="third-step" ng-if="false">
			<div class="col-md-4 step">
				<img class="img-thumbnail center-block" src="https://weiopn.oss-cn-beijing.aliyuncs.com/saas/step1-0.png" alt="">
			</div>
			<div class="col-md-4 step">
				<img class="img-thumbnail center-block" src="https://weiopn.oss-cn-beijing.aliyuncs.com/saas/step2-0.png" alt="">
			</div>
			<div class="col-md-4 step">
				<img class="img-thumbnail center-block" src="https://weiopn.oss-cn-beijing.aliyuncs.com/saas/step3-1.png" alt="">
			</div>
		</div>
	</div>
	<!-- 主体 -->
	<main>
		<!-- 选择模板 -->
		
		<!-- 活动设置 -->

	</main>
</div>
</div>