<!-- 选择模板 -->
<div class="main">
	<div class="choosetemplate col-md-12 center-block">
		<div class="choosecategory center-block">
			<div class="title col-md-2 text-center"><span>分类模板&nbsp;&nbsp;:</span></div>
			<div class="col-md-1 text-center"><span class="type all chose">全部</span></div>
			<div class="col-md-8">
				<!-- 模板类型 -->
				<span class="type" ng-repeat="item in list">{{item.name}}</span>
			</div>
		</div>
		<div class="showtemplate center-block">
			<div class="col-md-3 template" ng-repeat="item in type">
				<div class="shadow-frame">
					<div class="image">
						<img class="img-thumbnail center-block" ng-src="{{item.extPicUrl}}" alt="">
					</div>
					<div class="qr text-center">
						<p>{{item.name}}</p>
						<img ng-src="{{item.qrCode}}" alt="">
						<button class="choose" ng-click="getstartedtoconfig($events, item.code)" data-confurl="{{item.confUrl}}" data-pagecode="{{item.pageCode}}" data-pagename="{{item.pageName}}">使用</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 分页 -->
		<sa-turnpage conf="turnpageConf"></sa-turnpage>
	</div>
</div>
