<div>
	<div class="panel-body">
		<table class="table table-striped table-bordered">
			<thead>
				<tr class="table-head">
					<th>缩略图</th>
					<th>品牌</th>
					<th>规格</th>
					<th>公司名称</th>
					<th>价类</th>
					<th>包装</th>
					<th>价格(元)</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="list" ng-repeat="(idx, item) in conf.data.list">
					<td><img ng-src="{{item.product.smallPic}}" alt=""></td>
					<td>{{item.product.brandName}}</td>
					<td>{{item.product.allName}}</td>
					<td>{{item.orgName}}</td>
					<td>{{item.gradeName}}</td>
					<td>{{item.packName}}</td>
					<td>{{item.price}}</td>
					<td>
						<div class="oper-btn-wrap">
							<div class="operate-btn float-left">修改</div>
							<div class="operate-btn float-left">删除</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="total-page">总共{{totalCount}}条记录<span ng-if="totalCount != 0">，当前页共{{size}}条记录</span></div>
	</div>
</div>