<div>
	<div class="pop-header">
		<p class="pop-title float-left">新建活动 > {{pageName}}</p>
		<sa-popback></sa-popback>
	</div>
	<div class="ui-panel-box panel border-box">
		<form name="form" novalidate class="pop-inner" role="form" ng-submit="submitForm(form.$valid)">
			<!-- 配置 -->
			<div class="configuration css-form col-md-8 col-lg-8">
				<!-- 基本信息 -->
				<div class="basic config-item">
					<h6>基本信息</h6>
					<sa-basicInfo conf="basicInfoConf"></sa-basicInfo>
				</div>
				<!-- 参与设置 -->
				<!-- <div class="participate-relate config-item">
					<h6>参与设置</h6>
					<sa-participateInfo conf="participateInfoConf"></sa-participateInfo>
				</div> -->
				<!-- 投放设置 -->
				<div class="launch-relate config-item">
					<h6>投放设置</h6>
					<sa-launchInfo conf="launchInfoConf"></sa-launchInfo>
				</div>
				<!-- 中奖设置 -->
				<div class="prize-relate config-item">
					<h6>中奖设置</h6>
					<sa-setPrize conf="setPrizeConf"></sa-setPrize>
				</div>
				<!-- 按钮区 -->
				<sa-finalcreate conf="finalcreateConf"></sa-finalcreate>
			</div>

			<!-- 预览 -->
			<div class="preview col-md-4 col-lg-4">
				<p>{{pageName}}活动样式</p>
				<div class="image">
					<img src="{{actsrc}}" alt="">
				</div>
			</div>
		</form>
	</div>
</div>
