<div>	
	<div class="md create-cigarette-body fixed-label-w">
		<div class="form-inline">
			<label for="brands" class="control-label col-md-4 col-xs-6">关联品牌</label>
			<div class="col-md-8 col-xs-12 inline">
				<select class="form-control input-sm" name="brands" id="brands" ng-model="selectbrands" value="{{selectbrands}}">
	    		<option ng-repeat="item in conf.brandlist" value="{{item.brandCode}}">{{item.name}}</option>
				</select>
			</div>
    	
		</div>
		<div class="form-inline">
			<label for="" class="required control-label col-md-4 col-xs-6">条形码</label>
			<div class="col-md-8 col-xs-12 inline">
				<input type="text" class="form-control input-sm" placeholder="请输入条形码" ng-model="sn" value="{{sn}}">
			</div>
			<div class="inline">
				<div class="btn btn-default" ng-click="checksn($event)" required>查询</div>
			</div>
		</div>
		<div class="edit-part" ng-if="conf.snData">
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">规格</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" placeholder="请输入规格名称" value="{{conf.snData.product.name}}" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">价格(元)</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" placeholder="请输入价格" value="{{conf.snData.price}}" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">图片</label>
				<div class="inline-col-md-8 col-xs-12">
					<input type="file" class="form-control input-sm" ng-class="{'hidden': conf.snData.product.smallPic}" ng-disabled="disabled">
				</div>
				<span ng-class="{'hidden': !conf.snData.product.smallPic}">
					<img ng-src="{{conf.snData.product.smallPic}}" alt="">
				</span>
			</div>
			<div class="form-inline">
				<label for="cigatype" class="control-label col-md-4 col-xs-6">卷烟类型</label>
				<div class="inline col-md-8 col-xs-12">
					<select name="" id="cigatype" class="form-control input-sm" ng-model="cigatype" ng-disabled="disabled" value="{{}}">
						<option ng-repeat="item in type" value="{{item.typeName}}" ng-selected="{{item.typeName}}">全部</option>
					</select>
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">焦油含量</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" placeholder="请输入焦油含量" value="{{conf.snData.oil}}" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">烟碱量</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" placeholder="请输入烟碱量" value="{{conf.snData.nicotine}}" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">一氧化碳量</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" placeholder="请输入一氧化碳量" value="{{conf.snData.carbonMonoxide}}" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">烟支长度</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" placeholder="请输入烟支长度" value="{{conf.snData.length}}" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">烟支数量</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" placeholder="请输入烟支数量" value="{{conf.snData.num}}" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">包装单位</label>
				<div class="inline col-md-8 col-xs-12">
					<select class="form-control input-sm" name="" id="" ng-disabled="disabled" value="{{}}">
						<option value="">盒</option>
					</select>
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">包装</label>
				<div class="inline col-md-8 col-xs-12">
					<select class="form-control input-sm" name="" id="" ng-disabled="disabled" value="{{}}">
					<option value="">软包</option>
				</select>
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">价类</label>
				<div class="inline col-md-8 col-xs-12">
					<select class="form-control input-sm" name="" id="" ng-disabled="disabled" value="{{}}">
						<option value="">一类</option>
					</select>
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">二级价类</label>
				<div class="inline col-md-8 col-xs-12">
					<select class="form-control input-sm" name="" id="" ng-disabled="disabled" value="{{}}">
						<option value="">二类</option>
					</select>
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">批次自动激活延期天数</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" value="{{conf.snData.activeDays}}" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">描述</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" value="{{conf.snData.product.memo}}" ng-disabled="disabled">
				</div>
			</div>
		</div>
		<div ng-if="!conf.snData">
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">规格</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" placeholder="请输入规格名称" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">价格(元)</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" placeholder="请输入价格" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">图片</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="file" class="form-control input-sm" ng-disabled="disabled">
				</div>
			<!-- 	<span ng-class="{'hidden': !conf.snData.product.smallPic}">
					<img ng-src="{{conf.snData.product.smallPic}}" alt="">
				</span> -->
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">卷烟类型</label>
				<div class="inline col-md-8 col-xs-12">
					<select name="" id="" class="form-control input-sm" ng-disabled="disabled">
						<option value="1">全部</option>
					</select>
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">焦油含量</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" placeholder="请输入焦油含量" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">烟碱量</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" placeholder="请输入烟碱量" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">一氧化碳量</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" placeholder="请输入一氧化碳量" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">烟支长度</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" placeholder="请输入烟支长度" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">烟支数量</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" placeholder="请输入烟支数量" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">包装单位</label>
				<div class="inline col-md-8 col-xs-12">
					<select class="form-control input-sm" name="" id="" ng-disabled="disabled">
						<option value="">盒</option>
					</select>
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">包装</label>
				<div class="inline col-md-8 col-xs-12">
					<select class="form-control input-sm" name="" id="" ng-disabled="disabled">
						<option value="">软包</option>
					</select>
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">价类</label>
				<div class="inline col-md-8 col-xs-12">
					<select class="form-control input-sm" name="" id="" ng-disabled="disabled">
						<option value="">一类</option>
					</select>
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">二级价类</label>
				<div class="inline col-md-8 col-xs-12">
					<select class="form-control input-sm" name="" id="" ng-disabled="disabled">
						<option value="">二类</option>
					</select>
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">批次自动激活延期天数</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" ng-disabled="disabled">
				</div>
			</div>
			<div class="form-inline">
				<label for="" class="control-label col-md-4 col-xs-6">描述</label>
				<div class="inline col-md-8 col-xs-12">
					<input type="text" class="form-control input-sm" ng-disabled="disabled">
				</div>
			</div>
		</div>
	</div>
</div>