<div class="launchinfo form-horizontal">
	<div class="form-group col-md-5 select-brand configuration-item" ng-class="{'has-error': parentForm.brand.$dirty && (parentForm.brand.$error.required || parentForm.brand.$invalid), 'has-success': parentForm.brand.$dirty && parentForm.brand.$valid}">
		<label class="control-label col-sm-2">选择品牌</label>
		<div class="col-sm-9">
			<select name="brand" class="form-control input-sm select" ng-model="selectBrandVal" ng-disabled="disabled" required>
				<option value="">请选择</option>
				<option ng-repeat="item in brand" value="{{item.brandCode}}" required>{{item.name}}</option>
			</select>
		</div>
	</div>
	<div class="form-group col-md-5 select-specification configuration-item" ng-class="{'has-error': parentForm.speci.$dirty && (parentForm.speci.$error.required || parentForm.speci.$invalid), 'has-success': parentForm.speci.$dirty && parentForm.speci.$valid}">
		<label class="control-label col-sm-2">选择规格</label>
		<div class="col-sm-9">
			<select name="speci" ng-model="selectSpecificationVal" class="select form-control input-sm" ng-disabled="disabled" required>
				<option value="">请选择</option>
				<option ng-repeat="item in specification" value="{{item.sn}}">{{item.name}}</option>
			</select>
		</div>
		<div ng-show="parentForm.$submitted || parentForm.selectspeci.$touched">
			<div ng-show="!parentForm.selectspeci.$viewValue" class="wrong-tip">请选择投放规格</div>
		</div>
	</div>
	<div class="select-area multi configuration-item col-md-5 form-group">
		<label class="control-label col-sm-2">投放地区</label>
		<div class="col-sm-9">
			<select name="selectarea" ng-model="selectAreaVal" value="{{selectAreaVal}}" multiple="multiple" class="select form-control input-sm" required ng-hide="edit"></select>
			<div class="btn-group edit" ng-show="edit">
				<button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="{{adcodenames}}" aria-expanded="false"><span class="multiselect-selected-text">{{adcodenames}}</span>
				</button>
			</div>
		</div>
		<div ng-show="parentForm.$submitted || parentForm.selectarea.$touched">
			<div ng-show="!parentForm.selectarea.$viewValue" class="wrong-tip">请选择投放地区</div>
		</div>
	</div>
	<div class="select-duration configuration-item form-group col-md-5">
		<label class="control-label col-sm-2">投放时间</label>
		<div class="col-sm-9">
			<div class="col-sm-5">
				<input type="text" name="startTime" ng-model="startTime" class="date form_datetime form-control input-sm" addsecond placeholder="年-月-日 时-分-秒" required>
			</div>
			<div class="col-sm-1">至</div>
			<div class="col-sm-5">
				<input type="text" name="endTime" ng-model="endTime" class="date form_datetime form-control input-sm" addsecond placeholder="年-月-日 时-分-秒" required>
			</div>
			<div ng-show="parentForm.$submitted || parentForm.startTime.$touched || parentForm.endTime.$touched">
				<div ng-show="parentForm.startTime.$error.required || parentForm.endTime.$error.required" class="wrong-tip">请选择完整的投放时间</div>
			</div>
			<div class="remark col-sm-12">
				<input class="weekday" type="radio" name="timeduartion" value='1' ng-model="whichday"><label for="">仅选择此时段<strong>工作日</strong></label>
				<input class="weekend" type="radio" name="timeduartion" value='2' ng-model="whichday"><label for="">仅选择此时段<strong>节假日</strong></label>
				<input class="both" type="radio" name="timeduartion" value='3' ng-model="whichday" checked><label for="">均包括</label>
			</div>
		</div>
	</div>
</div>
