<div class="launchinfo multi form-horizontal">
<!-- 	<div class="select-company configuration-item">
		<select ng-model="selectCompanyVal" value="{{selectCompanyVal}}">
			<option value="" selected="selected">请先选择供应商</option>
			<option ng-repeat="item in company" value="{{item.supplierCode}}">{{item.name}}</option>
		</select>
	</div> -->
	<div class="select-brand configuration-item form-group col-md-5">
		<label class="control-label col-sm-2">选择品牌</label>
		<div class="col-sm-9">
			<select class="select form-control input-sm" ng-model="selectBrandVal" value="{{selectBrandVal}}">
				<option ng-repeat="item in brand" value="{{item.brandCode}}" required>{{item.name}}</option>
			</select>
		</div>
	</div>
	<div class="select-specification configuration-item form-group col-md-5">
		<label class="control-label col-sm-2">选择规格</label>
		<div class="col-sm-9">
			<select ng-model="selectSpecificationVal" value="{{selectSpecificationVal}}" class="select form-control input-sm" required>
				<option ng-repeat="item in specification" value="{{item.sn}}">{{item.name}}</option>
			</select>
		</div>
	</div>
	<div class="select-area configuration-item col-md-5 form-group">
		<label class="control-label col-sm-2">投放地区</label>
		<div class="col-sm-9">
			<select ng-model="selectAreaVal" value="{{selectAreaVal}}" multiple="multiple" class="select form-control input-sm" required></select>
		</div>
	</div>
	<div class="select-duration configuration-item form-group col-md-5">
		<label class="control-label col-sm-2">投放时间</label>
		<div class="col-sm-9">
			<div class="col-sm-5">
				<input type="text" name="startTime" ng-model="startTime" class="date form_datetime form-control input-sm" addsecond placeholder="年-月-日 时-分-秒" readonly="disabled" ng-disabled="disabled" required>
			</div>
			<div class="col-sm-1">至</div>
			<div class="col-sm-5">
				<input type="text" name="endTime" ng-model="endTime" class="date form_datetime form-control input-sm" addsecond placeholder="年-月-日 时-分-秒" readonly="disabled" ng-disabled="disabled" required>
			</div>
			<div class="remark col-sm-12">
				<input class="weekday" type="radio" name="timeduartion" value='1' ng-model="whichday" ng-disabled="disabled"><label for="">仅选择此时段<strong>工作日</strong></label>
				<input class="weekend" type="radio" name="timeduartion" value='2' ng-model="whichday" ng-disabled="disabled"><label for="">仅选择此时段<strong>节假日</strong></label>
				<input class="both" type="radio" name="timeduartion" value='3' ng-model="whichday" ng-disabled="disabled" checked><label for="">均包括</label>
			</div>
		</div>
	</div>
</div>
