<div class="ui-search-block multi">
<!-- 	<div class="select-company configuration-item">
		<select ng-model="selectCompanyVal" value="{{selectCompanyVal}}">
			<option value="" selected="selected">请先选择供应商</option>
			<option ng-repeat="item in company" value="{{item.supplierCode}}">{{item.name}}</option>
		</select>
	</div> -->
	<div class="select-brand configuration-item">
		<small>*</small>
		<small class="wrong-tip hidden">请选择投放品牌</small>
		<select ng-model="selectBrandVal" value="{{selectBrandVal}}" class="select">
			<option ng-repeat="item in brand" value="{{item.brandCode}}" required>{{item.name}}</option>
		</select>
	</div>
	<div class="select-specification configuration-item">
		<small>*</small>
		<small class="wrong-tip hidden">请选择投放规格</small>
		<select ng-model="selectSpecificationVal" value="{{selectSpecificationVal}}" class="select" required>
			<option ng-repeat="item in specification" value="{{item.sn}}">{{item.name}}</option>
		</select>
	</div>
	<div class="select-area configuration-item">
		<small>*</small>
		<small class="wrong-tip hidden">请选择投放地区</small>
		<select ng-model="selectAreaVal" value="{{selectAreaVal}}" multiple="multiple" class="select" required></select>
	</div>
	<div class="select-duration configuration-item">
		<small>*</small>
		<small class="wrong-tip hidden">请选择投放时间</small>
		<input type="text" name="startTime" ng-model="startTime" class="date form_datetime" addsecond placeholder="年-月-日 时-分-秒" readonly="disabled" required>
		&nbsp;&nbsp;至&nbsp;&nbsp;
    <input type="text" name="endTime" ng-model="endTime" class="date form_datetime" addsecond placeholder="年-月-日 时-分-秒" readonly="disabled" required>
		<div class="remark">
			<input class="weekday" type="radio" name="timeduartion" value='1' ng-model="whichday" ng-disabled="disabled"><label for="">仅选择此时段<strong>工作日</strong></label>
			<input class="weekend" type="radio" name="timeduartion" value='2' ng-model="whichday" ng-disabled="disabled"><label for="">仅选择此时段<strong>节假日</strong></label>
			<input class="both" type="radio" name="timeduartion" value='3' ng-model="whichday" ng-disabled="disabled"><label for="">均包括</label>
		</div>
	</div>
</div>
