<div>
    <div class="ui-navbar-left navbar-left">
        <ul id="menu_left">
            <li ng-repeat="tab in tabs">
                <a href="{{tab.menu.manuUrl}}" ng-href="{{tab.nodeList.length ? '' : tab.menu.manuUrl}}">
                    <i class="fa fa-{{tab.menu.menuCode}}"></i>
                    <span class="ellipsis">{{tab.menu.menuName}}</span>
                    <i class="sa"></i>
                </a>
                <ul ng-if="tab.nodeList.length">
                    <li ng-repeat="node in tab.nodeList">
                        <a ng-href="{{node.manuUrl}}" data-target="{{node.menuCode}}" ng-if="node.menuName!==''" data-hash="{{node.manuUrl}}">
                            <span class="ellipsis">{{node.menuName}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>