<div class="ui-multi-scope">
    <div class="ui-search-block" id="seach_scope">
        <div class="col-md-12 form-inline">
            <label for="">查询时间：</label>
            <input type="text" name="startTime" ng-model="startTime" class="date form-control input-sm" readonly="">
            <select class="hours form-control" name="startHour" ng-model="startHour">
                <option ng-repeat="h in hours" value="{{h < 10 ? '0'+h : h}}" ng-selected="$index==0">{{h < 10 ? '0'+h : h}}:00:00</option>
            </select>&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;
            <input type="text" name="endTime" ng-model="endTime" class="date form-control input-sm" readonly="">
            <select class="hours form-control" name="endHour" ng-model="endHour">
                <option ng-repeat="h in hours" value="{{h < 10 ? '0'+h : h}}" ng-selected="$index==0">{{h < 10 ? '0'+h : h}}:00:00</option>
            </select>&nbsp;
        </div>
    </div>
    <div class="ui-search-block multi">
        <div class="col-md-4">
            <label for="">品牌：</label>
            <select name="productBrand" ng-model="productBrand" multiple="multiple">
                <option value="{{pb}}" ng-repeat="pb in pbArray">{{pb}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="">规格：</label>
            <select name="productName" ng-model="productName" multiple="multiple" data-api="/api/tztx/dataportal/statistics/getProduct">
                <option value="{{pn.name}}_{{pn.productId}}" ng-repeat="pn in pnArray">{{pn.name}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="">包装：</label>
            <select name="productPack" ng-model="productPack" multiple="multiple">
                <option value="{{pp}}" ng-repeat="pp in ppArray">{{pp}}</option>
            </select>
        </div>
    </div>
    <div class="ui-search-block multi">
        <div class="col-md-4">
            <label for="">销区：</label>
            <select class="select" name="saleZone" ng-model="saleZone" multiple="multiple">
                <option value="{{sz.v}}_{{sz.k}}" ng-repeat="sz in szArray">{{sz.v}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="">省：</label>
            <select ng-model="provinceName" name="provinceName" multiple="multiple">
                <option value="{{pra}}" ng-repeat="pra in prNArray">{{pra}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="">市：</label>
            <select ng-model="cityName" name="cityName" multiple="multiple">
                <option value="{{cn}}" ng-repeat="cn in cnArray">{{cn}}</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="ui-search-block">
        <div class="col-md-12">
            <label class="result">查询结果：</label>
            <ul class="ui-result-list"></ul>
        </div>
    </div>
</div>