<div>
    <div class="ui-navbar-header navbar-header">
        <img src="statics/assets/image/logo.png" class="ui-navbar-logo">
    </div>
    <div class="navbar-collapse collapse">
        <ul class="ui-navbar-title nav navbar-nav navbar-left">
            <li ng-repeat="n in nav" ng-class="{'active':$index==activeId}" ng-click="changeNav($event, n);" data-hash="{{n.hash}}" class="{{style}}">
                <a href="javascript:void(0)">{{n.text}}</a>
                <span>|</span>
            </li>
            <li class="ui-navbar-user dropdown glyphicon">
                <i class="fa fa-person"></i>
                <div type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div title="张三">张三</div><span class="caret"></span>
                </div>
                <ul class="dropdown-menu" aria-labelledby="userDetail">
                    <li ng-click="changePassword()">修改密码</li>
                    <li ng-click="webLogout()">安全退出</li>
                </ul>
            </li>
        </ul>
    </div>
</div>