<div>
    <div class="ui-navbar-header navbar-header">
        <a class="ui-navbar-logo" href="#">橙&nbsp;&nbsp;杏</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="ui-navbar-title nav navbar-nav navbar-left">
            <li ng-repeat="n in nav" ng-class="{'active':$index==activeId}" ng-click="changeNav($event, n);" data-hash="{{n.hash}}" class="{{style}}">
                <a href="javascript:void(0)">{{n.text}}</a>
                <span>|</span>
            </li>
        </ul>
    </div>
    <div class="ui-navbar-user">
        <a href="" class="glyphicon">
            <i class="fa fa-person"></i>
        </a>
    </div>
</div>