<div class="">
	<div class="participate-integral configuration-item">
		<input type="number" ng-model="nameIntegral" value="{{nameIntegral}}" placeholder="请输入数字" ng-readonly="disabled" ng-keyup="verify($event)">
	</div>
	<div class="per-person-day configuration-item">
		<input type="number" ng-model="namePerPersonDay" value="{{namePerPersonDay}}" placeholder="请输入数字" maxlength="12" ng-readonly="disabled" ng-keyup="verify($event)">
	</div>
	<div class="per-person configuration-item">
		<input type="number" ng-model="namePerPerson" value="{{namePerPerson}}" placeholder="请输入数字" maxlength="12" ng-readonly="disabled" ng-keyup="verify($event)">
	</div>
</div>