<div id="setprize">
	<!-- 首抽 -->
	<div class="first-draw gotoset" id="first_draw">
		<input type="checkbox" class="first-draw-cbox" ng-model="myVar" ng-init="myVar = false" ng-disabled="disabled"><span>首抽必中</span>
		<!-- 首抽中奖设置 -->
		<div class="first-draw-prize-wrap" ng-show="myVar" ng-click="close($event)">
			<h6>拉新用户奖池</h6>
			<div class="ready-set" ng-click="changeTab($event)">
				<div class="draw-prize-wrap">
					<div class="prize-config border-box">
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-prizename hidden">请设置奖项名称</small>
							<input type="text" class="prizename" maxlength="20">
						</div>
						<div class="configuration-item radio-wrap">
							<div class="radio-group">
								<div class="circle-tick active"><i class="circle"></i>礼品</div>
							</div>
							<div class="radio-group">
								<div class="circle-tick"><i class="circle"></i>微信红包</div>
							</div>
							<div class="radio-group">
								<div class="circle-tick"><i class="circle"></i>积分</div>
							</div>
						</div>
						<div class="radio-res-wrap">
							<!-- 礼品 -->
							<div class="gift radio-res">
								<div class="configuration-item">
									<b>*</b>
									<small class="wrong-tip wrong-tip-gift hidden">请点击选择相应的产品</small>
									<div class="choose-list">
										<button class="fake-choose-button add-prize show-product-list">+选择产品</button>
										<button class="btn btn-default" data-toggle="modal" data-target=".create-realProduct-modal">+选择产品</button>
									</div>
									
									<div class="prize-img-preview">
										<div class="mask">暂无产品</div>
										<img src="" alt="">
									</div>
								</div>
								<div class="configuration-item">
									<b>*</b>
									<small class="wrong-tip  wrong-tip-num hidden">请设置奖品的发放数量</small>
									<input type="text" class="number" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">
									<button class="btn btn-default add-inventory add-gift-stock" data-toggle="modal" data-target=".add-giftstock-pop">增库</button>
									<div class="present-integral">
										<input type="checkbox" class="tickcheckbox"><label for="">同时赠送积分</label>
										<div class="sendscore hidden">
											<div class="choose-list">
												<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
												<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分池</button>
											</div>
											<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">积分
										</div>
									</div>
								</div>
							</div>

							<!-- 微信红包 -->
							<div class="hb radio-res hidden">
								<div class="configuration-item">
									<b>*</b>
									<small class="wrong-tip wrong-tip-redpack hidden">请点击选择相应的红包</small>
									<div class="choose-list">
										<button class="fake-choose-button add-prize show-hb-list">+选择红包池</button>
										<button class="btn btn-default" data-toggle="modal" data-target=".create-hbProduct-modal">+选择红包模板</button>
									</div>
									<div class="hb-two-one">
										<small class="wrong-tip wrong-tip-redpack-type hidden">请选择相应的红包类型并填写金额</small>
										<div class="random-hb hb-money-wrap">
											<div class="circle-money-tick active">
												<i class="circle"></i>随机金额
											</div>
											<input type="text" class="min hbdecimal" placeholder="请输入数字" maxlength="10">元 —— <input type="text" class="max hbdecimal" placeholder="请输入数字" maxlength="10">元
										</div>
										<div class="fixed-hb hb-money-wrap">
											<div class="circle-money-tick">
												<i class="circle"></i>固定金额
											</div>
											<input type="text" class="fixed hbdecimal" readonly="true" placeholder="请输入数字" maxlength="10">元
										</div>
									</div>
								</div>
								<div class="configuration-item">
									<b>*</b>
									<small class="wrong-tip wrong-tip-redpack-money hidden">请填写发放的金额总数</small>
									<input type="text" class="money hbdecimal" placeholder="请填写奖金总数" maxlength="10">
									<button class="btn btn-default add-inventory add-hb-stock" data-toggle="modal" data-target=".add-hbstock-pop">增库</button>
								</div>
								<div class="configuration-item">
									<b>*</b>
									<small class="wrong-tip wrong-tip-redpack-num hidden">请填写发放的红包数量</small>
									<input type="text" class="number" placeholder="请填写红包数量" ng-keyup="notminusnotzero($event)" maxlength="10">
									<div class="present-integral">
										<input type="checkbox" class="tickcheckbox"><label for="">同时赠送积分</label>
										<div class="sendscore hidden">
											<div class="choose-list">
												<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
												<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分池</button>
											</div>
											<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">积分
										</div>
									</div>
								</div>
							</div>

							<!-- 积分 -->
							<div class="jf radio-res hidden">
								<div class="configuration-item">
									<div class="choose-list">
										<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
										<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分模板</button>
									</div>									
								</div>
								<div class="configuration-item">
									<b>*</b>
									<small class="wrong-tip wrong-tip-score hidden">请填写赠送的积分</small>
									<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">
								</div>
								<div class="configuration-item">
									<b>*</b>
									<small class="wrong-tip wrong-tip-score-num hidden">请填写积分奖品发放的个数</small>
									<input type="text" class="number" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">
								</div>
							</div>
						</div>
					</div>
					<i class="close">×</i>
					<div class="wrong-tip hidden">请完善该奖项信息，确保红星标识处已填写！</div>
				</div>
			</div>
			<button type="submit" class="btn btn-default create-prize-btn" ng-click="createNewPrize($event)">+新增奖项</button>
		</div>
	</div>
	<!-- 非首抽 -->
	<div class="non-first-draw gotoset" id="none_first_draw">
		<h6>常规奖池</h6>
		<!-- 非首抽中奖设置 -->
		<div class="non-first-draw-wrap" ng-click="close($event)">
			<div class="ready-set" ng-click="changeTab($event)">
				<div class="draw-prize-wrap">
					<div class="prize-config border-box">
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-chance hidden">请设置奖项概率</small>
							<input type="text" class="chance decimal" placeholder="请输入数字">%
						</div>
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-prizename hidden">请设置奖项名称</small>
							<input type="text" class="prizename" maxlength="10">
						</div>
						<div class="configuration-item radio-wrap">
							<div class="radio-group">
								<div class="circle-tick active"><i class="circle"></i>礼品</div>
							</div>
							<div class="radio-group">
								<div class="circle-tick"><i class="circle"></i>微信红包</div>
							</div>
							<div class="radio-group">
								<div class="circle-tick"><i class="circle"></i>积分</div>
							</div>
						</div>
						<div class="radio-res-wrap">
							<!-- 礼品 -->
							<div class="gift radio-res">
								<div class="configuration-item">
									<b>*</b>
									<small class="wrong-tip wrong-tip-gift hidden">请点击选择相应的产品</small>
									<div class="choose-list">
										<button class="fake-choose-button add-prize show-product-list">+选择产品</button>
										<button class="btn btn-default" data-toggle="modal" data-target=".create-realProduct-modal">+选择产品</button>
									</div>
									<div class="prize-img-preview">
										<div class="mask">暂无产品</div>
										<img src="" alt="">
									</div>
								</div>
								<div class="configuration-item">
									<b>*</b>
									<small class="wrong-tip wrong-tip-num hidden">请设置奖品的发放数量</small>
									<input type="text" class="number" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">
									<div class="present-integral">
										<input type="checkbox" class="tickcheckbox" ng-disabled="disabled"><label for="">同时赠送积分</label>
										<div class="sendscore hidden">
											<div class="choose-list">
												<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
												<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分池</button>
											</div>
											<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">积分
										</div>
									</div>
								</div>
							</div>

							<!-- 微信红包 -->
							<div class="hb radio-res hidden">
								<div class="configuration-item">
									<b>*</b>
									<small class="wrong-tip wrong-tip-redpack hidden">请点击选择相应的红包</small>
									<div class="choose-list">
										<button class="fake-choose-button add-prize show-hb-list">+选择红包池</button>
										<button class="btn btn-default" data-toggle="modal" data-target=".create-hbProduct-modal">+选择红包模板</button>
									</div>
									<div class="hb-two-one">
										<small class="wrong-tip hidden wrong-tip-redpack-type">请选择相应的红包类型并填写金额</small>
										<div class="random-hb hb-money-wrap">
											<div class="circle-money-tick active">
												<i class="circle"></i>随机金额
											</div>
											<input type="text" class="min hbdecimal" placeholder="请输入数字" maxlength="10">元 —— <input type="text" class="max hbdecimal" placeholder="请输入数字" maxlength="10">元
										</div>
										<div class="fixed-hb hb-money-wrap">
											<div class="circle-money-tick">
												<i class="circle"></i>固定金额
											</div>
											<input type="text" class="fixed hbdecimal" readonly="true" placeholder="请输入数字" maxlength="10">元
										</div>
									</div>
								</div>
								<div class="configuration-item">
									<b>*</b>
									<small class="wrong-tip wrong-tip-redpack-money hidden">请填写发放的金额总数</small>
									<input type="text" class="money hbdecimal" placeholder="请填写奖金总数" maxlength="10">
								</div>
								<div class="configuration-item">
									<b>*</b>
									<small class="wrong-tip wrong-tip-redpack-num hidden">请填写发放的红包个数</small>
									<input type="text" class="number" placeholder="请填写红包个数" ng-keyup="notminusnotzero($event)" maxlength="10">
									<div class="present-integral">
										<input type="checkbox" class="tickcheckbox"><label for="">同时赠送积分</label>
										<div class="sendscore hidden">
											<div class="choose-list">
												<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
												<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分池</button>
											</div>
											<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">积分
										</div>
									</div>
								</div>
							</div>

							<!-- 积分 -->
							<div class="jf radio-res hidden">
								<div class="configuration-item">
									<div class="choose-list">
										<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
										<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分模板</button>
									</div>									
								</div>
								<div class="configuration-item">
									<b>*</b>
									<small class="wrong-tip wrong-tip-score hidden">请填写赠送的积分</small>
									<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">
								</div>
								<div class="configuration-item">
									<b>*</b>
									<small class="wrong-tip wrong-tip-score-num hidden">请填写积分奖品发放的个数</small>
									<input type="text" class="number" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">
								</div>
							</div>
						</div>
					</div>
					<i class="close">×</i>
					<div class="wrong-tip hidden">请完善该奖项信息，确保红星标识处已填写！</div>
				</div>
			</div>
			<button type="submit" class="btn btn-default create-prize-btn" ng-click="createNewPrize($event)">+新增奖项</button>
		</div>
	</div>
	<script type="text/html" id="special-prize">
		<div class="draw-prize-wrap">
			<div class="prize-config border-box">
				<div class="configuration-item">
					<b>*</b>
					<small class="wrong-tip wrong-tip-prizename hidden">请设置奖项名称</small>
					<input type="text" class="prizename" maxlength="20">
				</div>
				<div class="configuration-item radio-wrap">
					<div class="radio-group">
						<div class="circle-tick active"><i class="circle"></i>礼品</div>
					</div>
					<div class="radio-group">
						<div class="circle-tick"><i class="circle"></i>微信红包</div>
					</div>
					<div class="radio-group">
						<div class="circle-tick"><i class="circle"></i>积分</div>
					</div>
				</div>
				<div class="radio-res-wrap">
					<!-- 礼品 -->
					<div class="gift radio-res">
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-gift hidden">请点击选择相应的产品</small>
							<div class="choose-list">
								<button class="fake-choose-button add-prize show-product-list">+选择产品</button>
								<button class="btn btn-default" data-toggle="modal" data-target=".create-realProduct-modal">+选择产品</button>
							</div>
							<div class="prize-img-preview">
								<div class="mask">暂无产品</div>
								<img src="" alt="">
							</div>
						</div>
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip  wrong-tip-num hidden">请设置奖品的发放数量</small>
							<input type="text" class="number" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">
							<button class="btn btn-default add-inventory add-gift-stock" data-toggle="modal" data-target=".add-giftstock-pop">增库</button>
							<div class="present-integral">
								<input type="checkbox" class="tickcheckbox"><label for="">同时赠送积分</label>
								<div class="sendscore hidden">
									<div class="choose-list">
										<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
										<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分池</button>
									</div>
									<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">积分
								</div>
							</div>
						</div>
					</div>

					<!-- 微信红包 -->
					<div class="hb radio-res hidden">
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-redpack hidden">请点击选择相应的红包</small>
							<div class="choose-list">
								<button class="fake-choose-button add-prize show-hb-list">+选择红包池</button>
								<button class="btn btn-default" data-toggle="modal" data-target=".create-hbProduct-modal">+选择红包模板</button>
							</div>
							<div class="hb-two-one">
								<small class="wrong-tip wrong-tip-redpack-type hidden">请选择相应的红包类型并填写金额</small>
								<div class="random-hb hb-money-wrap">
									<div class="circle-money-tick active">
										<i class="circle"></i>随机金额
									</div>
									<input type="text" class="min hbdecimal" placeholder="请输入数字" maxlength="10">元 —— <input type="text" class="max hbdecimal" placeholder="请输入数字" maxlength="10">元
								</div>
								<div class="fixed-hb hb-money-wrap">
									<div class="circle-money-tick">
										<i class="circle"></i>固定金额
									</div>
									<input type="text" class="fixed hbdecimal" readonly="true" placeholder="请输入数字" maxlength="10">元
								</div>
							</div>
						</div>
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-redpack-money hidden">请填写发放的金额总数</small>
							<input type="text" class="money hbdecimal" placeholder="请填写奖金总数" maxlength="10">
							<button class="btn btn-default add-inventory add-hb-stock" data-toggle="modal" data-target=".add-hbstock-pop">增库</button>
						</div>
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-redpack-num hidden">请填写发放的红包数量</small>
							<input type="text" class="number" placeholder="请填写红包数量" ng-keyup="notminusnotzero($event)" maxlength="10">
							<div class="present-integral">
								<input type="checkbox" class="tickcheckbox"><label for="">同时赠送积分</label>
								<div class="sendscore hidden">
									<div class="choose-list">
										<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
										<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分池</button>
									</div>
									<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">积分
								</div>
							</div>
						</div>
					</div>

					<!-- 积分 -->
					<div class="jf radio-res hidden">
						<div class="configuration-item">
							<div class="choose-list">
								<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
								<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分模板</button>
							</div>									
						</div>
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-score hidden">请填写赠送的积分</small>
							<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">
						</div>
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-score-num hidden">请填写积分奖品发放的个数</small>
							<input type="text" class="number" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">
						</div>
					</div>
				</div>
				
			</div>
			<i class="close">×</i>
			<div class="wrong-tip hidden">请完善该奖项信息，确保红星标识处已填写！</div>
		</div>
	</script>
	
	<script type="text/html" id="non-special-prize">
		<div class="draw-prize-wrap">
			<div class="prize-config border-box">
				<div class="configuration-item">
					<b>*</b>
					<small class="wrong-tip wrong-tip-chance hidden">请设置奖项概率</small>
					<input type="text" class="chance decimal" placeholder="请输入数字">%
				</div>
				<div class="configuration-item">
					<b>*</b>
					<small class="wrong-tip wrong-tip-prizename hidden">请设置奖项名称</small>
					<input type="text" class="prizename" maxlength="20">
				</div>
				<div class="configuration-item radio-wrap">
					<div class="radio-group">
						<div class="circle-tick active"><i class="circle"></i>礼品</div>
					</div>
					<div class="radio-group">
						<div class="circle-tick"><i class="circle"></i>微信红包</div>
					</div>
					<div class="radio-group">
						<div class="circle-tick"><i class="circle"></i>积分</div>
					</div>
				</div>
				<div class="radio-res-wrap">
					<!-- 礼品 -->
					<div class="gift radio-res">
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-gift hidden">请点击选择相应的产品</small>
							<div class="choose-list">
								<button class="fake-choose-button add-prize show-product-list">+选择产品</button>
								<button class="btn btn-default" data-toggle="modal" data-target=".create-realProduct-modal">+选择产品</button>
							</div>
							<div class="prize-img-preview">
							  <div class="mask">暂无产品</div>
								<img src="" alt="">
							</div>
						</div>
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-num hidden">请设置奖品的发放数量</small>
							<input type="text" class="number" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">
							<div class="present-integral">
								<input type="checkbox" class="tickcheckbox"><label for="">同时赠送积分</label>
								<div class="sendscore hidden">
									<div class="choose-list">
										<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
										<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分池</button>
									</div>
									<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">积分
								</div>
							</div>
						</div>
					</div>

					<!-- 微信红包 -->
					<div class="hb radio-res hidden">
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-redpack hidden">请点击选择相应的红包</small>
							<div class="choose-list">
								<button class="fake-choose-button add-prize show-hb-list">+选择红包池</button>
								<button class="btn btn-default" data-toggle="modal" data-target=".create-hbProduct-modal">+选择红包模板</button>
							</div>
							<div class="hb-two-one">
								<small class="wrong-tip hidden wrong-tip-redpack-type">请选择相应的红包类型并填写金额</small>
								<div class="random-hb hb-money-wrap">
									<div class="circle-money-tick active">
										<i class="circle"></i>随机金额
									</div>
									<input type="text" class="min hbdecimal" placeholder="请输入数字" maxlength="10">元 —— <input type="text" class="max hbdecimal" placeholder="请输入数字" maxlength="10">元
								</div>
								<div class="fixed-hb hb-money-wrap">
									<div class="circle-money-tick">
										<i class="circle"></i>固定金额
									</div>
									<input type="text" class="fixed hbdecimal" readonly="true" placeholder="请输入数字" maxlength="10">元
								</div>
							</div>
						</div>
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-redpack-money hidden">请填写发放的金额总数</small>
							<input type="text" class="money hbdecimal" placeholder="请填写奖金总数"  maxlength="10">
						</div>
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-redpack-num hidden">请填写发放的红包个数</small>
							<input type="text" class="number" placeholder="请填写红包个数" ng-keyup="notminusnotzero($event)" maxlength="10">
							<div class="present-integral">
								<input type="checkbox" class="tickcheckbox"><label for="">同时赠送积分</label>
								<div class="sendscore hidden">
									<div class="choose-list">
										<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
										<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分池</button>
									</div>
									<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">积分
								</div>
							</div>
						</div>
					</div>

					<!-- 积分 -->
					<div class="jf radio-res hidden">
						<div class="configuration-item">
							<div class="choose-list">
								<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
								<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分模板</button>
							</div>									
						</div>
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-score hidden">请填写赠送的积分</small>
							<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">
						</div>
						<div class="configuration-item">
							<b>*</b>
							<small class="wrong-tip wrong-tip-score-num hidden">请填写积分奖品发放的个数</small>
							<input type="text" class="number" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">
						</div>
					</div>
				</div>
			</div>
			<i class="close">×</i>
			<div class="wrong-tip hidden">请完善该奖项信息，确保红星标识处已填写！</div>
		</div>
	</script>

	<!-- 以下是编辑界面需要渲染的html -->
	<script type="text/html" id="specialgifthtml">
		<div class="gift radio-res hidden">
			<div class="configuration-item">
				<b>*</b>
				<small class="wrong-tip wrong-tip-gift hidden">请点击选择相应的产品</small>
				<div class="choose-list">
					<button class="fake-choose-button add-prize show-product-list">+选择产品</button>
					<button class="btn btn-default" data-toggle="modal" data-target=".create-realProduct-modal">+选择产品</button>
				</div>
				<div class="prize-img-preview">
				  <div class="mask">暂无产品</div>
					<img src="" alt="">
				</div>
			</div>
			<div class="configuration-item">
				<b>*</b>
				<small class="wrong-tip  wrong-tip-num hidden">请设置奖品的发放数量</small>
				<input type="text" class="number" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">
				<button class="btn btn-default add-inventory add-gift-stock" data-toggle="modal" data-target=".add-giftstock-pop">增库</button>
				<div class="present-integral">
					<input type="checkbox" class="tickcheckbox"><label for="">同时赠送积分</label>
					<div class="sendscore hidden">
						<div class="choose-list">
							<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
							<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分池</button>
						</div>
						<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">积分
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/html" id="specialhbhtml">
		<div class="hb radio-res hidden">
			<div class="configuration-item">
				<b>*</b>
				<small class="wrong-tip wrong-tip-redpack hidden">请点击选择相应的红包</small>
				<div class="choose-list">
					<button class="fake-choose-button add-prize show-hb-list">+选择红包池</button>
					<button class="btn btn-default" data-toggle="modal" data-target=".create-hbProduct-modal">+选择红包模板</button>
				</div>
				<div class="hb-two-one">
					<small class="wrong-tip wrong-tip-redpack-type hidden">请选择相应的红包类型并填写金额</small>
					<div class="random-hb hb-money-wrap">
						<div class="circle-money-tick active">
							<i class="circle"></i>随机金额
						</div>
						<input type="text" class="min hbdecimal" placeholder="请输入数字" maxlength="10">元 —— <input type="text" class="max hbdecimal" placeholder="请输入数字" maxlength="10">元
					</div>
					<div class="fixed-hb hb-money-wrap">
						<div class="circle-money-tick">
							<i class="circle"></i>固定金额
						</div>
						<input type="text" class="fixed hbdecimal" readonly="true" placeholder="请输入数字" maxlength="10">元
					</div>
				</div>
			</div>
			<div class="configuration-item">
				<b>*</b>
				<small class="wrong-tip wrong-tip-redpack-money hidden">请填写发放的金额总数</small>
				<input type="text" class="money hbdecimal" placeholder="请填写奖金总数"  maxlength="10">
				<button class="btn btn-default add-inventory add-hb-stock" data-toggle="modal" data-target=".add-hbstock-pop">增库</button>
			</div>
			<div class="configuration-item">
				<b>*</b>
				<small class="wrong-tip wrong-tip-redpack-num hidden">请填写发放的红包数量</small>
				<input type="text" class="number" placeholder="请填写红包数量" ng-keyup="notminusnotzero($event)" maxlength="10">
				<div class="present-integral">
					<input type="checkbox" class="tickcheckbox"><label for="">同时赠送积分</label>
					<div class="sendscore hidden">
						<div class="choose-list">
							<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
							<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分池</button>
						</div>
						<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">积分
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/html" id="specialjfhtml">
		<div class="jf radio-res hidden">
			<div class="configuration-item">
				<div class="choose-list">
					<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
					<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分模板</button>
				</div>									
			</div>
			<div class="configuration-item">
				<input type="text" class="score" placeholder="请输入数字" disabled>
			</div>
			<div class="configuration-item">
				<input type="text" class="number" placeholder="请输入数字" disabled>
			</div>
		</div>
	</script>

	<script type="text/html" id="gifthtml">
		<div class="gift radio-res hidden">
			<div class="configuration-item">
				<button class="btn btn-default add-prize show-product-list" data-toggle="modal" data-target=".create-realProduct-modal">+选择产品</button>
				<div class="prize-img-preview">
				  <div class="mask">暂无产品</div>
					<img src="" alt="">
				</div>
			</div>
			<div class="configuration-item">
				<input type="text" class="number" placeholder="请输入数字" disabled>
				<div class="present-integral">
					<input type="checkbox" class="tickcheckbox" disabled><label for="">同时赠送积分</label>
					<div class="sendscore hidden">
						<div class="choose-list">
							<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
							<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分池</button>
						</div>
						<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">积分
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/html" id="hbhtml">
		<div class="hb radio-res hidden">
			<div class="configuration-item">
				<button class="btn btn-default add-prize show-hb-list" data-toggle="modal" data-target=".create-hbProduct-modal">+选择红包模板</button>
				<div class="hb-two-one">
					<div class="random-hb hb-money-wrap">
						<div class="circle-money-tick">
							<i class="circle"></i>随机金额
						</div>
						<input type="text" class="min" readonly="true" placeholder="请输入数字" disabled>元 —— <input type="text" class="max" readonly="true" placeholder="请输入数字" disabled>元
					</div>
					<div class="fixed-hb hb-money-wrap">
						<div class="circle-money-tick">
							<i class="circle"></i>固定金额
						</div>
						<input type="text" class="fixed" readonly="true" placeholder="请输入数字" disabled>元
					</div>
				</div>
			</div>
			<div class="configuration-item">
				<input type="text" class="money" placeholder="请填写奖金总数" disabled>
			</div>
			<div class="configuration-item">
				<input type="text" class="number" placeholder="请填写奖金数量" disabled>
				<div class="present-integral">
					<input type="checkbox" class="tickcheckbox" disabled><label for="">同时赠送积分</label>
					<div class="sendscore hidden">
						<div class="choose-list">
							<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
							<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分池</button>
						</div>
						<input type="text" class="score" placeholder="请输入数字" ng-keyup="notminusnotzero($event)" maxlength="10">积分
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/html" id="jfhtml">
		<div class="jf radio-res hidden">
			<div class="configuration-item">
				<div class="choose-list">
					<button class="fake-choose-button add-prize show-jf-list">+选择积分池</button>
					<button class="btn btn-default" data-toggle="modal" data-target=".create-jfProduct-modal">+选择积分模板</button>
				</div>									
			</div>
			<div class="configuration-item">
				<input type="text" class="score" placeholder="请输入数字" disabled>
			</div>
			<div class="configuration-item">
				<input type="text" class="number" placeholder="请输入数字" disabled>
			</div>
		</div>
	</script>
</div>