<div>
	<div class="step" ng-if="true">
		<div class="col-md-4" ng-repeat="item in step">
			<img class="img-thumbnail center-block" src="https://weiopn.oss-cn-beijing.aliyuncs.com/saas/step1-1.png" alt="">
			<p class="text-center">选择模板</p>
		</div>
		<!-- <div class="col-md-4">
			<img class="img-thumbnail center-block" src="https://weiopn.oss-cn-beijing.aliyuncs.com/saas/step2-0.png" alt="">
			<p class="text-center">活动设置</p>
		</div>
		<div class="col-md-4">
			<img class="img-thumbnail center-block" src="https://weiopn.oss-cn-beijing.aliyuncs.com/saas/step3-0.png" alt="">
			<p class="text-center">设置完成</p>
		</div> -->
	</div>
</div>