<div>
	<div class="table table-striped table-bordered">
		<div class="table-head">
			<div class="table-cell">奖品名称</div>
			<div class="table-cell">奖项内容</div>
			<div class="table-cell">奖品数量</div>
			<div class="table-cell">中奖概率(%)</div>
		</div>
		<div class="table-body">
			<div ng-repeat="(idx, item) in successshowlist" class="table-items-wrap">
				<div class="table-items" ng-if="item.details" ng-repeat="(i, n) in item.details">
					<div class="table-cell">{{item.prizeName}}</div>
					<div class="table-cell">{{n.awardName}}</div>
					<div class="table-cell">{{n.totalNum}}</div>
					<div class="table-cell">{{item.eggMap.conditionName || item.eggMap.probability || '0' || item.probability}}</div>
				</div>
				<div class="table-items" ng-if="!item.details">
					<div class="table-cell">{{item.prizeName}}</div>
					<div class="table-cell">{{item.awardName}}</div>
					<div class="table-cell">{{item.totalNum || item.redNum}}</div>
					<div class="table-cell">{{item.eggMap.conditionName || item.eggMap.probability || '0' || item.probability}}</div>
				</div>
			</div>
		</div>
	</div>
</div>