<div>
	<div class="pop-header">
		<p class="pop-title float-left">新建活动 > {{pageName}}</p>
		<sa-popback></sa-popback>
	</div>
	<div class="ui-panel-box panel border-box">
		<div class="pop-inner">
			<!-- 配置 -->
			<div class="configuration float-left">
				<!-- 基本信息 -->
				<div class="basic config-item">
					<h6>基本信息</h6>
					<sa-basicInfo conf="basicInfoConf"></sa-basicInfo>
				</div>
				<!-- 参与设置 -->
				<div class="participate-relate config-item">
					<h6>参与设置</h6>
					<sa-participateInfo conf="participateInfoConf"></sa-participateInfo>
				</div>
				<!-- 中奖设置 -->
				<div class="draw-prize config-item">
					<h6>中奖设置</h6>
					<div class="select-duration configuration-item">
						<i>*</i>
						<small class="wrong-tip hidden">请选择可参与的抽奖时间段</small>
				    <select class="hours" name="startHour" ng-model="startHour" ng-disabled="disabled">
				      <option ng-repeat="h in hours" value="{{h < 10 ? '0'+h : h}}:00:00" ng-selected="$index==0">{{h < 10 ? '0'+h : h}}:00:00</option>
				    </select>&nbsp;时&nbsp;&nbsp;~&nbsp;&nbsp;
				    <select class="hours" name="endHour" ng-model="endHour" ng-disabled="disabled">
				      <option ng-repeat="h in hours" value="{{h < 10 ? '0'+h : h}}:00:00" ng-selected="$index==0">{{h < 10 ? '0'+h : h}}:00:00</option>
				    </select>&nbsp;时
					</div>
					<div class="draw-area configuration-item">
						<i>*</i>
						<small class="wrong-tip hidden">请选择中奖地区</small>
						<select ng-model="drawAreaVal" value="{{drawAreaVal}}" multiple="multiple" class="select" ng-disabled="disabled"></select>
					</div>
					<div class="plus configuration-item">
						<i>*</i>
						<small class="wrong-tip hidden">若设置请选择附加条件，不设置请填写中奖概率</small>
						<input type="checkbox" class="plus-draw-cbox" ng-model="myPlus" ng-init="myPlus = true" ng-disabled="disabled"><span>设置</span>
						<select name="" id="" ng-show="myPlus" ng-model="plusval" ng-disabled="disabled">
							<option value="">请选择附加条件</option>
							<option value="1">1</option>
							<option value="2">2</option>
						</select>
						<div class="wrong-tip hidden">请完善中奖信息设置，确保红星标识处已填写！</div>
					</div>
					<div class="chance configuration-item" ng-show="!myPlus">
						<input type="number" placeholder="请填写中奖概率" ng-model="drawChance" value="{{drawChance}}" ng-keyup="setChance($event)" ng-disabled="disabled">%
					</div>
				</div>
				<!-- 投放设置 -->
				<div class="launch-relate config-item">
					<h6>投放设置</h6>
					<sa-launchInfo conf="launchInfoConf"></sa-launchInfo>
				</div>
				<!-- 中奖设置 -->
				<div class="prize-relate config-item">
					<h6>奖项设置</h6>
					<sa-surprisesetprize conf="surpriseprizeConf"></sa-surprisesetprize>
				</div>
				<!-- 按钮区 -->
				<sa-finalcreate conf="finalcreateConf"></sa-finalcreate>
			</div>

			<!-- 预览 -->
			<div class="preview float-left">
				<p>砸金蛋活动样式</p>
				<div class="image">
					<img src="../../../../assets/image/eggpreview.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>