<div>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th ng-repeat="col in columns.head" ng-class="{hide:col.hide}" ng-style="{width: col.width}" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}">
                    <span data-toggle="{{col.tooltip?'tooltip':''}}" title="{{col.tooltip||''}}" data-placement="{{col.placement||'top'}}">{{col.label}}</span>
                </th>
            </tr>
            <tr>
                <th ng-repeat="ch in columns.child" ng-hide="ch.ishide">
                    <span data-toggle="{{ch.tooltip?'tooltip':''}}" title="{{ch.tooltip||''}}" data-placement="{{ch.placement||'top'}}">{{ch.label}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows">
                <td ng-repeat="col in columns.child track by $index">{{row[col.name]}}</td>
            </tr>
        </tbody>
    </table>
</div>