<!--
/**
 * Author: {author}
 * Create Date; 2017-07-11
 * Description: visit
 */
-->
<link rel="stylesheet" href="statics/assets/style/visit.manage.css"/>
<div ng-controller="manageCtrl">
    <div class="animated fadeInRightBig" ng-show="myVar">
        <div class="container-fluid">
            <div class="row ui-manage-box">
                <div class="col-md-12">
                    <!--title-->
                    <div class="ui-panel-title manage">
                        <i class="manage"></i><span>零售户业绩</span>
                    </div>
                    <div class="panel rate" id="manage-tap">
                        <div class="panel-body ui-manage-panel" id="panel-body">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a id="tab1" href="#homeList" aria-controls="home" role="tab" data-toggle="tab">零售户列表</a></li>
                                <li role="presentation"><a href="#profileList" aria-controls="profile" id="tab2" role="tab" data-toggle="tab">零售户二维码</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="homeList">
                                    <form class="form-horizontal form-inline margin-top margin-bottom">
                                        <input type="text" placeholder="烟草证号\经营人姓名\联系人姓名\联系人手机号" id="input1" class="form-control input-sm margin-right" style="width: 280px;">
                                        <select id="provinceId" ng-model="provinceCode" class="form-control input-sm">
                                            <option value="">请选择省</option>
                                            <option value="">全部</option>
                                            <option ng-repeat="p in province" value="{{p.code}}">{{p.name}}</option>
                                        </select>
                                        <select name="" id="cityId" ng-model="cityCode" class="form-control input-sm">
                                            <option value="">请选择市</option>
                                            <option value="">全部</option>
                                            <option ng-repeat="c in city" value="{{c.code}}">{{c.name}}</option>
                                        </select>
                                        <select name="" id="areaId" ng-model="areaCode" class="form-control input-sm">
                                            <option value="">请选择区</option>
                                            <option value="">全部</option>
                                            <option ng-repeat="a in area" value="{{a.code}}">{{a.name}}</option>
                                        </select>
                                        <div class="time inline-block margin-right margin-left">
                                            <div class="inline-block">时间区间</div>
                                            <input name="时间" id="timeStart1"  class="form_datetime dateTime form-control input-sm">
                                            <div class="inline-block">至</div>
                                            <input name="时间" id="timeEnd1" class="form_datetime dateTime form-control input-sm">
                                        </div>
                                        <select name="authStatus" id="authStatus" class="form-control input-sm margin-right">
                                            <option value="">状态</option>
                                            <option value="1">待审核</option>
                                            <option value="2">审核通过</option>
                                            <option value="3">审核未通过</option>
                                        </select>
                                        <div class="margin-top inline-block">
                                            <button type="button" class="seacher btn btn-primary" ng-click="bbb(index);" id="manage-list">查询</button>
                                        </div>
                                    </form>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>烟草专卖照片</th>
                                            <th>烟草专卖号</th>
                                            <th style="width:100px;">门店名称</th>
                                            <th style="width:100px;">门店地址</th>
                                            <th>经营人姓名</th>
                                            <th>区域</th>
                                            <th>业态</th>
                                            <th>联系人姓名</th>
                                            <th>联系人电话</th>
                                            <th>申请时间</th>
                                            <th>状态</th>
                                            <th style="width:80px;">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="tr in listData">
                                            <td id="imgBox" class="imgBox">
                                                <img class="smokeImg" id="smokeImg_$index" ng-src="{{tr.licenceImg}}" alt="" ng-click="showBig(tr.licenceImg);" data-toggle="modal" data-target="#myModalImg" title="点击可显示高清大图">
                                            </td>
                                            <td>{{tr.licenceNo}}</td>
                                            <td>{{tr.shopName}}</td>
                                            <td>{{tr.addrDetail}}</td>
                                            <td>{{tr.ownerName}}</td>
                                            <td>{{tr.district}}</td>
                                            <td>{{tr.commercial }}</td>
                                            <td>{{tr.contactName}}</td>
                                            <td>{{tr.contactPhone}}</td>
                                            <td>{{tr.applyTime}}</td>
                                            <td>{{tr.authStatus}}</td>
                                            <td>
                                                <a  class="sava-shen" data-toggle="modal" data-target="#myModal" ng-click="aaa(tr)" ng-hide="{{tr.isShow}}">审核</a><br/>
                                                <a  ng-click="showDetail(tr)">商户详情</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profileList">
                                    <div class="margin-top right">
                                        <div class="right download margin-left">
                                            <a data-toggle="modal" data-target="#myModalDown">下载订单文件</a>
                                        </div>
                                        <div class="right" id="loadFileContent">
                                            <a href="javascript:"  data-toggle="modal" data-target="#myModalFile">上传订单文件</a>
                                        </div>
                                    </div>
                                    <form class="margin-top margin-bottom form-horizontal form-inline left">
                                        <input type="text" placeholder="烟草证号/门店名/联系人姓名/联系人手机号" id="input2" class="form-control input-sm margin-right" style="width: 260px;">
                                        <div class="time inline-block margin-right">
                                            <div class="inline-block">时间区间</div>
                                            <input name="时间" id="timeStart2"  class="form_datetime dateTime form-control input-sm">
                                            <div class="inline-block">至</div>
                                            <input name="时间" id="timeEnd2"  class="form_datetime dateTime form-control input-sm">
                                        </div>
                                        <select name="" id="send" class="form-control input-sm margin-right">
                                            <option value="">发货状态</option>
                                            <option value="0">未发货</option>
                                            <option value="1">已发货</option>
                                        </select>
                                        <select name="" id="is-pay" class="form-control input-sm margin-right">
                                            <option value="">支付状态</option>
                                            <option value="0">未支付</option>
                                            <option value="1">已支付</option>
                                        </select>
                                        <div class="inline-block">
                                            <button type="button" class="seacher btn btn-primary" id="manage-erwei">查询</button>
                                        </div>
                                    </form>
                                    <div class="left">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>零售户ID</th>
                                                    <th>门店名称</th>
                                                    <th>订单顺序号</th>
                                                    <th>收货人姓名</th>
                                                    <th>收货人电话</th>
                                                    <th style="width:130px;">收货地址</th>
                                                    <th>申请时间</th>
                                                    <th>费用</th>
                                                    <th>认证状态</th>
                                                    <th>订单状态</th>
                                                    <th style="width:80px;">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="tm in erweiData">
                                                    <td>{{tm.sellerId}}</td>
                                                    <td>{{tm.shopName}}</td>
                                                    <td>{{tm.orderId}}</td>
                                                    <td>{{tm.contactName}}</td>
                                                    <td>{{tm.contactPhone}}</td>
                                                    <td>{{tm.provinceName+"省"+tm.cityName+"市"+tm.areaName+"县"+tm.addrDetail}}</td>
                                                    <td>{{tm.ctime}}</td>
                                                    <td>{{tm.amout+"元"}}</td>
                                                    <td>{{tm.authStatus}}</td>
                                                    <td>{{tm.orderStatus}}</td>
                                                    <td>
                                                        <a href="javascript:" ng-click="showDetail(tm);">商户详情</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="footer_sec clearfix">
                                <div class="total_info lf">总共&nbsp;&nbsp;
                                    <span id="pageCount">
                                    </span>&nbsp;&nbsp;条记录，当前页共&nbsp;&nbsp;
                                    <span id="pageSize"></span>&nbsp;&nbsp;条记录
                                </div>
                                <div class="page_sec rf">
                                    <div class="tcdPageCode"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 审核 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog orderModel" role="document">
          <div class="modal-content" style="overflow: hidden;" id="modal-content">
            <div class="modal-header header">
              <div id="closeBtn">
                <input type="hidden" id="sellerId">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="thoughClose" ng-click="thoughClose();">X</span></button>
                <h4 class="modal-title text-center">审核结果</h4>
              </div>

            </div>
            <div class="modal-body body" id="modal-body-text" >
                <div id="shen-though" ng-click="shenThough(1);">通过</div>
                <div id="shen-back" ng-click="shenBack();">不通过</div>
                <div id="though-check">恭喜您已经通过审核！</div>
                <div id="though-backDown">审核失败！</div>
                <form id="content-text" >
                    <textarea name=""  cols="30" rows="10" id="refuse-reason" class="form-control inline"></textarea>
                    <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary" id="button" ng-click="backReason();">完成</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>

    <!-- 商品详情 -->
    <div  id="detailsPage" ng-hide="myVar">
        <div class="row">
            <div class="col-md-12">
                <!--title-->
                <div class="ui-panel-title manage">
                    <i class="manage"></i><span>零售户管理</span>
                    <button type="button" class="btn btn-primary back-btn right" id="goBack" ng-click="goBack();">返回</button>
                </div>
                <div class="panel rate">
                    <div class="panel-body">
                        <div class="ui-detail-box left margin-bottom">
                            <div class="col-md-3 smake-image">
                                <img ng-src="{{sellerInfo.licenceImg}}" alt="" />
                            </div>
                            <div class="col-md-9">
                                <div class="col-md-4 height padding">
                                    <label class="col-md-5 padding">门店名称:</label>
                                    <div class="col-md-7 padding padding">{{sellerInfo.shopName}}</div>
                                </div>
                                <div class="col-md-4 height padding">
                                    <label class="col-md-5 padding">烟草专卖证号:</label>
                                    <div class="col-md-7 padding">{{sellerInfo.licenceNo}}</div>
                                </div>
                                <div class="col-md-4 height padding">
                                    <label class="col-md-5 padding">经营人姓名:</label>
                                    <div class="col-md-7 padding">{{sellerInfo.ownerName}}</div>
                                </div>
                                <div class="col-md-4 height padding">
                                    <label class="col-md-5 padding">门店地址:</label>
                                    <div class="col-md-7 padding">{{sellerInfo.addrProvinceName+sellerInfo.addrCityName+"市"+sellerInfo.addrAreaNmae+sellerInfo.addrDetail}}</div>
                                </div>
                                <div class="col-md-4 height padding">
                                    <label class="col-md-5 padding">联系人姓名:</label>
                                    <div class="col-md-7 padding">{{sellerInfo.contactName}}</div>
                                </div>
                                <div class="col-md-4 height padding">
                                    <label class="col-md-5 padding">联系人电话:</label>
                                    <div class="col-md-7 padding">{{sellerInfo.contactPhone}}</div>
                                </div>
                                <div class="col-md-4 height padding">
                                    <label class="col-md-5 padding">微信名:</label>
                                    <div class="col-md-7 padding">{{wxinfo.nickname}}</div>
                                </div>
                                <div class="col-md-4 height padding">
                                    <label class="col-md-5 padding">区域:</label>
                                    <div class="col-md-7 padding">{{sellerInfo.district}}</div>
                                </div>
                                <div class="col-md-4 height padding">
                                    <label class="col-md-5 padding">业态:</label>
                                    <div class="col-md-7 padding">{{sellerInfo.commercial}}</div>
                                </div>
                                <div class="col-md-4 height padding">
                                    <label class="col-md-5 padding">申请时间:</label>
                                    <div class="col-md-7 padding">{{sellerInfo.applyTime}}</div>
                                </div>
                                <div class="col-md-4 height padding">
                                    <label class="col-md-5 padding">审核时间:</label>
                                    <div class="col-md-7 padding">{{sellerInfo.lastUpdateTime}}</div>
                                </div>
                                <div class="col-md-4 height padding">
                                    <label class="col-md-5 padding">审核状态:</label>
                                    <div id="authStatus" class="col-md-7 padding">{{sellerInfo.authStatus}}</div>
                                </div>
                                <div class="col-md-4 height padding">
                                    <label class="col-md-5 padding">账户余额:</label>
                                    <div class="col-md-7 padding">{{walletInfo.balance}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 padding" id="commodity_nav">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home" id="tabFx" aria-controls="home" role="tab" data-toggle="tab">扫码返现</a>
                                </li>
                                <li role="presentation" >
                                    <a href="#profile" id="tabSao" aria-controls="profile" role="tab" data-toggle="tab">扫码用户</a>
                                </li>
                                <li role="presentation" >
                                    <a href="#messages" id="tabTx" aria-controls="messages" role="tab" data-toggle="tab">提现记录</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <form class="form-inline form_div margin-top margin-bottom">
                                        <div class="inline-block margin-right">
                                            <label for="exampleInputName1" class="label1">时间区间</label>
                                            <input name="时间" id="timeStart111" class="form_datetime form-control dateTime input-sm" />
                                            <label for="exampleInputName2">至</label>
                                            <input name="时间" id="timeEnd111" class="form_datetime form-control dateTime input-sm"/>
                                        </div>
                                        <select class="form-control input-sm margin-right" id="manage-unit">
                                            <option value="">扫码单位</option>
                                            <option value="1">盒</option>
                                            <option value="2">条</option>
                                        </select>
                                        <select class="form-control input-sm margin-right" id="manage-isfx">
                                            <option value="">有无返还</option>
                                            <option value="1">有</option>
                                            <option value="0">无</option>
                                        </select>
                                        <div class="inline-block">
                                            <button id="return" type="button" class="btn btn-primary">查询</button>
                                        </div>
                                    </form>
                                    <div class="col-md-12 padding">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>消费者微信名</th>
                                                    <th>扫码时间(店码)</th>
                                                    <th>扫码时间(烟码)</th>
                                                    <th>扫码单位</th>
                                                    <th>返还金额</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="rt in returnData">
                                                    <td>{{}}</td>
                                                    <td>{{rt.zjTime}}</td>
                                                    <td>{{rt.ctime}}</td>
                                                    <td>{{rt.unit}}</td>
                                                    <td>{{rt.fxAmount}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="footer_sec clearfix">
                                        <div class="total_info lf" id="fx-page">总共&nbsp;&nbsp;
                                            <span id="pageAmout"></span>&nbsp;&nbsp;条记录，当前页共&nbsp;&nbsp;
                                            <span id="pageSize1"></span>&nbsp;&nbsp;条记录
                                        </div>
                                        <div class="page_sec rf">
                                            <div class="tcdPageCode">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <div class="col-md-12 padding" id="goods-bottom">
                                        <table class="table table-bordered table-hover tables">
                                            <thead>
                                            <tr>
                                                <th>微信openId</th>
                                                <!-- <th>消费者微信名</th> -->
                                                <th>扫店码次数</th>
                                                <th>扫烟码次数</th>
                                                <th>最近一次扫店码时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="co in countData">
                                                <td>{{co.openId}}</td>
                                                <!-- <td>{{}}</td> -->
                                                <td>{{co.scanNum}}</td>
                                                <td>{{co.smokeNum}}</td>
                                                <td>{{co.lastScanTime}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="footer_sec clearfix">
                                        <div class="total_info lf">总共&nbsp;&nbsp;
                                            <span id="pageAmout1"></span>&nbsp;&nbsp;条记录，当前页共&nbsp;&nbsp;
                                            <span id="pageSize2"></span>&nbsp;&nbsp;条记录
                                        </div>
                                        <div class="page_sec rf">
                                            <div class="tcdPageCode">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="messages">
                                    <form class="form-inline form_div">
                                        <div class="form-group goods-top margin-top">
                                            <div class="inline-block margin-right">
                                                <label for="exampleInputName1" class="label1">时间区间</label>
                                                <input name="时间" id="timeStart333" class="form_datetime form-control dateTime input-sm"/>
                                                <label for="exampleInputName2">至</label>
                                                <input name="时间" id="timeEnd333" class="form_datetime form-control dateTime input-sm"/>
                                            </div>
                                            <div class="inline-block">
                                                <button id="tixian" type="button" class="btn btn-primary">查询</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="col-md-12 goods-bottom padding">
                                        <table class="table table-bordered table-hover tables">
                                            <thead>
                                            <tr>
                                                <th>提现金额</th>
                                                <th>余额</th>
                                                <th>提现时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="tx in tixianData">
                                                <td>{{tx.txAmount+"&nbsp;&nbsp;元"}}</td>
                                                <td>0</td>
                                                <td>{{tx.txTime}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="footer_sec clearfix">
                                        <div class="total_info lf">总共&nbsp;&nbsp;
                                        <span id="pageAmout2">
                                        </span>&nbsp;&nbsp;条记录，当前页共&nbsp;&nbsp;
                                            <span id="pageSize3"></span>&nbsp;&nbsp;条记录
                                        </div>
                                        <div class="page_sec rf">
                                            <div class="tcdPageCode"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 下载订单文件 -->
    <div class="modal fade" id="myModalDown" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog orderModel" role="document" >
            <div class="modal-content" style="overflow: hidden;" id="fileDownBox">
                <div class="modal-header header">
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>X</span></button>
                        <h4 class="modal-title text-center">订单数据文件下载</h4>
                    </div>
                </div>
                <div class="modal-body body">
                    <form class="row form-horizontal" id="timeRow" style="margin-top: 10px;">
                        <div class="time form-inline col-md-8">
                            <label>时间</label>
                            <input name="时间" id="timeStart"  class="form_datetime dateTime form-control input-sm">
                        </div>
                        <div id="seacherbtn" ng-click="seacherbtn();"><a>查询</a></div>
                        <div class="row col-md-12" id="third" style="margin-top:30px;">
                            <div class="down" ng-click="downButton();"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 上传订单文件 -->
    <div class="modal fade" id="myModalFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog orderModel" role="document">
            <div class="modal-content" style="overflow: hidden;" id="file-modal-content">
                <div class="modal-header header" >
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>X</span></button>
                        <h4 class="modal-title text-center">订单完成文件同步</h4>
                    </div>
                </div>
                <div class="modal-body body" >
                    <div class="row">
                        <div class="col-md-12">
                            <form id='myupload' action='https://retailer.taozuike.com/seller-manager/import/tracking/info' method='post' enctype='multipart/form-data' target="_blank">
                                <div class="fileUpload">
                                    <input id="fileupload" type="file" name="file" value="浏览">
                                </div>
                                <button id="fileButton" ng-click="fileButton();">提交</button>
                            </form>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 图片放大 -->
    <div class="modal fade" id="myModalImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog orderModel" role="document">
            <div class="modal-content" style="overflow: hidden;" id="file-modal-content1">
                <div class="modal-header header" >
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>X</span></button>
                        <h4 class="modal-title text-center">图片放大</h4>
                    </div>
                </div>
                <div class="modal-body body" >
                    <div class="row">
                        <div class="col-md-12">
                            <img src="" alt="" id="bigImg">
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="statics/assets/libs/jquery.page.js"></script>
    <script src="statics/assets/libs/jqmeter.min.js"></script>
</div>