.margin-top {
  margin-top: 15px; }

.ui-panel-title button {
  position: absolute;
  right: 0;
  height: 24px;
  padding: 0 12px; }

.ui-btn-ctrl {
  display: block !important;
  text-align: right;
  margin-right: 0 !important; }

#id_user_form .form-group {
  margin-right: 15px; }

#id_user_form .multiselect.btn {
  width: 150px;
  height: 30px;
  padding: 4px 12px; }

#id_user_form .ui-btn-ctrl button {
  width: 100px;
  margin-left: 30px;
  margin-right: 0px;
  height: 30px;
  border-radius: 15px;
  padding: 4px 12px; }

.table-ctrl {
  font-size: 14px;
  float: right;
  margin: 0 15px 15px 0;
  border-bottom: 1px solid #999; }

.span-hover:hover {
  color: #333;
  cursor: pointer; }

.opt-btn {
  margin: 5px; }
