@charset "UTF-8";
/**
 * Author: liubin
 * Create Date: 2018-01-02
 * Description: 河北会员日中奖详情
 */
.fl {
  float: left; }

.fr {
  float: right; }

.ui-md-detail .ui-panel-title {
  position: relative;
  margin: 20px 0 5px 0;
  font-size: 16px; }

.ui-md-detail .inline-block {
  width: 250px; }

.ui-md-detail .ui-table-title {
  margin-bottom: 15px; }
  .ui-md-detail .ui-table-title button {
    border-radius: 5px;
    padding: 0 12px; }

.ui-md-detail .ui-search-panel form > div {
  margin: 10px 0;
  display: flex;
  justify-content: space-between; }

.ui-md-detail .ui-search-panel form select {
  min-width: 100px;
  height: 30px;
  padding: 0; }

.ui-md-detail .ui-search-panel form .large {
  min-width: 350px; }

.ui-md-detail .ui-search-panel form button {
  margin-left: 15px; }

.ui-md-detail .ui-search-panel form .multiselect {
  height: 30px;
  padding: 4px 12px;
  min-width: 150px; }

.ui-md-detail .ui-search-panel form .multiselect-container {
  max-height: 200px;
  overflow: auto; }

.ui-md-detail .ui-search-panel form .btn-primary {
  width: 90px;
  border-radius: 5px;
  padding: 0; }

.ui-md-detail .underline {
  color: #1584e4;
  text-decoration: underline;
  cursor: pointer; }

.modal-body form div.control-label {
  text-align: left !important; }
