.region-margin {
	margin-top: 25px;
}


/*.form-control{
	width:35%;
}
.form-controls{
	width:30%;
}*/

.ui-panel-title {
	margin-top: 20px;
}

.form-group {
	width: 25%;
	display: flex;
	justify-content: space-around;
}

.form-controlmdg {
	width: 150px;
}

.form-groups {
	width: 35%;
	display: flex;
	justify-content: space-around;
}

.form-groupss {
	width: 45%;
	display: flex;
	justify-content: space-around;
}

.form-groupTwo {
	/*width:45%;*/
	display: flex;
	justify-content: space-around;
}

.form-group-three {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.newKey {
	margin-left: 40px;
}

.newKeys {
	margin-left: 37px;
}

.form_city {
	width: 80%;
	display: flex;
}

.noRap {
	display: flex;
}

.firstTr {
	display: flex;
	margin: 15px 0;
}

.form-group {
	margin: 0;
}

.time_duan {
	margin-left: 16px;
}

#durationStart {
	margin-left: 12px;
}

.control-label {
	margin-right: 0;
	margin-bottom: 0;
}

.middle-word {
	display: block;
	margin: 0 15px 0 30px;
}

.order_Num {
	margin: 0 13px 0 182px;
}

.form-controlaaa {
	width: 200px;
}

.form-inline {
	display: flex;
	justify-content: center;
}


/*导出*/

.operBtnWrap {
	display: flex;
	justify-content: flex-end;
}

.pull-in {
	position: relative;
	display: inline-block;
	margin-left: 20px;
	width: 100px;
	height: 26px;
	cursor: pointer;
}

.pull-in input[type="file"] {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;
	cursor: pointer;
}

.form-control[readonly]{
	background-color:#fff;
}
/*表单*/

.table-bordered {
	border: 1px solid #ddd;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
.table-head{
	background-color:rgba(242, 242, 242, 1);
}
