select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none; }

form input.ng-touched.ng-invalid {
  border-color: #FA787E; }

.form-group .inline button.btn {
  visibility: hidden;
  width: 0;
  height: 0; }

.form-control-feedback {
  right: 10px; }

.form-inline, .form-horizontal {
  margin-bottom: 5px; }
  .form-inline .form-control, .form-horizontal .form-control {
    line-height: 100% !important; }
  .form-inline .inline .input-group, .form-inline .inline .form-control, .form-horizontal .inline .input-group, .form-horizontal .inline .form-control {
    width: 100% !important; }
  .form-inline label.required, .form-horizontal label.required {
    position: relative; }
    .form-inline label.required:after, .form-horizontal label.required:after {
      content: '*';
      position: absolute;
      right: 0;
      top: -1px;
      color: red;
      font-size: 18px; }

.multiselect-container input[type=checkbox] {
  margin-top: 3px; }

.multiselect-container input[type=radio] {
  margin-top: 4px; }
