/*
 * Author: liubin
 * Create Date: 2017-07-18
 * Description: multi
 */
.panel-body {
    padding: 15px 30px;
}
.ui-content-multi {
    margin-top: 20px;
}
.ui-content-multi >.panel p {
    position: relative;
    font-size: 14px;
    color: #515151;
}
.ui-content-multi >.panel p i {
    position: absolute;
    /* content: url('../image/i-down.png'); */
    background: url('../image/i-down.png') no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
    top: 6px;
    right: -6px;
    transform: rotate(0deg);
    transition: transform .5s;
}
.ui-content-multi >.panel p.active i {
    position: absolute;
    /* content: url('../image/i-down.png'); */
    background: url('../image/i-down.png') no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
    top: 6px;
    right: -6px;
    transform: rotate(-180deg);
    transition: transform .5s;
}
.ui-radio-group {
    display: box;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
}
.ui-radio-group label {
    height: 20px;
    line-height: 20px;
    color: #44c2ed;
}
.ui-search-panel p {
    text-align: center;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
}
.ui-btn-group {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 100%;
    margin: 10px auto 0;
}
.ui-btn-group button,
.ui-btn-group button:hover,
.ui-btn-group button:active,
.ui-btn-group button:focus {
    width: 100px;
    margin-left: 30px;
    margin-right: 0px;
    height: 30px;
    border-radius: 15px;
    padding: 4px 12px;
    background: #44c1ed;
    border-color: #44c1ed;
    color: #fff;
}
.ui-search-block {
    position: relative;
    min-height: 50px;
}
.ui-search-block .date,
.ui-search-block .hours {
    position: relative;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.ui-search-block .hours {
    width: 100px;
    padding: 5px;
    // top: -2px;
    margin: 0 5px;
}
.ui-search-block .date {
    width: 200px;
    padding-left: 10px;
    font-size: 14px;
}
.ui-search-block >div >label {
    position: relative;
    height: 50px;
    width: 80px;
    line-height: 50px;
    font-size: 12px;
    color: #8a8a8a;
}
.ui-search-block select {
    position: relative;
    height: 24px;
    width: 100px;
}
.ui-search-block >div {
    /* width: 200px; */
    /* margin-right: 50px; */
    display: inline-block;
}
.ui-search-block .result {
    line-height: 0;
}
.ui-nav-table-panel li a {
  background-color: #fff;
  color: #8a8a8a;
  margin: 10px 15px 10px 0;
  padding: 0;
  border-radius: 0;
  font-size: 16px;
}
.ui-nav-table-panel li.active a,
.ui-nav-table-panel li a:hover,
.ui-nav-table-panel li.active a:hover,
.ui-nav-table-panel li.active a:focus {
  color: #5c6ace;
  /* text-decoration: underline; */
  background-color: #fff;
  border-bottom: 2px solid #5c6ace;
}
.ui-nav-table-panel li a:focus,
.ui-nav-table-panel li.active a:focus {
  background-color: #fff;
  color: #5c6ace;
}

/** modal */
.modal-content {
    border-radius: 30px;
}
.modal-header {
    padding: 0;
}
.modal-header .close {
    position: absolute;
    opacity: 1;
    right: 20px;
    top: 8px;
    z-index: 100;
    cursor: pointer;
    color: #ddd;
}
.modal-header h4 {
    position: relative;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
    background: #44c2ed;
    border-color: #44c2ed;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.text-header {
    text-align: center;
}
.icon-close {
    position: relative;
    height: 24px;
    width: 24px;
    font-weight: 100;
    background: url('../image/i-modal-header.png') no-repeat;
    background-size: cover;
}
.ui-temp-list,
.ui-hist-list {
    margin: 0 0 30px 30px;
    padding: 20px 0 0 10px;
    max-height: 300px;
    overflow: auto;
}
.modal-body {
    padding: 0;
}
.ui-temp-list li,
.ui-hist-list li {
    position: relative;
    height: 60px;
}
.ui-list-label {
    float: left;
    width: 40px;
    height: 50px;
}
.ui-list-content {
    float: left;
    margin-top: 2px;
    width: calc(100% - 40px);
}
.ui-list-content p {
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
    padding-right: 50px;
}
.ui-multi-select {
    position: relative;
    display: inline-block;
    height: 24px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: -7px 0;
}
.ui-multi-select .multi-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.multiselect-container.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}
button.multiselect {
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 4px 12px;
}
.ui-result-list {
    width: calc(100% - 80px);
    float: right;
}
.ui-result-list li {
    position: relative;
    border: 1px solid #ddd;
    max-width: 200px;
    border-radius: 5px;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    margin: 0 8px 10px;
}
.ui-result-list li>i.close {
    /* content: url('../image/i-remove.png'); */
    background: url('../image/i-remove.png') no-repeat;
    background-size: cover;
    position: absolute;
    right: 0px;
    height: 24px;
    width: 24px;
}
/** end modal