.ui-panel-title .report-icon {
  left: 0; }

.ui-panel-title.report {
  padding-left: 20px; }

.ui-panel-title.agree_top {
  margin-top: 15px; }

.ui-agree-form .form-group {
  margin-right: 15px; }

.ui-agree-form .control-label {
  width: 50px;
  text-align: right; }

.ui-agree-form .multiselect.btn {
  width: 147px;
  height: 30px;
  padding: 4px 12px; }

.ui-agree-form .date {
  background: #fff; }

.ui-agree-form select {
  width: 147px !important; }

.ui-agree-form .ui-btn-ctrl {
  display: block !important;
  text-align: right;
  margin-right: 0px !important; }
  .ui-agree-form .ui-btn-ctrl button.btn-primary,
  .ui-agree-form .ui-btn-ctrl button.btn-primary:hover,
  .ui-agree-form .ui-btn-ctrl button.btn-primary:active,
  .ui-agree-form .ui-btn-ctrl button.btn-primary:focus {
    width: 100px;
    margin-left: 30px;
    margin-right: 0px;
    height: 30px;
    border-radius: 15px;
    padding: 4px 12px;
    background: #44c1ed;
    border-color: #44c1ed; }
  .ui-agree-form .ui-btn-ctrl button.gray_btn.btn-primary,
  .ui-agree-form .ui-btn-ctrl button.gray_btn.btn-primary:hover,
  .ui-agree-form .ui-btn-ctrl button.gray_btn.btn-primary:active,
  .ui-agree-form .ui-btn-ctrl button.gray_btn.btn-primary:focus {
    border-color: #f0f0f0; }

.ui-scroll-table {
  overflow: auto; }
