.clearfix:after {
	clear: both;
	height: 0;
	overflow: hidden;
	display: block;
	visibility: hidden;
	content: "";
}

.ui-panel-title {
	position: relative;
	margin: 20px 0 5px 0;
	font-size: 16px;
	padding-left: 10px;
}

.title_top {
	margin: 20px;
	border: 1px solid #d2d2d2;
}

.content_topTitle {
	margin: 50px 20px 0px;
	border-bottom: 1px solid #d2d2d2;
	display: flex;
	justify-content: flex-start;
}

.userAttribute {
	margin-left: 20px;
}

.select_active {
	background: #6e80ff;
	color: #fff;
}

.select_active:hover {
	cursor: pointer;
}

.no_active {
	background: #fff;
	/*color:#6e80ff;*/
}

.no_active:hover {
	cursor: pointer;
}

.jiBenAttribute {
	/*height:20px;*/
	width: 75px;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
	border: none;
	border-radius: 4px;
}

.userAttribute {
	text-align: center;
	line-height: 22px;
	/*height:20px;*/
	width: 100px;
	border: none;
	font-size: 14px;
	border-radius: 4px;
}

.firstMenu {
	margin: 20px;
	line-height: 30px;
}
.firstMenuTwo {
	margin: 20px;
	line-height: 30px;
}
.firstMenu_span {
	margin-right: 58px;
	font-size: 14px;
	/*display:block;*/
	padding:3px 5px;
	border-radius:4px;
	cursor: pointer;
}

.property {
	color: #000;
	font-size: 15px;
	font-weight: 700;
	cursor: pointer;
}
.propertys {
	color: #000;
	font-size: 15px;
	font-weight: 700;
	cursor: default;
	float: left;
}
.propertyTwo {
	color: #000;
	font-size: 15px;
	font-weight: 700;
	cursor: default;
	float: left;
}
.content_box {
	margin: 0 20px;
	border: 1px solid #d2d2d2;
}
#content_box_two{
	overflow: hidden;
}
.secondMenu {
	margin: 15px 30px;
	line-height: 30px;
}

.secondMenu_span {
	margin-right: 55px;
	font-size: 14px;
	cursor: pointer;
}
.secondMenu_spans {
	margin-left: 55px;
	font-size: 14px;
	cursor: pointer;
}
.threeMenu {
	margin: 0 30px;
	padding: 15px 0;
	line-height: 30px;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}

.threeMenu_span {
	margin-right: 51px;
	font-size: 14px;
	cursor: pointer;
}

.substance {
	margin-left: 60px;
}
.substance span.active{
	background: #6e80ff;
    color: #fff;
}
.substanceTwo span.actives{
	background: #6e80ff;
    color: #fff;
}
.fourMenu {
	margin: 0 30px;
	padding: 15px 0;
	line-height: 30px;
}

.fourMenu_span {
	font-size: 16px;
	color: #000;
	margin-right: 20px;
	cursor: pointer;
}

.cityNameList {
	margin: 0 30px;
	font-size: 14px;
	cursor: pointer;
	line-height: 30px;
}
.cityNameLists{
	margin: 0 30px;
	font-size: 14px;
	cursor: pointer;
	line-height: 30px;
	float:left;
}
.operationMenu {
	margin: 20px;
	display: flex;
	align-items: center;
}

.operationMenu span:nth-child(1) {
	color: #000;
	font-weight: 700;
	font-size: 15px;
	line-height: 23px;
}

.nthChildTwo {
	color: #000;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 23px;
	height: 23px;
	border: 1px solid #d2d2d2;
	margin: 0 15px;
	cursor: pointer;
}

.nthChildThree {
	color: #000;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 23px;
	height: 23px;
	cursor: pointer;
	border: 1px solid #d2d2d2;
}

.operationMenu input[type='radio'] {
	margin-left: 2px;
	margin-right: 2px;
	display: none;
}

.operationMenu input[type='radio']+label:before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	border-radius: 100%;
	vertical-align: middle;
	border: 2px solid #E4E4E4;
	background: #e4e6f3;
}

.operationMenu input[type='radio']:checked+label:before {
	background: #6e80ff;
}

label {
	margin-bottom: 0;
	font-size: 15px;
}

.tabName {
	margin: 0 20px;
}

.descriptionBus {
	display: flex;
	align-items: center;
	margin: 10px 20px 0;
}

.tabName span {
	color: #000;
	font-weight: 700;
	font-size: 15px;
}
.descriptionBus span {
	color: #000;
	font-weight: 700;
	font-size: 15px;
}
.tabName_text{
	width:800px;
	margin-left:20px;
	padding:10px 5px;
	
}
.descriptionBus_text{
	width:800px;
	margin-left:24px;
	padding:10px 5px;
}
.opera_sec{
    padding:20px 270px;
    display:flex;
    justify-content: space-around;
    
}
.opera_sec div {
    width: 140px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    text-align: center;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    display: inline-block;
}
.opera_sec div:hover{
    cursor: pointer;
}

.opera_sec .opera_confirm {
    color: #FFFFFF;
    background-color: #6E80FF;
}

.opera_sec .opera_cancel {
    color: #6E80FF;
    border: 1px solid #6E80FF;
}
.middle{
	margin:0 56px 20px 20px;
	border:1px solid #d2d2d2;
	overflow: hidden;
	padding:20px 20px 0;
}
.aui_title{
	/*width:92px;*/
	padding:0 5px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	height:20px;
	border:1px solid #d2d2d2;
	border-radius:3px;
	color:#7378ca;
	float:left;
	margin:0 10px 20px;
}
.select_option{
	height:20px;
	color:#7378ca;
	float:left;
	border-radius:3px;
	margin:0 10px 20px;
}
.zuoKuoHao{
	float:left;
	width:20px;
	height:20px;
	font-size:15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background:#7378ca;
	margin-bottom:20px;
	/*display:none;*/
}
.aui_close{
	margin-left:15px;
}
.youKuoHao{
	float:left;
	width:20px;
	height:20px;
	font-size:15px;
	display: flex;
	justify-content: center;
	background:#7378ca;
	margin-bottom:20px;
	align-items: center;
	/*display:none;*/
}
/*弹窗*/
.box_tit{
    background-color: #29b839;
    font-size: 17px;
    color: #FFFFFF;
    line-height: 28px;
    border-top-left-radius: 6px;
    border-top-right-radius:6px ;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius:6px ;
    padding: 5px 7px 5px 14px;
}
.lf {
    float: left;
}

.rf {
    float: right;
}
.box_cont{
    font-size: 16px;
    text-align: center;
    padding: 50px 0;
    border-bottom: 1px solid #CECECE;
}
.box_btn .box_btn_conf{
    color: #29b839;
    border-right: 1px solid #CECECE;
}
.box_btn .box_btn_cancel{
    color: #CECECE;
}
.box_btn div{
    width: 50%;
    font-size: 15px;
    text-align: center;
}
.box_btn div:hover{
    cursor: pointer;
}
.box_btn{
    padding: 12px 0;
}