.ui-home-code {
  margin-top: 15px; }
  .ui-home-code .margin-top {
    margin-top: 15px; }
  .ui-home-code .ui-panel-title button {
    position: absolute;
    right: 0;
    height: 24px;
    padding: 0 12px; }
  .ui-home-code .ui-btn-ctrl {
    display: block !important;
    text-align: right;
    margin-right: 0 !important; }
  .ui-home-code #id_code_form select {
    width: 147px; }
  .ui-home-code #id_code_form .form-control {
    width: 147px !important; }
  .ui-home-code #id_code_form .control-label {
    width: 70px;
    text-align: right; }
  .ui-home-code #id_code_form .form-group {
    margin-right: 15px; }
  .ui-home-code #id_code_form .multiselect.btn {
    width: 147px;
    height: 30px;
    padding: 4px 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .ui-home-code #id_code_form .ui-btn-ctrl button {
    width: 100px;
    margin-left: 30px;
    margin-right: 0px;
    height: 30px;
    border-radius: 15px;
    padding: 4px 12px;
    background: #44c1ed;
    border-color: #44c1ed; }
  .ui-home-code .ui-export,
  .ui-home-code .ui-export:hover,
  .ui-home-code .ui-export:active,
  .ui-home-code .ui-export:focus {
    width: 120px;
    height: 30px;
    padding: 4px 12px;
    background: #44c1ed;
    border-color: #44c1ed;
    margin-bottom: 15px; }
