@media screen and (min-width: 1300px) {
  div.ui-map-box {
    height: 350px; } }

div.ui-map-box {
  height: 280px; }

.ui-region-form .form-group {
  margin-right: 15px; }

.ui-region-form .control-label {
  text-align: right; }

.ui-region-form .multiselect.btn {
  width: 147px;
  height: 30px;
  padding: 4px 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.ui-region-form .date {
  background: #fff; }

.ui-region-form select {
  width: 147px !important; }

.ui-region-form .form-control {
  width: 147px !important; }

.ui-region-form .ui-btn-ctrl {
  display: block !important;
  text-align: right;
  margin-right: 0px !important; }
  .ui-region-form .ui-btn-ctrl button.btn-primary,
  .ui-region-form .ui-btn-ctrl button.btn-primary:hover,
  .ui-region-form .ui-btn-ctrl button.btn-primary:active,
  .ui-region-form .ui-btn-ctrl button.btn-primary:focus {
    width: 100px;
    margin-left: 30px;
    margin-right: 0px;
    height: 30px;
    border-radius: 15px;
    padding: 4px 12px;
    background: #44c1ed;
    border-color: #44c1ed; }
  .ui-region-form .ui-btn-ctrl button.gray_btn.btn-primary,
  .ui-region-form .ui-btn-ctrl button.gray_btn.btn-primary:hover,
  .ui-region-form .ui-btn-ctrl button.gray_btn.btn-primary:active,
  .ui-region-form .ui-btn-ctrl button.gray_btn.btn-primary:focus {
    border-color: #f0f0f0; }

.ui-scroll-table {
  overflow: auto; }
