/**
 * Author: chenliang
 * Create Date: 2017-12-05
 * Description: css
 */
 /* base start*/
 .fr{
    float: right;
  }
  .fl{
    float: left;
  }
  *{
    margin: 0;
    padding: 0;
  }
  #my-btn{
      padding: 4px 54px;
      border-radius: 35px;
  }
  /* base end*/
  
  .ui-detail-search .ui-detail-screen h4{
  line-height: 40px;
  color: #38477C;
  font-size: 16px;
  }
  .ui-detail-search .ui-detail-screen h4 span{
  display: inline-block;
  color: #38477C;
  transform-origin: center;
  cursor: pointer;
  }
  /* 对比的复选框 */
  
  #contrast-container span{
    position: relative;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: -2px;
    font-weight: bold;
  }
  input[type=checkbox]{
    margin: 13px 0 0;
  }
  #contrast-container .input_check {
    position: absolute;
    visibility: hidden;
  }
  
  #contrast-container .input_check+label {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #B9B9B9;
    border-radius: 50%;
  }
  
  #contrast-container .input_check:checked+label:after {
    content: "";
    position: absolute;
    left: 2px;
    bottom: 7px;
    width: 9px;
    height: 5px;
    border: 1.5px solid #fff;
    border-top-color: transparent;
    border-right-color: transparent;
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-45deg);
  }
  .ui-detail-search .ui-detail-body{
    margin-top: 20px;
  }
  .round{
    position: absolute;
    top: 46.5%;
    left: 22.2%;
    width: 26px;
    height: 26px;
    border: 1.5px solid #35A1EC;
    border-radius: 50%;
  }
  .ui-detail-search .ui-detail-body .my-btn{
    line-height: 35px;
    margin-right: 10px;
      margin-top: -1px;
      margin-left: 0;
  }
  .ui-detail-search .ui-detail-body div+div{
    margin-left: 15px;
  }
  .ui-detail-comparison{ 
   margin-left: 0 !important;
   margin-top: 20px;
   line-height: 40px;
  }
  .ui-detail-comparison>.inline-block{
    float: left;
  }
  .ui-detail-comparison .my-hidden{
    float: left;
    display: none;
  }
  .ui-detail-comparison input{ 
   vertical-align: text-bottom;
   cursor: pointer;
   background:none;  
   outline:none;  
   border:0px; 
  }
  /* 零售户地域分布 */
  .panel-body{
      /* overflow: hidden; */
  }
  .panel-body .line{
      display: inline-block;
       border-bottom: 1px solid #cccccc;
       width: calc(100% - 264px);
       margin-left: 10px;
       vertical-align: middle;
  }
  .color{
    background-color: #49C2E9;
  }
  .panel-body .title .sitePic{
      display: inline-block;
      background: url(../image/city.png) no-repeat center center; 
      background-size: 20px 20px;
      width: 30px;
      height: 30px;
      transform: translateY(8px);
  }
  .panel-body .title .timePic{
   display: inline-block;
   background: url(../image/hours.png) no-repeat center center; 
   background-size: 20px 20px;
   width: 30px;
   height: 30px;
   transform: translateY(8px);
  }