
.clearfix:after {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
    content: "";
}
.rate{
	
}
.group-panel-top{
	padding:30px 0;
}
.portrait_p{
	color:#707070;
	float: left;
	margin:0 13px 0 35px;
	/*font-size:20px;*/
}
.portrait{
	position: absolute;	
    left: 10px;
    top: 7px;
	width:14px;
	height:14px;
	background:url(../image/portrait.png) no-repeat center;
	background-size:cover;
}
.input_text{
	width:141px;
	height:20px;
	float: left;
	border:1px solid #e6e6e6;
}
.chaXunBtn{
	display: block;
	width:80px;
	float: left;
	margin-left:34px;
	border-radius:15px;
}


/*content*/
.portrait_userInfo{
	width:862px;
	height:200px;
	border:1px solid #e6e6e6;
	margin:30px auto;
}
.portrait_userInfo_top{
	width:800px;
	height:27px;
	margin:0 auto;
	border-bottom:1px solid #e6e6e6;
}

.userSpan{
	font-size:10px;
	line-height:27px;
	margin-left:8px;
	float: left;
}
.portrait_userInfo_content{
	width:800px;
	height:120px;
	background:#fcfcfc;
	border:1px solid #e6e6e6;
	margin:12px auto;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.portrait_userInfo_content_left{
	width:300px;
	height:90px;
/*	background:red;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.portrait_userInfo_content_img{
	width:1px;
	height:93px;
}
.portrait_userInfo_content_right{
	width:250px;
	height:90px;
	/*background:green;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.font_style{
	font-size:8px;
}
/*用户扫码频度分析*/


.portrait_frequency{
	width:100%;
	height:220px;
	/*background:red;*/
	display: flex;
	margin:10px auto 30px;
}
.userH3{
	font-size:13px;
	color:#3d467d;
	font-weight: 600;
	line-height:27px;
}
.pindufenxi{
	width:862px;
	height:27px;
	margin:0 auto;
}
#main{
	height:220px;
	width:862px;
	/*background:green;*/
	
	margin:0 auto ;
}
/*用户扫码时段分析*/
#sunPie{
	width:300px;
	height:220px;
	/*background:red;*/
	margin-left:60px;
}
/*用户扫码结构分析*/
#zheXianPic{
	width:550px;
	height:220px;
	/*background:green;*/
	margin-left:50px;
	
}
/*用户扫码轨迹*/
#saoGuiJi{
	height:270px;
	width:862px;
	/*background:green;*/
	
	margin:0 auto ;
}
/*用户各规格扫码烟包数*/
.EverySao{
	/*height:220px;*/
	width:862px;
	/*background:red;*/
	
	margin:20px auto ;
}
.EverySao tr{
	width:100%;
	height:36px;
	
}
.EverySao tr td{
	width:25%;
	height:36px;
	text-align: center;
}

table, th, td{
  border:1px solid #a0a0a0;
  text-align: center;
  }
  /*弹窗*/
 body{
    height: 100%;
}
.z_num{
    z-index: 10;
}
.box_tit{
    background-color: #e6e6e6;
    font-size: 13px;
    color: #727272;
    text-align: center;
    height:30px;
    line-height: 30px;
    width:400px;
    border-top-left-radius: 6px;
    border-top-right-radius:6px ;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius:6px ;
    padding: 5px 7px 5px 14px;
}
.box_cont{
    font-size: 13px;
    width:400px;
    background:#fff;
    text-align: center;
    padding: 10px 0;
}
.cami_box_cont{
    font-size: 16px;
    padding: 50px 0;
    /*border-bottom: 1px solid #CECECE;*/
}
/*.box_cont input{
    width: 100px;
    margin-right: 10px;
}*/
.box_btn{
	width:400px;
	background:#fff;
	text-align:center;
    padding: 12px 0;
}
.box_btn div{
    width: 50%;
    font-size: 15px;
    text-align: center;
}
.box_btn div:hover{
    cursor: pointer;
}
.box_btn .box_btn_conf{
    color: #6E80FF;
    border-right: 1px solid #CECECE;
}
.box_btn .box_btn_cancel{
    color: #CECECE;
}
.box_btn .enabled_btn{
	width:170px;
	height:30px;
	background:#dcdcdc;
	text-align:center;
	line-height: 30px;
	border-radius:5px;
	font-size:15px;
    color: #696969;
    margin: 0 auto;
}
.no_search{
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    font-size: 20px;
}
#transfer,#giftImg,#camiFile,#camiCreateFile,#addPoolCamiFile{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 19;
    height: 100%;
}
.transfer_sec{
    position: relative;
    margin-left: 122px;
    margin-top: -30px;
    width: 84px;
    height: 84px;
}
.cami_create{
    position: relative;
    margin-left: 122px;
    margin-top: -35px;
    width: 100px;
    height: 28px;
}
.cami_file_sec{
    position: relative;
    margin-left: 135px;
    margin-top: -30px;
    width: 100px;
    height: 28px;
}
.cami_explain{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 135px;
}
#transferName{
    margin-left: 220px;
    display: inline-block;
    margin-top: -90px;
}
#addGiftCamiStock{
    width: 100px;
    height: 26px;
    font-size: 16px;
    margin-right: 10px;
}
.cami_name{
    position: absolute;
    margin-left: 250px;
    margin-top: -25px;
}
#transfer_warn{
    margin-top: -15px;
    color: #ACACAC;
}

.select_supply,.select_brand,.entry_capital,.select_specift,.packet_name,.packet_thresh{
    color: #ff3300;
    font-size: 10px;
    margin-left: 10px;
    display: none;
}
.gift_name_warn,.category_warn,.gift_supply_warn,.apply_brand_warn,.apply_specift_warn,.market_value_warn,.stock_warn,.stockThresh_warn{
    color: #ff3300;
    font-size: 15px;
    margin-left: 10px;
    display: none;
}
.add_stock_warn{
    color: #ff3300;
    font-size: 13px;
    margin-left: 10px;
    display: none;
}
#giftImgName{
    color: #666;
    font-size: 16px;
    position: absolute;
    margin-left: 230px;
    margin-top: -60px;
}
#camiCreateName{
    color: #666;
    font-size: 15px;
    position: absolute;
    margin-left: 230px;
    margin-top: -30px;
}
.gift_brief_sec{
    position: relative;
    margin-left: 122px;
    margin-top: -35px;
}
textarea {
    resize: none;
    font-size: 14px;
}
.gift_img img{
    height: 50px;
}
#selectGiftName{
    font-size: 14.7px;
    /*width: 154px;*/
    width: 60%;
    height: 28px;
    line-height: 28px;
    display: inline-block;
}
.file_name{
    color: #6E80FF;
}
.disabled_color{
    background-color: #EBEBE4;
}
#allPacketName{
    font-size: 14.7px;
    height: 28px;
    width: 60%;
    line-height: 28px;
}
.time_period{
    display: inline-block;
    font-size: 15px;
}
.multiselect-container li label{
    font-size: 15px;
    color: #515151;
    width: 180px;
}
.multiselect{
    text-align: left;
    margin-left: 4px;
}
.multiselect b{
    float: right;
    position: relative;
    top: 8px;
}
.time_validity{
    display: none;
}
.cami_stock_label{
    margin-left: 50px;
}
.add_pool_warn{
    color: #ff3300;
    font-size: 14px;
    text-align: left;
    margin-left: 145px;
    visibility : hidden;
}
.warn_color{
    color: #ff3300;
}
.radioOne{
	margin:auto 0;
}
.EverySao tr:nth-child(even){
	background:#f8fbff;
}
