/**
 * Author: kuang
 * Create Date: 2017-07-18
 * Description: manageActs.css
 */

/*新建活动模态框*/
.ui-panel-title {
	margin-top: 30px;
}
.create-activity-modal .modal-body {
	overflow: hidden;
}
.create-activity-modal .flex {
	width: 85%;
	margin: 20px auto;
}
.create-activity-modal .flex-item {
	position: relative;
	margin-right: 30px;
	margin-bottom: 60px;
	width: 128px;
	height: 128px;
	cursor: pointer;
}
.create-activity-modal .flex-item:hover {
	background: #eee;
}
.create-activity-modal .flex-item img {
	width: 98px;
	margin-left: 50%;
	margin-top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.create-activity-modal .flex-item p {
	position: absolute;
	bottom: -35px;
	left: 50%;
	width: 100%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 16px;
	color: #000;
}
/*启用、终止模态框*/
.end-activity-modal .modal-header, .start-activity-modal .modal-header {
	border: 0 none!important;
}
.snslist, .arealist {
	max-width: 200px;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*通用活动新建*/
.pop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 25px 30px;
	background: #d9e0e7;
	z-index: 1040;
}
.pop-header {
	color: #515151;
	margin-bottom: 20px;
}
.pop-back {
	cursor: pointer;
}
.pop-back:hover {
	color: #000;
}
.pop .ui-panel-box {
	padding: 15px 30px 50px;
	min-width: 1020px;
}
.pop-inner {
	overflow: hidden;
}
/*新建活动 操作界面*/
.config-item {
	margin-bottom: 30px;
}
.configuration {
	width: 60%;
	min-width: 572px;
}
.preview {
	width: 40%;
	min-width: 380px;
}
.configuration h6 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.configuration-item {
	position: relative;
	margin-bottom: 15px;
	width: 100%;
}
.basicinfo .configuration-item b {
	position: absolute;
	left: 110px;
  top: 5px;
  color: red;
  font-size: 18px;
}
.wrong-tip {
	color: red;
	font-size: 12px;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 2px 6px;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.2);
  background: #fff;
}
.basicinfo .configuration-item .wrong-tip {
  position: absolute;
	left: 395px;
	top: 7px;
}
.basicinfo label {
	position: absolute;
	top: 6px;
	left: 60px;
	color: #707478;
	font-weight: normal;
}
.basicinfo .configuration-image b {
	top: 0;
}
.basic .normfile {
	left: 14px;
	top: 1px;
}
.basic .activityfileimage {
	top: 1px;
}
.basic .priority {
	left: 49px;
}
.basic .popimagefile {
	left: 48px;
	top: 1px;
}
.basic .poptextfile {
	left: 37px;
	top: 1px;
}
.participate-relate {
	margin-top: 60px;
}
.basic input, .participate-relate input {
	margin-left: 130px;
}

.basic input[type="text"], .basic input[type="number"], .basic input[type="url"], .participate-relate input[type="number"] {
	width: 400px;
}

.basicinfo textarea {
	margin-left: 130px;
	resize: none;
	border-width: 1px;
  border-style: solid;
  border-color: rgb(210, 210, 210);
  width: 400px;
  height: 100px;
  margin-top: 6px;
  padding: 4px 6px;
}

.configuration-item:before {
	content: '';
	position: absolute;
}

.draw-prize select {
	margin-left: 72px;
	width: 453px;
}
.draw-prize .configuration-item i {
  position: absolute;
  left: 55px;
  top: 5px;
  color: red;
  font-size: 18px;
  font-weight: bold;
}
.draw-prize .configuration-item .wrong-tip {
	position: absolute;
  left: 395px;
  top: 7px;
  z-index: 1;
  color: red;
  font-size: 12px;
}
.draw-prize .select-duration:before {
	content: '中奖时间';
	top: 6px;
  left: 5px;
}
.draw-prize .draw-area:before {
	content: '中奖地区';
	top: 6px;
  left: 5px;
}
.draw-prize .draw-area button.dropdown-toggle {
	width: 453px!important;
	padding: 5px;
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(210, 210, 210);
  border-radius: 0px;
  height: 29px;
  text-align: left;
}
.draw-prize .btn-group {
	margin-left: 72px;
}
.draw-prize .plus:before {
	content: '附加条件';
	top: 6px;
  left: 5px;
}
.draw-prize .plus input[type="checkbox"] {
	margin-left: 72px;
  margin-top: 8px;
}
.draw-prize .plus select {
	margin-top: 5px;
}
.draw-prize .chance:before {
	content: '中奖概率';
	top: 6px;
  left: 5px;
}
.draw-prize .chance input {
	margin-left: 72px;
	width: 445px;
}
.activity-priority:after {
	content: '提示：数值越大活动越靠前显示，最小数值为1';
  position: absolute;
  bottom: -20px;
  left: 86px;
  width: 100%;
  font-size: 12px;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}
.participate-relate .configuration-item:nth-of-type(1):before {
	content: '参与消耗积分';
	top: 6px;
	left: 40px
}
.participate-relate .configuration-item:nth-of-type(2):before {
	content: '每人每天参与总次数';
	top: 6px;
	left: 5px;
}
.participate-relate .configuration-item:nth-of-type(3):before {
	content: '每人可参与总次数';
	top: 6px;
	left: 17px;
}

.launch-relate {
	padding: 5px;
}
.launch-relate .configuration-item small {
	position: absolute;
	left: 55px;
  top: 5px;
  color: red;
  font-size: 18px;
  font-weight: bold;
}
.launch-relate .configuration-item .wrong-tip small {
	font-weight: normal;
}
.launch-relate .configuration-item .wrong-tip {
	position: absolute;
	left: 395px;
	top: 7px;
	color: red;
	font-size: 12px;
}
.launch-relate select {
	margin-left: 72px;
	width: 453px;
}
.launch-relate select.hours, .draw-prize select.hours {
	margin-left: 0;
	width: 60px;
}
.draw-prize select.hours:first-of-type {
	margin-left: 72px;
}
/*.launch-relate .configuration-item:nth-of-type(1):before {
	content: '选择供应商';
	top: 6px;
	left: -6px
}*/
.launch-relate .configuration-item:nth-of-type(1):before {
	content: '选择品牌';
	top: 6px;
	left: 5px;
}
.launch-relate .configuration-item:nth-of-type(2):before {
	content: '选择规格';
	top: 5px;
	left: 5px;
}
.launch-relate .configuration-item:nth-of-type(3):before {
	content: '地区';
	top: 6px;
	left: 27px;
}
.launch-relate .configuration-item:nth-of-type(4):before {
	content: '活动时段';
	top: 6px;
	left: 5px;
}
.surprise-pop .launch-relate .configuration-item:nth-of-type(6):before {
	content: '中奖条件';
	top: 6px;
	left: 5px;
}
.surprise-pop .launch-relate .configuration-item:nth-of-type(7):before {
	content: '弹窗图';
	top: 2px;
	left: 10px;
}
.surprise-pop .launch-relate .configuration-item:nth-of-type(8):before {
	content: '弹窗文案';
	top: 2px;
	left: -2px;
}
.surprise-pop .condition-one {
	margin-left: 70px;
}
.surprise-pop .condition-one:last-of-type {
	margin-top: 8px;
}
.surprise-pop .condition-one select, .surprise-pop .condition-one input[type="text"] {
	width: 280px;
	margin-left: 5px;
}
.surprise-pop .condition-one input[type="text"] {
	margin-left: 8px;
}
.surprise-pop label {
  color: #707478;
  font-weight: normal;
}
.time-config, .area-config, .condition-config {
	margin-top: 6px;
}
.pop-image-config input, .pop-text-config input {
	margin-left: 72px;
}
.select-duration .form_datetime:first-of-type {
	margin-left: 72px;
	margin-right: 5px;
}
.select-duration .form_datetime:last-of-type {
	margin-left: 10px;
	margin-right: 5px;
}
.select-duration .form_datetime {
	width: 203px!important;
}

input[type="checkbox"] {
	margin-right: 6px!important;
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	-ms-appearance: checkbox;
	appearance: checkbox;
}
.creat-prize-btn {
	margin-top: 20px;
	height: 26px;
  line-height: 12px;
  color: #fff;
  background: #6e80ff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.first-draw-prize-wrap, .non-first-draw-wrap {
	margin-left: 50px;
}
.draw-prize-wrap {
	position: relative;
	width: 482px;
}
.draw-prize-wrap b {
	color: red;
  font-size: 18px;
}
.basic .draw-prize-wrap b {
	position: absolute;
 	left: 55px;
  top: 5px;
}
.draw-prize-wrap .wrong-tip {
	position: absolute;
  top: 25px;
  left: 100%;
  width: 300px;
}
.draw-prize-wrap .close {
	position: absolute;
	top: 5px;
	right: 10px;
}
.prize-config {
	margin-top: 10px;
	padding: 15px 30px 10px;
	border: 1px solid #d2d2d2;
}
.prize-config .chance {
	width: 340px!important;
}
.prize-config .configuration-item input[type="text"] {
	margin-left: 50px;
	width: 360px;
}
.prize-config .configuration-item:before {
	left: -12px;
	top: 6px;
}
.prize-config .configuration-item:nth-of-type(1):before {
	content: '奖项名称';
}
.prize-config .configuration-item:nth-of-type(2):before {
	content: '奖品类型';
}
.redpack-pop .hb-res .configuration-item:nth-of-type(2):before {
	content: '红包总额'!important;
} 
.common-pop .prize-config .configuration-item:nth-of-type(2):before {
	content: '奖品类型(三选一)';
	width: 50px;
	text-align: center;
	top: 0;
}
.circle-money-tick {
	display: inline-block;
	cursor: pointer;
}
.circle-tick {
	text-indent: 5px;
	cursor: pointer;
}
.circle-tick .circle, .circle-money-tick .circle {
	display: inline-block;
	margin-right: 8px;
	vertical-align: -6%;
	width: 12px;
	height: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #d2d2d2;
}
.circle-tick.active .circle {
	background: #7c8af4;
}
.circle-money-tick.active .circle {
	background: #7c8af4;
}
.gift .configuration-item:nth-of-type(1):before {
	content: '选择礼品';
}
.jf .configuration-item:nth-of-type(1):before {
	content: '选择积分';
}
.gift .configuration-item:nth-of-type(2):before {
	content: '奖品数量'!important;
	top: 6px!important;
}
.hb .configuration-item:nth-of-type(1):before {
	content: '选择模板';
}
.hb .configuration-item:nth-of-type(2):before {
	content: '红包总额'!important;
	top: 6px!important;
}
.hb .configuration-item:nth-of-type(2):after {
	content: '元';
	position: absolute;
	right: 115px;
	top: 7px;
}
.redpack-pop .first-draw-prize-wrap .configuration-item:nth-of-type(3):before {
	content: '选择模板';
} 
.redpack-pop .first-draw-prize-wrap .configuration-item:nth-of-type(4):before {
	content: '红包总额';
}
.redpack-pop .first-draw-prize-wrap .configuration-item:nth-of-type(4):after {
	content: '元';
	position: absolute;
	right: 100px;
	top: 7px;
}
.first-draw-prize-wrap .number {
	width: 256px!important;
}
/*非首抽*/
.non-first-draw-wrap .configuration-item:nth-of-type(1):before {
	content: '中奖概率';
}
.surprise-pop .non-first-draw-wrap .configuration-item:nth-of-type(1):before {
	content: '奖品名称';
}
.redpack-pop .hb-res .configuration-item:nth-of-type(1):before {
	content: '红包模板'!important;
}

.common-pop .non-first-draw-wrap .configuration-item:nth-of-type(1):after, .redpack-pop .non-first-draw-wrap .configuration-item:nth-of-type(1):after {
	position: absolute;
	content: '提示：以上中奖概率控制除参与奖外所设奖项的整体中奖概率，参与奖项的中奖概率为100%（中奖概率设置值）。';
	left: 20px;
  bottom: -36px;
  font-size: 12px;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}
.surprise-pop .non-first-draw-wrap .configuration-item:nth-of-type(2):before {
	content: '奖品类型(三选一)'!important;
	width: 50px;
	text-align: center;
	top: 0!important;
}
.surprise-pop .non-first-draw-wrap .hb .configuration-item:nth-of-type(2):before {
	top: 6px!important;
}
.non-first-draw-wrap .configuration-item:nth-of-type(2):before {
	content: '奖项名称'!important;
	top: 6px!important;
}
.common-pop .non-first-draw-wrap .configuration-item:nth-of-type(2), .redpack-pop .non-first-draw-wrap .configuration-item:nth-of-type(2) {
	margin-top: 40px;
}
.non-first-draw-wrap .configuration-item:nth-of-type(3):before {
	content: '奖品类型(三选一)';
	width: 50px;
	text-align: center;
	top: 0;
}
.redpack-pop .non-first-draw-wrap .prize-config .configuration-item:nth-of-type(3):before {
	content: '奖品类型'!important;
	top: 6px!important;
}
.redpack-pop .non-first-draw-wrap .prize-config .hb-res .configuration-item:nth-of-type(3):before { 
	content: '红包个数'!important; 
}
.common-pop .non-first-draw-wrap .configuration-item:nth-of-type(3):before {
	content: '奖品类型(三选一)';
	width: 50px;
	text-align: center;
	top: 0;
}
.holiday-pop .radio-wrap:before, .surprise-pop .radio-wrap:before {
	content: '奖品类型(三选一)';
	width: 50px;
	text-align: center;
	top: 0;
}
.redpack-pop .non-first-draw-wrap .configuration-item:nth-of-type(4):before {
	content: '选择模板';
}
.non-first-draw-wrap .configuration-item:nth-of-type(5):before {
	content: '奖品数量';
}
.redpack-pop .non-first-draw-wrap .configuration-item:nth-of-type(5):before {
	content: '红包总额';
}
.hb-two-one {
	position: relative;
}
.prize-config input[type="number"] {
	margin-left: 50px;
	padding: 5px;
	width: 280px;
	height: 29px;
	background: transparent;
  border: 1px solid #d2d2d2;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.prize-config .configuration-item:nth-of-type(5):after {
	content: '件';
	position: absolute;
	right: 100px;
	top: 7px;
}
.redpack-pop .non-first-draw-wrap .configuration-item:nth-of-type(5):after {
	content: '元';
}
.non-first-draw-wrap .gift .configuration-item:nth-of-type(1):before {
	content: '选择礼品';
}
.non-first-draw-wrap .gift .configuration-item:nth-of-type(1):after {
	content: ''
}
.non-first-draw-wrap .hb .configuration-item:nth-of-type(1):after {
	content: ''
}
.non-first-draw-wrap .jf .configuration-item:nth-of-type(1):after {
	content: ''
}
.non-first-draw-wrap .gift .configuration-item:nth-of-type(2), .non-first-draw-wrap .hb .configuration-item:nth-of-type(2), .non-first-draw-wrap .jf .configuration-item:nth-of-type(2) {
	margin-top: 0;
}
.non-first-draw-wrap .gift .configuration-item:nth-of-type(2):before {
	content: '奖品数量'!important;
	top: 6px!important;
}
.non-first-draw-wrap .hb .configuration-item:nth-of-type(1):before {
	content: '选择模板';
}
.non-first-draw-wrap .hb .configuration-item:nth-of-type(2):before {
	content: '红包总额'!important;
}
.hb .configuration-item:nth-of-type(3):before {
	content: '红包个数'!important;
	top: 6px!important;	
}

input[type="radio"] {
	margin-top: 8px!important;
	-webkit-appearance: radio;
	-moz-appearance: radio;
	-ms-appearance: radio;
	appearance: radio;
}
input[type="radio"]~label, input[type="checkbox"]~label {
	margin-left: 6px;
	margin-right: 6px;
	color: #707478;
	font-weight: normal;
}
.remark {
	margin-left: 72px;
}
.present-integral {
	margin-top: 10px;
	margin-left: 50px;
}
.present-integral .tickcheckbox {
	margin-top: 10px;
}
.sendscore {
	display: inline-block;
}
.jf .configuration-item:nth-of-type(2):before {
	content: '赠送积分'!important;
} 
.jf .configuration-item:nth-of-type(3):before {
	content: '奖品数量'!important;
	top: 6px!important;
}
.present-integral .score {
	margin-right: 8px!important;
 	margin-left: 10px!important;
	width: 130px!important;
}
.present-integral button {
  height: 29px;
  line-height: 12px;
  border: 1px solid #6e80ff;
  border-radius: 0;
  color: #6e80ff;
  font-size: 12px;
  cursor: pointer;
  background: transparent;
}
.choose-list {
	position: relative;
	display: inline-block;
}
.choose-list button:last-of-type {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	opacity: 0;
	width: 10px;
}
.present-integral .choose-list button:first-of-type {
	margin-left: 0;
}
.prize-config .add-prize, .choose-list .btn-default {
	margin-left: 50px;
	height: 29px;
	line-height: 12px;
	border: 1px solid #6e80ff;
	border-radius: 0;
	color: #6e80ff;
	font-size: 12px;
	cursor: pointer;
	background: transparent;
}
.prize-config .configuration-item .radio-group {
	display: inline-block;
	margin: 0 20px;
}
.prize-config .configuration-item .radio-group:first-of-type {
	margin-left: 50px;
}
.prize-img-preview {
	position: relative;
	margin: 5px 0 0 50px;
	width: 80px;
	height: 80px;
	border: 1px solid #d2d2d2;
	text-align: center;
}
.prize-img-preview .mask {
	position: absolute;
	top: 30px;
	left: 17px;
}
.prize-img-preview img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	max-width: 100%;
	max-height: 100%;
}
.add-inventory {
	width: 75px;
	height: 29px;
	line-height: 12px;
	border: 1px solid #d2d2d2;
	background: #f8fbff;
	color: #707070;
	border-radius: 0;
	cursor: pointer;
}
.non-first-draw h6 {
	margin-top: 25px;
}
.btn-area {
	text-align: center;
}
.submit-wrap {
	display: inline-block;
}
.f-btn {
	margin: 20px 30px 0;
  height: 26px;
  width: 90px;
  line-height: 12px;
  color: #fff;
  background: #6e80ff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.cancel-prize {
	background: transparent;
	border: 1px solid #6e80ff;
  color: #6e80ff;
}

/*右侧预览*/
.preview .image {
	width: 90%;
}
.preview .image img {
	max-width: 100%;
}

/*红包*/
.random-hb, .fixed-hb {
	margin-left: 50px;
}
.random-hb .min, .random-hb .max {
	width: 103.5px!important;
	margin-top: 6px!important;
	margin-left: 5px!important;
	margin-right: 5px!important;
}
.fixed-hb .fixed {
	width: 260px!important;
	margin-top: 6px!important;
	margin-left: 5px!important;
	margin-right: 5px!important;
}
.hb .money {
	width: 260px!important;
}
.hb .hbnumber {
	width: 260px!important;
}
/*multi-select */
.launch-relate .btn-group {
	margin-left: 72px;
}

.launch-relate .btn-group button, .operation .btn-group button {
	padding: 5px;
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(210, 210, 210);
  border-radius: 0px;
  height: 29px;
  text-align: left;
}

.launch-relate .btn-group button, .launch-relate .btn-group ul, .operation .btn-group button, .operation .btn-group ul {
	/*width: 453px;*/
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.launch-relate .open>.dropdown-menu, .operation .open>.dropdown-menu, .draw-prize .open>.dropdown-menu {
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}

/*选择礼品*/
.create-realProduct-modal .choose, .create-hbProduct-modal .choose, .create-jfProduct-modal .choose {
	cursor: pointer;
	color: #7c8af4;
}
.create-realProduct-modal .choose:hover, .create-hbProduct-modal .choose:hover {
	color: indianred;
}

.ready-set {
	margin-bottom: 10px;
}
.ready-set b {
	position: absolute;
	left: 38px;
	top: 4px;
}
.create-prize-btn {
	height: 29px;
	line-height: 16px;
	color: #fff;
  background: #6e80ff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

/*增库弹框*/
.add-stock-pop .modal-body {
	text-align: center;
	font-size: 16px;
}
.add-stock-pop .modal-body input {
	height: 40px;
	width: 300px;
}
.add-stock-pop .modal-body .input-wrap {
	position: relative;
	width: 400px;
	margin: 0 auto;
}
.add-stock-pop .modal-body .input-wrap label {
	margin-right: 10px;
}
.add-stock-pop .modal-body .input-wrap input {
	text-align: center;
}
.add-stock-pop .modal-body .input-wrap:after {
	position: absolute;
	content: '件';
	right: 22px;
	top: 10px;
}
.add-hbstock-pop .modal-body .input-wrap:after {
	position: absolute;
	content: '元';
	right: 22px;
	top: 10px;
}

.detail-wrap {
	width: 80%;
	margin: 0 auto;
	font-size: 14px;
}
.detail-wrap p {
	color: #6e80ff;
	line-height: 2;
}
.detail-wrap p span {
	color: #707478;
}

/*投放设置 单选*/
.select-brand .multiselect-container>li>a>label, .select-specification .multiselect-container>li>a>label {
	padding: 0 20px 0 40px;
}
.select-brand .multiselect-container>li>a>label.radio, .select-specification .multiselect-container>li>a>label.radio {
	line-height: 2.4;
}

/*保存活动*/
.submit-prize {
	opacity: 0;
}