.md input, .md select {
  width: 160px !important; }

.form-inline-layer {
  margin-bottom: 12px; }

.file-input-wrap {
  display: inline-block; }
  .file-input-wrap .fake-input-file {
    margin-left: 8.5em;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    border-radius: 0px !important;
    width: 74px; }

input[type="file"] {
  opacity: 0; }

.float-left {
  float: left; }

.float-right {
  float: right; }

@media screen and (max-width: 1280px) {
  .flex {
    font-size: 8px; } }

.panel-body .flex {
  justify-content: flex-start; }
  .panel-body .flex .t input, .panel-body .flex .t select, .panel-body .flex .b input, .panel-body .flex .b select {
    margin-left: 0.6em; }
  .panel-body .flex .flex-item .flex-item-l, .panel-body .flex .flex-item .flex-item-r {
    width: 6em; }
  .panel-body .flex .flex-item .flex-item-r {
    right: 0; }
  .panel-body .flex .flex-item:not(:last-child) {
    width: 21em;
    margin-right: 2.5em; }
  .panel-body .flex .flex-item .b {
    margin-top: 18px; }

.panel-body .oper-btn-wrap {
  margin: 0 auto;
  width: 70px;
  cursor: pointer; }

.panel-body .operate-btn {
  margin: 0 5px; }
  .panel-body .operate-btn:hover {
    color: #6e80ff; }

th {
  font-size: 1.1em !important; }

tr td {
  font-size: 1em !important; }
  tr td img {
    max-height: 4em; }
