/**
 * Author: kuang
 * Create Date: 2017-08-04
 * Description: prizegot.css
 */
 .ui-panel-title {
  margin-top: 30px;
  margin-bottom: 10px;
 }
.order-num {
	cursor: pointer;
}
.order-num:hover {
	color: #337ab7;
}
.modal-body {
	width: 400px;
  margin: 0 auto;
  font-size: 14px;
}
.operation .open>.dropdown-menu {
	overflow-y: auto;
  overflow-x: hidden;
	max-height: 500px;
}
.bottom .r, .bottom .l {
	position: relative;
}
.bottom .flex-item {
	margin-bottom: 10px;
}
.multiselect.dropdown-toggle {
	padding: 5px;
  background: transparent;
}

/*导出、导入按钮*/
.operBtnWrap {
  margin-left: 20px;
  font-size: 0;
}
.pull-in {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 100px;
  height: 26px;
  cursor: pointer;
}
.pull-in:hover .btn {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.operBtn {
  padding: 0;
  line-height: 100%;
  width: 100px;
  height: 26px;
  border: 1px solid #eee;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-appearance: none;
  background: #6e80ff;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.pull-in input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  cursor: pointer;
}