.que_btn{
    height:30px;
    line-height:30px;
    border-radius: 15px;
    text-align: center;
}
.que_btn_nomal{
    color: #6e80ff;
    background: #fff;
    border: 1px solid #6e80ff;
}
.que_btn:hover{
    cursor: pointer;
}
.que_btn_next{
    color: #fff;
    background: #6e80ff;
}
.que_btn_back{
    color: #6e80ff;
    background: #fff;
    border: 1px solid #6e80ff;
}
.content_top{
    margin-top: 8px;
}
.textarea_box{
    height:80px;
    resize: none;
}
/*==============================================*/
/**/ 
.all_660 { width: 660px; margin: 0 auto; font-family: "微软雅黑"; font-size: 14px; color: #333; }
.dcwj_table { border-top: 1px solid #ccc; border-right: 1px solid #ccc; }
.dcwj_table td { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; height: 32px; padding: 0 5px; font-size: 12px; }
.dcwj_table .td_title { text-align: center; }
.title_wjht { font-weight: 400; 
font-size: 16px;
padding: 5px 0 15px 0;
color: #666;
}
.qt_box { height: auto; overflow: hidden; }
.qt_box .qtwenz { float: left; }
.qt_box a { float: right; color: #0099FF; text-decoration: underline; }
.bli_box { height: auto; overflow: hidden; }
.bli_box .jdt_kk { background: #ddd; height: 10px; display: block; width: 100px; float: left; margin-top: 5px; }
.bli_box .jdt_kk em { display: block; height: 10px; background: #ff5c10; width: 100%; }
.bli_box .wen_zl { float: right; }
.ptjy_box { height: 170px; overflow: auto; }
.jz_table td { text-align: center; }
.wjdc_list { margin-top: 10px; margin-bottom: 20px; }
.wjdc_list li { line-height: 32px; color: #666; }
.wjdc_list li .tm_btitlt { font-size: 16px; padding: 5px 0; color: #666; }
.wjdc_list li label { margin-left: 0; }
.wjdc_list li label input { margin-right: 5px; vertical-align: text-bottom;}
.wjdc_list li label .wenb_ipnput { height: 100px; line-height: 24px; width: 600px; border: 1px solid #ccc; font-family: "微软雅黑"; font-size: 12px; padding-left: 5px; color: #666; }
.tip_wz { color: #026fda; }
.wjdc_list li label .wenb_input { border: 1px solid #ccc; height: 22px; line-height: 22px; font-family: "微软雅黑"; font-size: 12px; padding-left: 5px; width: 210px; margin-left: 5px; }
/*选项卡*/
.xxk_box { margin-top: 20px; }
.xxk_title { height: auto; overflow: hidden; }
.xxk_title li { background: #ddd; float: left; height: 40px; line-height: 40px; width: 164px; text-align: center; border-right: 1px solid #fff; }
.xxk_title li.on { background: #0099ff; color: #fff; }
.xxk_conn .xxk_xzqh_box { padding: 20px; background: #f2f2f2; }
.input_wenbk { font-family: "微软雅黑"; width: 450px; height: 33px; line-height: 33px; padding-left: 10px; border: 1px solid #ccc; background: #FFF; color: #666;}
.btwen_text,.btwen_brief { font-family: "微软雅黑"; height: 33px; width: 450px; margin-bottom: 15px; }
.kzjxx_iteam { height: 35px; overflow: hidden; margin-bottom: 10px; line-height: 35px; margin-left: 6px; }
.kzjxx_iteam input { float: left; }
.kzjxx_iteam span { float: left; }
.kzjxx_iteam a { margin-left: 10px; color: #999; }
/*.kzjxx_iteam a:hover { color: #ff5c10; }*/
.kzjxx_iteam input.dxk { margin: 10px 10px 0 10px; }
.kzjxx_iteam input.fxk { margin: 10px 2px 0 10px; }
a.zjxx { display: block; background: url(../image/jiajia.png) no-repeat left; height: 16px; color: #0099ff; font-size: 14px; font-weight: bold; line-height: 16px; padding-left: 20px; margin-left: 40px; margin-top: 15px; }

.bjqxwc_box{ height:auto; overflow:hidden;}
.swcbj_but { display: block; width: 15%; color: #fff; float:left; font-size: 14px; background: #0099ff; line-height: 40px; height: 40px; text-align: center; border: none; margin-top:15px; margin-left: 4%;border-radius: 20px;}
.swcbj_but:hover { background: #0099cc; color: #fff; }


.qxbj_but { display: block; width: 15%; float:left; color: #0099cc; font-size: 14px; background: #fff; line-height: 40px; height: 40px; text-align: center; border: none; margin-top:15px; margin-left: 4%;border-radius: 20px;border: 1px solid #0099cc;}
.qxbj_but:hover { background: #f2f2f2; color: #0099cc; }




.tswjdc_table { width: 100%; margin-bottom: 20px; }
.tswjdc_table td { text-align: center; width: 15%; line-height: 30px; }
.tswjdc_table td.lefttd_qk { text-align: left; padding-left: 10px; }
.jzwent_input { width: 330px; }
.leftbtwen_text { font-family: "微软雅黑"; width: 108px; height: 160px; line-height: 33px; padding-left: 10px; border: 1px solid #ccc; background: #FFF; color: #666; }
.ritwenz_xx { font-size: 14px; padding-bottom: 10px; height: 24px; line-height: 24px; }
.ritwenz_xx a { display: inline-block; height: 22px; line-height: 22px; border: 1px solid #ccc; color: #999; font-size: 12px; font-weight: 400; padding: 0 5px; margin-left: 10px; border-radius: 5px; }
.ritwenz_xx a.xzqk { border: 1px solid #0099ff; color: #0099ff; }
.line_dl { border-bottom: 1px solid #ccc; margin-bottom: 20px; }


/**/
.movie_box{ position:relative; z-index:8; border: 1px solid #fff; padding:0 5px;} 
.kzqy_czbut{ text-align:right;position:absolute; top:5px; right:5px;}
.kzqy_czbut a{ display:inline-block; font-size:12px; padding:4px 10px; background:#0099ff; color:#fff; margin-left:5px;  }
 .hide{ display:none;}
 
 .dx_box{ display:none; padding: 20px; background: #F8FBFF; }

 textarea{resize: none;}
 a:active{text-decoration:none;}
 .tm_breif{margin-left: 2%;margin-top:-5px;}
 .option_box{margin-left: -13px;margin-top: 15px;}
 .option_box select{width: 120px;height: 33px;line-height: 33px;padding-left: 10px;}
 textarea.btwen_text{font-family: "微软雅黑"; height: 90px; width: 450px; margin-bottom: 15px; margin-left: 18px;}
 .font_size_limit{width: 120px;height: 33px;line-height: 33px;padding-left: 10px;}
 .add-packet{background: #F8FBFF;border: 1px solid #ccc;height: 33px;line-height: 33px;text-align: center;border-radius: 10px;margin-left: 8px;width: 100px;}
 .warn_info{ display: inline-block;height: 33px;line-height: 33px;color: #f00;display: none;}
 .open>.dropdown-menu{max-height: 200px;overflow-y: auto;}
 .btn .caret{float: right;margin-top: 6px;}
 .normal_file{position: relative;
    height: 33px;
    width: 100px;}
 #normalFile{ opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    height: 100%;}
 .select_cami_file{
    width: 100%;
    height: 100%;
    border: 1px solid #D2D2D2;
    font-size: 13px;
    text-align: center;
    line-height: 33px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F8FBFF;
    border-radius: 10px;
}
#normalFileWarn{
    position: absolute;margin-left: 30%;margin-top:2px;font-size: 13px;
}
.select-duration .control-label:before,.packet_pool .control-label:before{
    content: '*';
    position: absolute;
    right: 0;
    top: 5px;
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.amont_warn{margin-left: -3%;line-height:30px;color: #f00;display: none;}
textarea{overflow-x: hidden;}
.yd_box{margin-left: 2%;}
.view_box{
    margin-left: 33%;
    border: 1px solid #6e80ff;
    height: 700px;
    border-radius: 30px;
}
.view_title{
    border-bottom: 1px solid #6e80ff;
    height: 70px;
    margin: 0 -15px;
}
.view_title div{
    display: inline-block;
    margin-top: 30px;
}
.view_title .cir_show{
    width: 10px;
    height: 10px;
    border: 1px solid #6e80ff;
    border-radius: 50%;
    margin-left: 38%;
}
.view_title .long_show{
    width: 60px;
    height: 10px;
    border: 1px solid #6e80ff;
    border-radius: 5px;
    margin-left: 2%;
}
.view_main{
    height: 560px;
    overflow-y: auto;
}
.view_bottom{
    border-top: 1px solid #6e80ff;
    margin: 0 -15px;
}
.view_bottom .bottom_but{
    width: 50px;
    height: 50px;
    border: 1px solid #6e80ff;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 43%;
}
/*调查问卷预览*/
.naire_name{
    padding: 15px 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.item_box{
    padding: 10px 0;
    border-top: 1px solid #ccc;
}
.naire_title,.radio_item{
    padding-left: 12px;
    text-indent: -12px;
}
.option_item{
    vertical-align: text-bottom;
}
.naire_area{
    height: 60px;
    width: 100%;
}
.naire_desc{
    padding-left: 12px;
}
/*滚动条样式*/
.view_main::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.view_main::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.view_main::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
.item_box:last-child{
    border-bottom: 1px solid #ccc;
}
.naire_bottom{
    padding: 10px 0 15px;
}
.must_write{
    color: red;
    font-size: 20px;
    vertical-align: -webkit-baseline-middle;
}
.view_opeta_box{
    margin-left: 33%;
    margin-top: 20px;
}
.view_opeta_box div{
    width: 30%;
    display: inline-block;
    margin: 0 9%;
    box-sizing: border-box;
}
.box_tit{
    background-color: #6E80FF;
    font-size: 17px;
    color: #FFFFFF;
    line-height: 28px;
    border-top-left-radius: 6px;
    border-top-right-radius:6px ;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius:6px ;
    padding: 5px 7px 5px 14px;
}
.box_cont{
    font-size: 16px;
    text-align: center;
    padding: 50px 0;
    border-bottom: 1px solid #CECECE;
}
.box_btn{
    padding: 12px 0;
}
.box_btn div{
    width: 50%;
    font-size: 15px;
    text-align: center;
}
.box_btn div:hover{
    cursor: pointer;
}
.box_btn .box_btn_conf{
    color: #6E80FF;
    border-right: 1px solid #CECECE;
}
.box_btn .box_btn_cancel{
    color: #CECECE;
}