/*  .row{
    margin:15px 0;
  }*/
  .orderModel{
    width: 520px;
    height: 254px;
    border-radius: 20px;
  }
  .orderModel .modal-content{
    height: 267px;
    border-radius: 20px;
  }
  .orderModel .header{
    height: 40px;
    background-color: blue;
    background-color: #3AC1EE;
  }
 .orderModel .header h4{
    line-height: 5px;
    font-family: "Microsoft YaHei","PingFangSC Medium";
    font-size: 18px;
    color: #fff;
 }
 #closeBtn {
  height: 40px;
 }
 .orderModel .header button {
    width: 22px;
    height: 22px;
    opacity: 1;
    margin-right: 18px;
    transform: translateY(-8px);

 }
 textarea  {
  width: 465px;
  height: 214px;
  margin-top: 10px;
 }

 .orderModel .header button span{
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  border:2px solid #fff;
  border-radius: 11px;
 }
 .orderModel .body{
  padding: 0px 30px;
 }
 .orderModel .body select{}
 .orderModel .body .marginBo{
  margin-bottom: 10px;
 }
 /*.orderModel .body .progress{
      margin: 0 15px 30px 15px;
 }*/
 #timeStart1,#timeStart2 {
  background: url("../image/copy.png") no-repeat center;
  background-position: 183px 14px;
  border: 1px solid #555;
  width: 211px;
  height: 36px;
 /* margin-top: 26px;*/
  /*margin-left: 6px;*/
  /*margin-bottom: 19px;*/
  padding-left: 16px;
  font-family: "Microsoft YaHei","PingFangSC Medium";
  font-size:  20px;
 }
 #timeStart1111,#timeStart2222 {
  background: url("../image/copy.png") no-repeat center;
  background-position: 183px 10px;
  border: 1px solid #555;
  width: 211px;
  height: 30px;
  margin-top: 26px;
  padding-left: 16px;
  font-family: "Microsoft YaHei","PingFangSC Medium";
  font-size:  16px;
 }
 #timeStart2222 {
  background-image: none;
 }
 #timeStart2 {
  margin-top: 0px;
  width: 280px;
  background-image: none;
 }

 #timeStart,#timeEnd  {
  /*background-position: 183px 22px;*/
  border: 1px solid #555;
  width: 120px;
  text-align: center;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Microsoft YaHei","PingFangSC Medium";
  font-size:  16px;
 }
 #timeStart {
  width: 200px;
 }
#timeRow {
  margin-top: 20px;
  position: relative;
}
 #look {
    width: 118px;
    height:36px;
    border:1px solid #3AC1EE;
    border-radius: 18px;
    background-color: #3AC1EE;
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    position: relative;
    zoom: 1;
 }
 #look  a {
    color: #fff;
    text-decoration: none;

 }
 #look input {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
 }
 .progressMake {
  height: 80px;
  border: none;
  background-color: #fff;
 }
 .progressMake div {
    width: 443px;
    height: 120px;
}
 
 .text-center  .btn {
   line-height: 20px;
   width: 90px;
   height: 30px;
   border-radius: 15px;
   font-size: 18px;
   font-family: "Microsoft YaHei","PingFangSC Medium";
   color: #fff;
   border:none;
   background-color: #3AC1EE;
 }
 #button {
  text-decoration: none;
  border: none;
 }
 #button:focus {
  outline: none;
 }
 form .row .time input {
  float: left;
 }
 form .row .time div {
    float: left;
    font-size: 18px;
    margin-top: 2px;
    font-family: "Microsoft YaHei","PingFangSC Medium";
 }

 form .row .down {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  width: 220px;
  height: 30px;
  float: right;
  background-color: #3AC1EE;
  border-radius: 22px;
  text-align: center;
  margin-top: 35px;
  margin-right: 124px;
  line-height: 30px;

 }
 #down-content {
  width: 247px;
  height: 30px;
  margin-top: 20px;
  border:1px solid #555;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
 }


 #first .time input,#second .time input,#third .time input {
  width: 290px;
  height: 30px;
  border: 1px solid #555;
  font-size: 16px;
  margin-top: 20px;
  font-family: "Microsoft YaHei","PingFangSC Medium";
  background-image: none;
 }
/*form .row .down  a {
  width: 120px;
  height: 30px;
  float: left;
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-family: "Microsoft YaHei","PingFangSC Medium";
  color: #fff;
}*/
#shen-though,#shen-back {
  float: left;
  background-color: #3AC1EE;
  width: 100px;
  height: 30px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  margin: 0 62px;
  margin-top: 10px;
}
#though-check,#though-backDown {
  height:30px;
  text-align:center;
  color:red;
  font-size:20px;
  float: left;
  width: 100%;
  margin-top: 15px;
  display: none;
}
#content-text {
  display: none;
}
#modal-content {
  height: 90px;
}
#seacherbtn {
  top: -20px;
  right: 30px;
  width: 120px;
  height: 30px;
  float: left;
  background-color: #3AC1EE;
  border-radius: 22px;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  line-height: 30px;
  position: absolute;
}
#seacherbtn a {

  width: 120px;
  height: 30px;
  float: left;
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-family: "Microsoft YaHei","PingFangSC Medium";
  color: #fff;
  cursor: pointer;
 }
 #profileList .fr a {
  cursor: pointer;
 }
 #fileDownBox {
  height: 100px;
 }