@charset "UTF-8";
/**
 * Author: liubin
 * Create Date: 2017-10-11
 * Description: 修改密码
 */
.left {
  float: left; }

.right {
  float: right; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.margin {
  margin: 15px; }

.margin-left {
  margin-left: 15px; }

.margin-right {
  margin-right: 15px; }

.margin-top {
  margin-top: 15px; }

.margin-bottom {
  margin-bottom: 15px; }

.padding {
  padding: 0; }

.height {
  height: 50px; }

.fix-btn {
  padding: 4px 12px;
  margin-left: 90px; }

.btn-option {
  margin-top: 30px; }
  .btn-option button.btn-primary,
  .btn-option button.btn-primary:hover,
  .btn-option button.btn-primary:active,
  .btn-option button.btn-primary:focus {
    width: 100px;
    margin-left: 30px;
    margin-right: 0px;
    height: 30px;
    border-radius: 15px;
    padding: 4px 12px;
    background: #44c1ed;
    border-color: #44c1ed; }

.modal-content {
  border-radius: 30px; }

.modal-header {
  padding: 0; }

.modal-header .close {
  position: absolute;
  opacity: 1;
  right: 20px;
  top: 8px;
  z-index: 100;
  cursor: pointer;
  color: #ddd; }

.modal-header h4 {
  position: relative;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  color: #fff;
  background: #44c2ed;
  border-color: #44c2ed;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; }

.text-header {
  text-align: center; }

.icon-close {
  position: relative;
  height: 24px;
  width: 24px;
  font-weight: 100;
  background: url("../image/i-modal-header.png") no-repeat;
  background-size: cover; }

.modal-body {
  padding: 0; }
