.margin-top {
  margin-top: 15px; }

.ui-panel-title {
  height: 30px; }
  .ui-panel-title button.btn-default,
  .ui-panel-title button.btn-default:hover,
  .ui-panel-title button.btn-default:active,
  .ui-panel-title button.btn-default:focus {
    position: absolute;
    right: 0;
    height: 24px;
    padding: 0 12px;
    background-color: #44c1ed;
    border-color: #44c1ed;
    color: #fff; }

.ui-btn-ctrl {
  display: block !important;
  text-align: right;
  margin-right: 0 !important; }

#id_logs_form .form-group {
  margin-right: 15px; }

#id_logs_form select {
  width: 150px;
  height: 30px;
  padding: 4px 12px; }

#id_logs_form .ui-btn-ctrl {
  display: block !important;
  text-align: right;
  margin-right: 0px !important; }
  #id_logs_form .ui-btn-ctrl button.btn-primary,
  #id_logs_form .ui-btn-ctrl button.btn-primary:hover,
  #id_logs_form .ui-btn-ctrl button.btn-primary:active,
  #id_logs_form .ui-btn-ctrl button.btn-primary:focus {
    width: 100px;
    margin-left: 30px;
    margin-right: 0px;
    height: 30px;
    border-radius: 15px;
    padding: 4px 12px;
    background: #44c1ed;
    border-color: #44c1ed; }
