@media screen and (min-width: 1300px) {
  div.ui-map-box {
    height: 350px; } }

div.ui-map-box {
  height: 280px; }

.operation .col-sm-1,
.operation .col-sm-3,
.operation .col-sm-3 {
  padding-left: 0;
  margin-bottom: 5px; }

form {
  margin-bottom: 30px; }

.operation label {
  width: 100%; }

h5 {
  color: #3d467d;
  line-height: 1.5;
  font-weight: normal; }
  h5 hr {
    margin-left: 13%;
    margin-top: -10px;
    width: 84%;
    border: 1px solid #ccc; }

.chart-all {
  clear: both; }
  .chart-all .chart {
    z-index: 200; }
    .chart-all .chart:before {
      content: '';
      width: 0;
      height: 0;
      display: block;
      clear: both; }
  .chart-all p {
    font-size: 14px;
    font-weight: bold;
    line-height: 4; }
  .chart-all .absolute {
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 210;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .chart-all .absolute .inline {
      margin-top: 14px; }
  .chart-all .checkbox-wrap {
    position: absolute;
    top: 40px;
    left: 0; }
    .chart-all .checkbox-wrap .inline-block {
      margin-right: 50px; }
  .chart-all .packandbar-analysis .checkbox-wrap {
    top: 50px; }
  .chart-all .inline-block {
    display: inline-block; }
  .chart-all .relative {
    position: relative; }
    .chart-all .relative span {
      position: absolute;
      top: -3px;
      z-index: 221;
      border: 1px solid #b5e4f4;
      width: 18px;
      height: 18px; }
    .chart-all .relative label {
      font-weight: normal; }
  .chart-all .chart-wrap {
    position: relative;
    overflow: hidden; }
  .chart-all .chart-wrap.all-specification, .chart-all .chart-wrap.user-analysis, .chart-all .chart-wrap.packandbar-analysis {
    margin-bottom: 40px; }
    .chart-all .chart-wrap.all-specification hr, .chart-all .chart-wrap.user-analysis hr, .chart-all .chart-wrap.packandbar-analysis hr {
      margin-top: -25px; }
  .chart-all .packandbar-analysis .absolute {
    top: 12px; }
    .chart-all .packandbar-analysis .absolute .inline {
      margin-top: 0; }
  .chart-all .chart-wrap:last-child .absolute {
    left: 40%; }
  .chart-all label {
    margin-left: 20px;
    margin-top: 8px;
    font-size: 12px; }
  .chart-all input[type="checkbox"] {
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 222;
    opacity: 0;
    width: 18px;
    height: 18px;
    cursor: pointer; }

.ui-overall-form .form-group {
  margin-right: 15px; }

.ui-overall-form .control-label {
  text-align: right; }

.ui-overall-form .multiselect.btn {
  width: 147px;
  height: 30px;
  padding: 4px 12px; }

.ui-overall-form .date {
  background: #fff; }

.ui-overall-form select {
  width: 147px !important; }

.ui-overall-form .form-control {
  width: 147px !important; }

.ui-overall-form .ui-btn-ctrl {
  display: block !important;
  text-align: right;
  margin-right: 0px !important; }
  .ui-overall-form .ui-btn-ctrl button.btn-primary,
  .ui-overall-form .ui-btn-ctrl button.btn-primary:hover,
  .ui-overall-form .ui-btn-ctrl button.btn-primary:active,
  .ui-overall-form .ui-btn-ctrl button.btn-primary:focus {
    width: 100px;
    margin-left: 30px;
    margin-right: 0px;
    height: 30px;
    border-radius: 15px;
    padding: 4px 12px;
    background: #44c1ed;
    border-color: #44c1ed; }
  .ui-overall-form .ui-btn-ctrl button.gray_btn.btn-primary,
  .ui-overall-form .ui-btn-ctrl button.gray_btn.btn-primary:hover,
  .ui-overall-form .ui-btn-ctrl button.gray_btn.btn-primary:active,
  .ui-overall-form .ui-btn-ctrl button.gray_btn.btn-primary:focus {
    border-color: #f0f0f0; }
