.ui-panel-title {
    position: relative;
    margin: 20px 0 5px 0;
    font-size: 16px;
}
.ui-panel-title .reward {
    background: url('../image/i-retailer-title.png') no-repeat;
    background-size: cover;
    position: absolute;
    left: 10px;
    top: 5px;
    height: 14px;
    width: 16px;
}
.ui-panel-reward form .line {
    display: block;
    height: 1px;
    background-color: #686768;
    margin:20px 65px 20px 65px;
}
.ui-panel-reward form .title {
    display: block;
    font-size: 14px;
}
.ui-panel-reward .openButton1 {
    height: 30px;
    width: 100px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
}
.ui-panel-reward .help-block {
    height: 30px;
}
.ui-panel-reward .save {
    width: 90px;
    border-radius: 15px;
    padding: 0;
}
.ui-panel-reward .save-div {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
#textintro {
    width: 300px !important;
    height: 200px !important;
}
