.goods-box {
    width: 100%;
    overflow: hidden;
 }
.goods-right {
    border-top: 1px solid #F1F1F1;
}
.goods-top {
    height: 64px;
   /* padding-top: 32px;
    padding-left: 79px;*/
    margin-bottom: 20px;
   
}
.goods-top span {
    
    display: block;
    width: 10px;
    height: 26px;
    background-color: #737CF3

}
.goods-top div {
    font-family: "PingFangSC","Medium";
    font-size:  20px;
    color: #515151;
    margin-left: 10px;
}
.goods-right .goods-content {
  border: none;
  background-color: #fff;
}
.goods-right .goods-content .goods-though,.goods-back {
  width: 175px;
  height: 46px;
  background-color: #6E80FF;
  font-family: "PingFangSC","Medium";
  font-size: 24px;
  margin-top: 40px;
  border-radius: 23px;
}
.goods-right .goods-content .goods-though {
  /*margin-right: 100px;*/
  transform: translateX(-120px);
}
.goods-right .goods-content .goods-back {
    transform: translateX(-20px);
}
.goods-right .goods-content .goods-though:hover,.goods-back:hover {
  background-color: #6E80FF;
}
.smake-image {
  width: 210px;
  height: 180px;
  border: 1px solid #555;
/*  background: url("../image/smoke.png") no-repeat center;*/
}
#content-right {
  padding: 0;
}
.row{
    margin: 0;
    padding:0px;
}
.commodity_con{
    margin: 15px;
    border: 1px solid #ccc;
}
.commodity_div{
    margin:0 15px;
    box-sizing: border-box;
}
.commodity_div .span1{
    display: inline-block;
    width: 44%;
    text-align: right;
    /*padding-right: 20px;*/
    box-sizing: border-box;
}
.commodity_div span{
    margin-bottom: 20px;
}
.commodity_div .span2{
    display: inline-block;
    width: 54%;
    /*text-align: right;*/
    /*padding-right: 20px;*/
    box-sizing: border-box;
}
.reason_div .line{
    display: block;
    border-bottom: 1px solid #818181;
    width: 170px;
    margin-left: 10px;
    margin-bottom: 10px;

}
.reason_div .reason_title{
    font-family: "PingFangSC","Medium";
    color: #605f5f;
    font-size: 26px;
    width: 144px;
    height: 47px;
    line-height: 47px;
    padding-top: 10px;
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    padding: 0;
    background-color: #c7e4fd;
    
}
.reason_div p{
    font-family: "PingFangSC","Medium";
    font-size: 22px;
    color: #605f5f;
    margin: 10px 0 0px 40px;
}
.commodity_nav ul{
    border: 0;
    margin-left: 50px;
    margin-bottom: 20px;
}
.commodity_nav .nav-tabs > li.active > a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border:0;
    border-bottom: 2px solid blue;
    color: blue;
}
.commodity_nav .nav-tabs > li {
    float: left;
    margin: 0px 10px;
}
.commodity_nav .nav-tabs > li > a {
    color: #555;
    cursor: default;
    
    border:0;
    border-bottom-color: transparent;
}
.commodity_nav .nav-tabs > li.active > a {
  background-color: #F1F1F1;
}
.tables th, .tables td { 
    text-align: center;
    vertical-align: middle!important;
}
.tab-content{
    background-color: #fff;
}
.tab-content label{
    margin: 0 5px;
    font-size: 22px;
    font-family: "PingFangSC","Medium";


}
.tab-content select{
    margin: 0 10px;
    height: 40px;
    font-size: 22px;
    padding: 0 20px;
    line-height: 40px;
}
#timeStart111,#timeEnd111,#timeStart222,#timeEnd222,#timeStart333,#timeEnd333 {
  width: 180px;
  height: 40px;
  background: url("../image/copy.png") no-repeat center;
  background-position: 140px 15px;
  font-size: 22px;
  font-family: "PingFangSC","Medium";
}
.goods-top .btn-primary {
  color: #fff;
  background-color: #6E80FF;
  border-color: #6E80FF;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  font-size: 22px;
  padding-top: 3px;
  font-family: "PingFangSC","Medium";

}
.goods-top .btn:focus, 
.goods-top .btn:active:focus, 
.goods-top .btn.active:focus, 
.goods-top .btn.focus, 
.goods-top .btn:active.focus, 
.goods-top .btn.active.focus {
  outline: none; 
  outline: none; 
  outline-offset: 0px; 

}
.goods-right .bottom-list {
    margin-bottom: 30px;
    height: 50px;
    width: 94.6%;
    /*margin-top: 20px;*/
    margin-left: 30px;
    margin-right: 20px;
    background-color: #fff;
}
.goods-right .bottom-list .lists {

    /*background-color: red;*/
    width: 510px;
    height: 20px;
    margin-left: 30px;
    background: url("../image/anniu7.png") no-repeat center;
    background-size: 510px 20px;
    float: left;
}
.goods-right .bottom-list .lists ul {
    margin-left: 50px;
}

.goods-right .bottom-list .lists ul {
    float: left;
}
.goods-right .bottom-list .lists ul li {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
}
.goods-right .bottom-list  .lists ul li a {
    text-decoration: none;
    color: #3395F6;
    font-size:20px;  
}
.goods-right .bottom-list p {
    font-size:20px;
   transform: translateY(-7px);
    float: left;
    
}
.goods-right .bottom-list p i {
    color: #3395F6;
    font-weight: bold;
}
.goods-right .bottom-list p span {
    display:inline-block;
    border: 1px solid #3395F6;
    text-align: center;
    line-height: 32px;
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    height: 32px;
    color: #3395F6;
}
.goods-right .bottom-list p .last-span {
    border: none;
}
.goods-right .bottom-list .go {
    height: 30px;
    width: 30px;
    border-radius: 13px;
    background-color: #3395F6;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-left: 10px;
   
}
.goods-right .bottom-list .count {
    float: right;
    margin-right: 50px;
}
.goods-right .bottom-list .count i {
     font-weight: normal;
}
.goods-right .bottom-list .count .numble {
     border: none;
     margin-right: 20px;
}
#btn-primary {
  color: #fff;
  background-color: #6E80FF;
  border-color: #6E80FF;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  font-size: 22px;
  padding-top: 3px;
  font-family: "PingFangSC","Medium";
}
