@charset "UTF-8";
.ui-panel-title {
  margin-top: 30px;
  margin-bottom: 10px; }

/*12.15零售户重构*/
.btn.btn-primary {
  width: auto;
  height: 34px;
  border: none;
  line-height: 22px;
  padding: 6px 12px; }

.btn.btn-default {
  width: auto;
  height: 34px;
  line-height: 22px;
  padding: 6px 12px; }

.btn.btn-primary, .btn.btn-primary:focus {
  height: 34px; }

.form-horizontal .form-group {
  margin: 0;
  padding: 0; }

.form-horizontal .control-label {
  width: 90px;
  float: left;
  margin-right: 0px; }

.form-horizontal .form-control {
  width: 100%; }

.form-horizontal #durationStart, .form-horizontal #durationEnd {
  width: 45%;
  background: #fff;
  float: left; }

.form-horizontal .time {
  width: 476px; }

.form-horizontal .time span {
  width: 10%;
  float: left;
  line-height: 34px;
  text-align: center; }

.panel-body {
  padding: 15px;
  position: relative; }

.search-btn-con .btn {
  float: left; }

.search-btn-con .reset {
  margin-left: 30px; }

.rebate-modal input {
  width: 90%;
  display: inline-block;
  margin-right: 5px; }

.rebate-modal .modal-footer {
  text-align: center; }

.rebate-modal .btn {
  display: inline-block; }

.rebate-modal .wrong-tip {
  font-size: 12px;
  line-height: 1;
  margin-top: 5px; }

td.batch label {
  width: 50px;
  height: 20px;
  cursor: pointer; }
  td.batch label input {
    cursor: pointer;
    margin-right: 10px; }

#newAlert {
  width: 250px;
  min-height: 70px;
  position: fixed;
  top: 60px;
  right: 15px;
  z-index: 9999;
  display: none; }
  #newAlert .close {
    top: -11px; }

.operate-btn {
  color: #3379b7;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 5px; }

.table tr th, .table tr td {
  font-size: 12px; }

tr td > div {
  margin: 0 auto; }

tr .oper-btn-wrap {
  width: 60px; }

tr .activity-name {
  width: 200px; }

tr .time {
  width: 130px; }

tr .ctime {
  width: 80px; }

.detial-head {
  font-size: 14px;
  background: #eee;
  margin-bottom: 15px;
  overflow: hidden;
  padding-top: 10px; }
  .detial-head .col-sm-3, .detial-head .col-sm-6 {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px 0 0; }
    .detial-head .col-sm-3 span, .detial-head .col-sm-6 span {
      color: #333;
      float: left;
      width: 100px;
      text-align: right; }

/*排序按钮*/
.sort-btn-con {
  overflow: hidden; }
  .sort-btn-con .btn-primary {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px; }

.detial-search {
  overflow: hidden; }
  .detial-search .form-group {
    float: left; }
  .detial-search label {
    float: left;
    line-height: 34px; }
  .detial-search select, .detial-search input {
    width: 150px;
    float: left;
    font-size: 12px; }
  .detial-search .to {
    float: left;
    line-height: 34px;
    width: 30px;
    text-align: center; }
  .detial-search #detialStart, .detial-search #detialEnd {
    background: #fff; }
  .detial-search .btn-con {
    float: right;
    margin-top: 2px; }
    .detial-search .btn-con .btn {
      float: left;
      margin-right: 15px; }
    .detial-search .btn-con .btn-default {
      margin-right: 0px; }

.back-btn {
  display: block;
  margin: 0 auto; }

.wrong-tip {
  color: #f00;
  font-size: 12px;
  line-height: 34px;
  text-indent: 5px; }

input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid, select.ng-touched.ng-invalid {
  border-color: #FA787E !important; }

.ng-submitted input.ng-invalid, .ng-submitted textarea.ng-invalid, .ng-submitted select.ng-invalid {
  border-color: #FA787E !important; }

.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
  display: block; }

select {
  -webkit-appearance: menulist;
  appearance: menulist; }
