<!--
/**
 * Author: liubin
 * Create Date: 2018-01-02
 * Description: 河北会员日活动设置
 */
-->
<!--style-->
<link rel="stylesheet" type="text/css" href="statics/assets/style/activity.setting.css">
<div ng-controller="mdSettingCtrl">
    <div class="animated fadeInRightBig">
        <div class="container-fluid">
            <div class="row">
                <!--第一步-->
                <div class="ui-md-setting col-md-12" id="md_first" ng-show="step==0">
                    <div class="panel rate">
                        <div class="panel-body">
                            <!--导航-->
                            <div class="md-nav">
                                <div class="active">内容设置</div><hr>
                                <div>投放设置</div><hr>
                                <div>奖品设置</div>
                            </div>
                            <!--内容-->
                            <form class="form-horizontal" name="setp_1" novalidate>
                                <!--活动类型-->
                                <input type="hidden" name="activityForm" ng-model="f.activityForm">
                                <!--活动code-->
                                <input type="hidden" name="activityCode" ng-model="f.activityCode">
                                <!--页面编码-->
                                <input type="hidden" name="pageCode" ng-model="f.pageCode">
                                <!--活动状态-->
                                <input type="hidden" name="status" ng-model="f.status">
                                <!--活动名称-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">活动名称<span class="red">*</span></label>
                                    <div class="{{setp_1.activityName.$error.required||setp_1.activityName.$invalid?'has-error col-sm-9':'col-sm-9'}}">
                                        <input type="text" name="activityName" class="form-control input-sm" required="required" ng-model="f.activityName" minlength="5" maxlength="30">
                                        <span class="help-block" ng-show="setp_1.activityName.$error.required||setp_1.activityName.$invalid">请输入活动名称，5~30字</span>
                                    </div>
                                </div>
                                <!--规范性文件及说明-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">规范性文件及说明<span class="red">*</span></label>
                                    <div class="col-sm-9 file-upload {{setp_1.attach.$error.required?'has-error':''}}">
                                        <input type="file" name="attach" class="form-control input-sm" onchange="angular.element(this).scope().f_uploadFile()">
                                        <input type="text" name="attach" class="form-control input-sm" required="required" ng-model="f.attach" disabled="disabled">
                                        <div class="input-sm">请选择上传文件</div>
                                        <div><span class="help-block" ng-show="setp_1.attach.$error.required">请上传规范性文件及说明文件</span></div>
                                    </div>
                                </div>
                                <!--排序优先级-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">排序优先级<span class="red">*</span></label>
                                    <div class="{{setp_1.idx.$error.required?'has-error col-sm-9':'col-sm-9'}}">
                                        <input type="number" name="idx" class="form-control input-sm" required="required" ng-model="f.idx" min="0" max="500" onkeyup="this.value=this.value.replace(/\D/g,'')" onblur="if(this.value>500){this.value=500}">
                                        <span class="help-block" ng-show="setp_1.idx.$error.required">请输入排序优先级</span>
                                    </div>
                                </div>
                                <!--活动描述-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">活动描述<span class="red">*</span></label>
                                    <div class="{{setp_1.activityDec.$error.required||setp_1.activityDec.$invalid?'has-error col-sm-9':'col-sm-9'}}">
                                        <textarea name="activityDec" class="form-control input-sm" required="required" ng-model="f.activityDec" maxlength="50" minlength="1"></textarea>
                                        <span class="help-block" ng-show="setp_1.activityDec.$invalid||setp_1.activityDec.$error.required">请输入活动描述，1～50个字</span>
                                    </div>
                                </div>
                                <!--Banner图片-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Banner图片<span class="red">*</span></label>
                                    <div class="col-sm-9">
                                        <!--大图-->
                                        <div class="md-banner">
                                            <img ng-src="{{f.activityEntrance||'/statics/assets/image/img-upload.png'}}" required="required">
                                            <input type="file" onchange="angular.element(this).scope().f_uploadImg()">
                                            <p>640*320像素,支持png、jpg格式,小于2M</p>
                                        </div>
                                    </div>
                                </div>
                                <!--活动规则-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">活动规则<span class="red">*</span></label>
                                    <div class="{{setp_1.activityRuleHtml.$error.required||setp_1.activityRuleHtml.$invalid?'has-error col-sm-9':'col-sm-9'}}">
                                        <textarea name="activityRuleHtml" class="form-control" required="required" ng-model="f.activityRuleHtml" maxlength="300" minlength="5"></textarea>
                                        <span class="help-block" ng-show="setp_1.activityRuleHtml.$invalid||setp_1.activityRuleHtml.$error.required">请输入活动规则，5～300个字</span>
                                    </div>
                                </div>
                                <div class="form-group" style="text-align:center;">
                                    <button class="btn btn-primary" type="submit" ng-click="f_next()" ng-disabled="setp_1.activityName.$invalid || setp_1.activityName.$error.required || setp_1.attach.$error.required || setp_1.idx.$error.required || setp_1.activityDec.$invalid || setp_1.activityDec.$error.required || setp_1.activityRuleHtml.$invalid || setp_1.activityRuleHtml.$error.required">下一步</button>
                                </div>
                                <!--end-->
                            </form>
                        </div>
                    </div>
                </div>
                <!--第二步-->
                <div class="ui-md-setting col-md-12" id="md_second" ng-show="step==1">
                    <div class="panel rate">
                        <div class="panel-body">
                            <!--导航-->
                            <div class="md-nav">
                                <div>内容设置</div><hr>
                                <div class="active">投放设置</div><hr>
                                <div>奖品设置</div>
                            </div>
                            <!--内容-->
                            <form class="form-horizontal" name="setp_2" novalidate>
                                <!--活动名称-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">选择厂家<span class="red">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" name="activityname" class="form-control input-sm" required="required" disabled="disabled" value="河北中烟工业有限责任公司">
                                    </div>
                                </div>
                                <!--选择品牌-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">选择品牌<span class="red">*</span></label>
                                    <div class="col-sm-9 checkbox">
                                        <label>
                                            <input type="checkbox" ng-click="s_brandChange(0)" id="quanxuan_id">全选
                                        </label>
                                        <label ng-repeat="b in s_bnArr">
                                            <input type="checkbox" ng-click="s_brandChange($index+1)" id="{{b.brandCode}}">{{b.name}}
                                        </label>
                                        <p class="{{s_brand_valide?'has-error':''}}"><span class="help-block" ng-show="s_brand_valide">请选择品牌</span></p>
                                    </div>
                                </div>
                                <!--选择规格-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">选择规格<span class="red">*</span></label>
                                    <div class="col-sm-3 multi">
                                        <select ng-model="s.sns" name="sns" class="form-control input-sm"  multiple="multiple" required="required">
                                            <option ng-value="p.sn" ng-repeat="p in s_pnArr">{{p.name}}</option>
                                        </select>
                                        <p class="{{setp_2.sns.$error.required?'has-error':''}}"><span class="help-block" ng-show="setp_2.sns.$error.required">请选择规格</span></p>
                                    </div>
                                </div>
                                <!--选择地区-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">选择地区<span class="red">*</span></label>
                                    <div class="col-sm-3" id="region">
                                        <select name="areaCodes" class="form-control input-sm" required="required" ng-model="s.areaCodes" multiple="multiple">
                                            <option ng-value="c.code" ng-repeat="c in s_rgArr">{{c.name}}</option>
                                        </select>
                                        <p class="{{setp_2.areaCodes.$error.required?'has-error':''}}"><span class="help-block" ng-show="setp_2.areaCodes.$error.required">请选择地区</span></p>
                                    </div>
                                </div>
                                <!--活动日期-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">活动日期<span class="red">*</span></label>
                                    <div class="col-sm-2">
                                        <input type="text" name="s.stime" ng-model="s.stime" class="form-control input-sm datetime" readonly="readonly">
                                    </div>
                                    <div class="input-sm plr fl tc w15">至</div>
                                    <div class="col-sm-2">
                                        <input type="text" name="s.etime" ng-model="s.etime" class="form-control input-sm datetime" readonly="readonly">
                                    </div>
                                </div>
                                <!--幸运值累积规则-->
                                <div class="form-group" ng-repeat="md in s.memberdayRules">
                                    <label class="col-sm-2 control-label" ng-if="$index<4">{{!!$index?'':'幸运值累积规则'}}<span class="{{!!$index?'none':'red'}}">*</span></label>
                                    <div class="col-sm-1 checkbox" ng-if="$index<4">
                                        <label>
                                            <input type="checkbox" ng-checked="md.isuse" ng-model="md.isuse" name="memberdayRules[{{$index}}].isuse">启用
                                        </label>
                                    </div>
                                    <select class="form-control input-sm fl plr w120" ng-model="md.ruleType" name="memberdayRules[{{$index}}].ruleType" disabled="disabled" ng-if="$index<4">
                                        <option value="1">扫码</option>
                                        <option value="2">好友点击分享链接</option>
                                        <option value="3">好友评论</option>
                                    </select>
                                    <div class="input-sm plr fl tc" ng-if="$index<4">可获得幸运值</div>
                                    <div class="col-sm-1" ng-if="$index<4">
                                        <input type="number" name="memberdayRules[{{$index}}].luckyNum" ng-model="md.luckyNum" class="form-control input-sm" min="0" onkeyup="this.value=this.value.replace(/\D/g,'')" onblur="if(!this.value){this.value=0}">
                                    </div>
                                    <div class="input-sm plr fl tc" ng-if="$index<4">可获得荷石币</div>
                                    <div class="col-sm-1" ng-if="$index<4">
                                        <input type="number" name="memberdayRules[{{$index}}].scoreNum" ng-model="md.scoreNum" class="form-control input-sm" min="0" onkeyup="this.value=this.value.replace(/\D/g,'')" onblur="if(!this.value){this.value=0}">
                                    </div>
                                    <select class="form-control input-sm fl plr week" ng-model="md.sweek" name="memberdayRules[{{$index}}].sweek" ng-if="$index<4">
                                        <option value="1">每周一</option>
                                        <option value="2">每周二</option>
                                        <option value="3">每周三</option>
                                        <option value="4">每周四</option>
                                        <option value="5">每周五</option>
                                        <option value="6">每周六</option>
                                        <option value="7">每周日</option>
                                    </select>
                                    <div class="col-sm-1" ng-if="$index<4">
                                        <input type="text" name="memberdayRules[{{$index}}].stime" ng-model="md.stime" class="form-control input-sm time" readonly="readonly">
                                    </div>
                                    <div class="input-sm plr fl tc mr15 w15" ng-if="$index<4">至</div>
                                    <select class="form-control input-sm fl plr week" ng-model="md.eweek" name="memberdayRules[{{$index}}].eweek" ng-if="$index<4">
                                        <option value="1">每周一</option>
                                        <option value="2">每周二</option>
                                        <option value="3">每周三</option>
                                        <option value="4">每周四</option>
                                        <option value="5">每周五</option>
                                        <option value="6">每周六</option>
                                        <option value="7">每周日</option>
                                    </select>
                                    <div class="col-sm-1" ng-if="$index<4">
                                        <input type="text" ng-model="md.etime" class="form-control input-sm time" name="memberdayRules[{{$index}}].etime" readonly="readonly">
                                    </div>
                                </div>
                                <!--兑换规则-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">兑换规则<span class="red">*</span></label>
                                    <div class="col-sm-1 checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked="s.memberdayRules[4].isuse" ng-model="s.memberdayRules[4].isuse" name="memberdayRules[4].isuse">启用
                                        </label>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="number" name="memberdayRules[4].luckyNum" ng-model="s.memberdayRules[4].luckyNum" class="form-control input-sm" min="0" onkeyup="this.value=this.value.replace(/\D/g,'')" onblur="if(!this.value){this.value=0}">
                                    </div>
                                    <div class="input-sm fl plr tc">幸运值可兑换</div>
                                    <div class="col-sm-1">
                                        <input type="number" name="memberdayRules[4].scoreNum" ng-model="s.memberdayRules[4].scoreNum" class="form-control input-sm" min="0" onkeyup="this.value=this.value.replace(/\D/g,'')" onblur="if(!this.value){this.value=0}">
                                    </div>
                                    <div class="input-sm fl plr tc">荷石币</div>
                                </div>
                                <!--兑换开放时段-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">兑换开放时段<span class="red">*</span></label>
                                    <select class="form-control input-sm fl plr week ml15" name="memberdayRules[4].sweek" ng-model="s.memberdayRules[4].sweek">
                                        <option value="1">每周一</option>
                                        <option value="2">每周二</option>
                                        <option value="3">每周三</option>
                                        <option value="4">每周四</option>
                                        <option value="5">每周五</option>
                                        <option value="6">每周六</option>
                                        <option value="7">每周日</option>
                                    </select>
                                    <div class="col-sm-1">
                                       <input type="text" ng-model="s.memberdayRules[4].stime" class="form-control input-sm time" name="memberdayRules[5].stime" readonly="readonly">
                                    </div>
                                    <div class="input-sm plr fl tc mr15 w15">至</div>
                                    <select class="form-control input-sm fl plr week" ng-model="s.memberdayRules[4].eweek" name="memberdayRules[4].eweek">
                                        <option value="1">每周一</option>
                                        <option value="2">每周二</option>
                                        <option value="3">每周三</option>
                                        <option value="4">每周四</option>
                                        <option value="5">每周五</option>
                                        <option value="6">每周六</option>
                                        <option value="7">每周日</option>
                                    </select>
                                    <div class="col-sm-1">
                                        <input type="text" ng-model="s.memberdayRules[4].etime" name="memberdayRules[4].etime" class="form-control input-sm time" readonly="readonly">
                                    </div>
                                </div>
                                <!--开奖时间-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">开奖时间<span class="red">*</span></label>
                                    <select class="form-control input-sm fl plr ml15 week" ng-model="s_memberdayProps_week">
                                        <option value="1">每周一</option>
                                        <option value="2">每周二</option>
                                        <option value="3">每周三</option>
                                        <option value="4">每周四</option>
                                        <option value="5">每周五</option>
                                        <option value="6">每周六</option>
                                        <option value="7">每周日</option>
                                    </select>
                                    <div class="col-sm-2">
                                        <input type="text" ng-model="s_memberdayProps_time" class="form-control input-sm time-second" readonly="readonly">
                                    </div>
                                </div>
                                <!--特殊规则-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">特殊规则<span class="red">*</span></label>
                                    <div class="col-sm-1 checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked="s_memberdayProps_isuse" ng-model="s_memberdayProps_isuse">启用
                                        </label>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="text" name="s_memberdayProps_wweek" ng-model="s_memberdayProps_wweek" class="form-control input-sm" onblur="if(!this.value){this.value=0}">
                                    </div>
                                    <div class="input-sm fl plr tc">周之内同一用户不能再次中奖</div>
                                </div>
                                <!--按钮-->
                                <div class="form-group tc">
                                    <button class="btn btn-primary" type="button" ng-click="s_next()" ng-disabled="setp_2.sns.$error.required||setp_2.areaCodes.$error.required">下一步</button>
                                    <button class="btn btn-default" type="button" ng-click="s_back()">返回</button>
                                </div>
                                <!--end-->
                            </form>
                        </div>
                    </div>
                </div>
                <!--第三步-->
                <div class="ui-md-setting col-md-12" id="md_third" ng-show="step==2">
                    <div class="panel rate">
                        <div class="panel-body">
                            <!--导航-->
                            <div class="md-nav">
                                <div>内容设置</div><hr>
                                <div>投放设置</div><hr>
                                <div class="active">奖品设置</div>
                            </div>
                            <!--内容-->
                            <div class="md-content">
                                <p>奖项设置明细</p>
                                <form class="form-horizontal">
                                    <div ng-repeat="act in t.activityAwards">
                                        <!--奖项名称-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">奖项名称<span class="red">*</span></label>
                                            <div class="col-sm-3">
                                                <input type="hidden" name="idx" class="form-control input-sm" ng-model="act.idx">
                                                <input type="text" name="prizeName" class="form-control input-sm" ng-model="act.prizeName" readonly="readonly">
                                            </div>
                                        </div>
                                        <!--选择红包-->
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">红包金额<span class="red">*</span></label>
                                            <div class="col-sm-3">
                                                <input type="number" name="details[0].minred" class="input-sm" ng-model="act.details[0].minred" ng-change="act.details[0].bigred=act.details[0].minred" min="1" onkeyup="this.value=this.value.replace(/[^0-9.]/g,'')" step="0.01" onblur="this.value=Number(this.value).toFixed(2)">元
                                                <input type="hidden" name="details[0].bigred" ng-model="act.details[0].bigred" ng-bind="act.details[0].minred">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="form-group tc">
                                <button class="btn btn-primary" type="button" ng-click="t_save()">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end-->
            </div>
        </div>
    </div>

</div>