<!--
/**
 * Author: {author}
 * Create Date; 2017-07-11
 * Description: visit
 */
-->

<div class="animated fadeInRightBig" ng-controller="AgreeCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!--title-->
        <div class="ui-panel-title agree_top">
          <i class="place"></i><span>履约报表</span>
        </div>
        <!--box-->
        <div class="panel rate">
          <div class="panel-body" style="overflow-x:scroll">
            <!-- <div class="tab_nav clearfix">
                <div ng-class="bool ? 'tab_active' :''" ng-click = "Tabs(true)">异业资源发放明细</div>
                <div ng-class="bool ? '' : 'tab_active'" ng-click = "Tabs(false)">现金奖品发放明细</div>
            </div> -->
            <!-- 活动名称，品牌，规格，奖品类别、抽检状态、抽检人             -->
            <div class="res_search agree_search">
              <div class="res_tel form-inline">
                <label>活动名称：</label>
                <input type="text" placeholder="" class="form-control input-sm">
              </div>
              <div class="agree_brand">
                  <label>品牌：</label>
                  <select id="agree_brand">
                    <option value="">全部</option>
                  </select>
                </div>
                <div class="agree_product">
                  <label>规格：</label>
                  <select id="agree_product">
                  </select>
                </div>
              <div class="res_award">
                <label>奖品类别：</label>
                <select></select>
              </div>
              <div class="res_status">
                <label>抽检状态：</label>
                <select>
                  <option value="">全部</option>
                  <option value="1">待核实</option>
                  <option value="2">已核实</option>
                  <option value="3">不属实</option>
                  <option value="4">联系不上</option>
                </select>
              </div>
              <div class="res_person form-inline">
                  <label>抽检人：</label>
                  <input type="text" class="form-control input-sm"/>
              </div>
              <!-- <div class="agree-date res-start">
                <label>开始时间</label>
                <div class="ui-total-date input-append date">
                  <input size="16" type="text" value="" readonly />
                  <span class="add-on"><i class="icon-th"></i></span>
                </div>
              </div>
              <div class="agree-date res-end">
                <label>结束时间</label>
                <div class="ui-total-date input-append date">
                  <input size="16" type="text" value="" readonly />
                  <span class="add-on"><i class="icon-th"></i></span>
                </div>
              </div> -->
              <div class="search_btn res_btn">查询</div>
            </div>
            <!-- <div class="gift_search res_search" ng-show="!bool"> -->
              <!-- <div class="gift_select">
                <label>品牌：</label>
                <select>
                  <option value="玉溪">玉溪</option>
                  <option value="黄鹤楼">黄鹤楼</option>
                </select>
              </div> -->
              <!-- <div class="gift_bag">
                <label>种类：</label>
                <select>
                  <option value="盒">盒</option>
                  <option value="条">条</option>
                </select>
              </div> -->
              <!-- <div class="gift_tel">
                <label>手机号：</label>
                <input type="text"  />
              </div>
              <div class="gift_city">
                <label>城市：</label>
                <input type="text" />
              </div> -->

              <!-- <div class="agree-date gift_start">
                <label>开始时间</label>
                <div class="ui-total-date input-append date">
                  <input size="16" type="text" value="" readonly />
                  <span class="add-on"><i class="icon-th"></i></span>
                </div>
              </div> -->
              <!-- <div class="agree-date gift_end">
                <label>结束时间</label>
                <div class="ui-total-date input-append date">
                  <input size="16" type="text" value="" readonly />
                  <span class="add-on"><i class="icon-th"></i></span>
                </div>
              </div>
              <div class="search_btn gift_btn">查询</div>
            </div> -->
            <table class="table res_table">
              <thead style="border: 1px solid #A0A0A0">
              <tr>
                <th>订单号</th>
                <th>活动名称</th>
                <th>产品规格</th>
                <th>奖品类别</th>
                <th>奖品名称</th>
                <th>数量</th>
                <th>小计金额</th>
                <th>会员ID</th>
                <th>手机号</th>
                <th>第三方ID</th>
                <th>用户所属地区</th>
                <th>领取时间</th>
                <th>订单状态</th>
                <th>抽检状态</th>
                <th>抽检时间</th>
                <th>抽检人</th>
              </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="x in table">
                      <td>{{x.orderId}}</td>
                      <td>{{x.activityName}}</td>
                      <td>{{x.productName}}</td>
                      <td>{{x.awardType}}</td>
                      <td>{{x.awardName}}</td>
                      <td>{{x.awardCnt}}</td>
                      <td>{{x.awardFee}}</td>
                      <td>{{x.userId}}</td>
                      <td>{{x.mobileNo}}</td>
                      <td>{{x.opendId}}</td>
                      <td>{{x.cityName}}</th>
                      <td>{{x.acceptTime}}</td>
                      <td>{{x.orderStatus}}</td>
                      <td>{{x.checkStatus}}</td>
                      <td>{{x.checkTime}}</td>
                      <td>{{x.checkPerson}}</td>
                    </tr>
              </tbody>
            </table>
            <!-- <table class="table gift_table" ng-show="!bool">
              <thead style="border: 1px solid #A0A0A0">
              <tr>
                <th>手机号</th>
                <th>品牌</th>
                <th>盒/条</th>
                <th>城市</th>
                <th>领奖日期</th>
                <th>单份红包面额</th>
                <th>中奖数量</th>
                <th>金额</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table> -->
            <div class="footer_sec clearfix">
              <!--<div class="total_info lf">-->
                <!--总共<span>205</span>条记录，当前页共<span>10条记录</span>-->
              <!--</div>-->
              <div class="page_sec rf">
                <div class="tcdPageCode"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="statics/assets/libs/jquery.page.js"></script>
</div>
