<!--
/**
 * Author: liubin
 * Create Date: 2017-09-28
 * Description: visit
 */
-->
<link rel="stylesheet" href="statics/assets/style/visit.manage.css"/>
<div ng-controller="achievementCtrl">
    <div class="animated fadeInRightBig">
        <div class="container-fluid">
            <div class="row ui-manage-box">
                <div class="col-md-12">
                    <!--title-->
                    <div class="ui-panel-title manage">
                        <i class="manage"></i><span>零售户业绩</span>
                    </div>
                    <!--tab-->
                    <div class="ui-manage-panel panel rate">
                        <div class="panel-body">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a id="tab1" href="#home" aria-controls="home" role="tab" data-toggle="tab">零售户业绩列表</a></li>
                                <li role="presentation"><a id="tab2" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">零售户业绩排名</a></li>
                            </ul>
                            <div class="tab-content">
                                <!--home-->
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <form class="margin-bottom form-inline left">
                                        <div class="left">
                                            <input type="text" placeholder="烟草证号\门店名\联系人姓名\联系人手机号" id="input1" class="input-sm form-control">
                                        </div>
                                        <div class="time left" id="timeNow">
                                            <div class="inline-block">时间区间</div>
                                            <input name="时间" id="timeStart1" class="form_datetime dateTime input-sm form-control" />
                                            <div class="inline-block">至</div>
                                            <input name="时间" id="timeEnd1" class="form_datetime dateTime input-sm form-control" />
                                        </div>
                                        <select name="" id="pay" class="left input-sm form-control">
                                            <option value="">扫码单位</option>
                                            <option value="1">盒</option>
                                            <option value="2">条</option>
                                        </select>
                                        <select name="" id="isReturn" class="left input-sm form-control">
                                            <option value="">有无返现</option>
                                            <option value="1">有返现</option>
                                            <option value="0">无返现</option>
                                        </select>
                                        <button class="left btn btn-primary" id="achievement-seacher" type="button">查询</button>
                                    </form>
                                    <div class="col-md-12" style="padding:0">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <td>烟草专卖证号</td>
                                                    <td>门店名</td>
                                                    <td>联系人姓名</td>
                                                    <td>联系人电话</td>
                                                    <td>零售户微信名</td>
                                                    <td>返现时间</td>
                                                    <td>扫码单位</td>
                                                    <td>返现金额</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="ty in detailData">
                                                    <td>{{ty.licenceNo}}</td>
                                                    <td>{{ty.shopName}}</td>
                                                    <td>{{ty.contactName}}</td>
                                                    <td>{{ty.contactPhone}}</td>
                                                    <td>{{ty.nickname}}</td>
                                                    <td>{{ty.cousumerScTime}}</td>
                                                    <td>{{ty.unitName}}</td>
                                                    <td>{{ty.fxAmount}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--profile-->
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <div class="form-group form-inline">
                                        <div class="time left">
                                            <div class="inline-block">时间区间</div>
                                            <input name="时间" id="timeStart2" class="form_datetime dateTime input-sm form-control">
                                            <div class="inline-block">至</div>
                                            <input name="时间" id="timeEnd2" class="form_datetime dateTime input-sm form-control">
                                        </div>
                                        <button class="seacher btn btn-primary" id="seacherId">查询</button>
                                    </div>
                                    <div class="col-md-12" style="padding:0">
                                        <table class="table table-hover table-bordered" id="actable">
                                            <thead>
                                            <tr>
                                                <td>排名</td>
                                                <td>门店号</td>
                                                <td>烟草证专卖号</td>
                                                <td>联系人姓名</td>
                                                <td>联系人电话</td>
                                                <td>累计扫码次数</td>
                                                <td>累计业绩金额</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="tp in staticData">
                                                <td></td>
                                                <td>{{tp.shopName}}</td>
                                                <td>{{tp.licenceNo}}</td>
                                                <td>{{tp.contactName}}</td>
                                                <td>{{tp.contactPhone}}</td>
                                                <td>{{tp.num}}</td>
                                                <td>{{tp.fxAmount}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--footer-->
                            <div class="footer_sec clearfix">
                                <div class="total_info lf">总共&nbsp;&nbsp;
                                    <span id="pageCount"></span>&nbsp;&nbsp;条记录，当前页共&nbsp;&nbsp;<span id="pageSize"></span>&nbsp;&nbsp;条记录
                                </div>
                                <div class="page_sec rf">
                                    <div class="tcdPageCode"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="statics/assets/libs/jquery.page.js"></script>
</div>