<!--
/**
 * Author: jinlinyong
 * Create Date: 2017-09-12
 * Description: user
 */
-->

<div class="animated fadeInRight" ng-controller="GroupCtrl">
        <div class="container-fluid region-margin">
          <div class="row">
            <div class="col-md-12">
              <!--title-->
              <div class="ui-panel-title">
                <i class="group"></i><span>用户群体分析</span>
              </div>
              <!--box-->
              <div class="panel rate">
                <div class="panel-body">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      