<link rel="stylesheet" type="text/css" href="statics/assets/style/home.portrait.css">
<div ng-controller="PortraitCtrl">
	<div class="animated fadeInRightBig">
		<div class="container-fluid region-margin">
			<div class="row">
				<div class="col-md-12" style="padding:0 40px;">
					<!--title-->
					<div class="ui-panel-title">
						<i class="portrait"></i><span>用户全息画像</span>
					</div>
					<!--box-->
					<div class="panel rate group-panel-top">
						<div class="panel-body group-month-search">
							<div class="group-month clearfix">
								<p class='portrait_p'>用户手机号</p>
								<input type="text" class="input_text" maxlength="11" />
								<span data-toggle="modal" class="btn btn-primary chaXunBtn" style="height:20px;font-size:12px;padding:0;" ng-click="chaXun()">查询</span>
							</div>
						</div>
					</div>
					<!--content-->

					<div class="panel rate">
						<div class="panel-body" style="padding:0;">
							<!--用户基本信息-->
							<div class="portrait_userInfo">
								<div class="portrait_userInfo_top clearfix">
									<h3 class="userH3">用户基本信息</h3>
									<span class="userSpan">(用户微信ID: 扫天下)</span>
								</div>
								<div class="portrait_userInfo_content clearfix">
									<div class="portrait_userInfo_content_left">
										<div class="font_style">
											<span class="weiNiC">用户微信昵称:</span>
											<span class="weiNiCContent" >&nbsp;&nbsp;&nbsp;&nbsp;{{itemList.nickName}}</span>
										</div>
										<div class="font_style">
											<span class="firstTime">用户首次扫码时间:</span>
											<span class="firstTimeContent">&nbsp;&nbsp;&nbsp;&nbsp;{{itemList.scanFirstTime}}</span>
										</div>
										<div class="font_style">
											<span class="newTime">用户最新扫码时间:</span>
											<span class="newTimeContent">&nbsp;&nbsp;&nbsp;&nbsp;{{itemList.scanLateTime}}</span>
										</div>
										<div class="font_style">
											<span class="chouJTime">用户首次抽奖时间:</span>
											<span class="chouJTimeContent">&nbsp;&nbsp;&nbsp;&nbsp;{{itemList.darwFirstTime}}</span>
										</div>
									</div>
									<img src="../../../assets/image/fenjiexian.png" alt="" class="portrait_userInfo_content_img" />
									<div class='portrait_userInfo_content_right'>
										<div class="font_style">
											<span class="questionOne">是否关注公众号:</span>
											<span class="questionOneAnswer">&nbsp;&nbsp;&nbsp;&nbsp;{{itemList.woas}}</span>
										</div>
										<div class="font_style">
											<span class="questionTwo">用户累计扫码次数:</span>
											<span class="questionTwoAnswer">&nbsp;&nbsp;&nbsp;&nbsp;{{itemList.addScanPv}}</span>
										</div>
										<div class="font_style">
											<span class="questionThree">用户累计扫码烟包数:</span>
											<span class="questionThreeAnswer">&nbsp;&nbsp;&nbsp;&nbsp;{{itemList.addEffScanPv}}</span>
										</div>
										<div class="font_style">
											<span class="questionFour">用户累计抽奖次数:</span>
											<span class="questionFourAnswer">&nbsp;&nbsp;&nbsp;&nbsp;{{itemList.addRaffPv}}</span>
										</div>
									</div>
								</div>
							</div>

							<!--用户扫码频度分析-->
							<h3 class="userH3 pindufenxi">用户扫码频度分析</h3>

							<div id="main"></div>

							<div style="width:862px;margin:0 auto;display:flex;">
								<h3 class="userH3" style="display:block;width:415px;">用户扫码时段分析</h3>
								<h3 class="userH3">用户扫码结构分析</h3>
							</div>
							<div style="width:862px;margin:0 auto;display:flex;">
								<span style="font-size:11px;color:#a2a2a2;margin-left:5px;line-height: 28px;">(每时刻近7天扫码次数之和)</span>
								<span style="font-size:11px;color:#a2a2a2;margin-left:229px;line-height: 28px;">(近7日每日扫码烟包结构分析)</span>
							</div>
							<p style="color:#a2a2a2;font-size:9px;margin-left:430px;">单包结构&nbsp;(元)</p>
							<div class="portrait_frequency">
								<!--用户扫码时段分析-->
								<div id="sunPie"></div>
								<!--用户扫码结构分析-->
								<div id='zheXianPic'></div>
							</div>

							<!--用户扫码轨迹-->
							<div style="width:862px;margin:0 auto;">
								<h3 class="userH3">用户扫码轨迹</h3>

							</div>
							<p  style="font-size:11px;color:#a2a2a2;margin-left:420px;">近30天扫码烟包数: 30个</p>
							<p  style="font-size:12px;color:#a2a2a2;margin:10px 50px 10px 150px;">
								<span>其中: </span>
								<span ng-repeat="listScan in EffectScanPv">{{listScan.productName}}: {{listScan.effectScanPv}}包&nbsp;&nbsp;&nbsp;</span>
							</p>
							<div id="saoGuiJi"></div>
							<img src="../../../assets/image/mdgImg.jpg" alt="" style="margin:0 auto;width:66px;height:10px;display:block;" />
							<!--用户各规格扫码烟包数-->
							<div style="width:862px;margin:20px auto 0;">
								<h3 class="userH3">用户各规格扫码烟包数</h3>

							</div>
							<table class="EverySao">
								<tr>
									<th>规格</th>
									<th class="topTitle1">
									</th>
									<th class="topTitle2">
									</th>
									<th class="topTitle3">
									</th>
								</tr>
								<tr ng-repeat="tableListInfo in tableList">
									<td>{{tableListInfo.productName}}</td>
									<td>{{tableListInfo.monthPv}}</td>
									<td>{{tableListInfo.lastMonthPv}}</td>
									<td>{{tableListInfo.llastMontHPv}}</td>
								</tr>

							</table>
							<div class="page_sec rf">
                                    <div class='tcdPageCode'></div>
                                </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--加载提示框-->
	<div class="modal fade jiaZai_box" tabindex="-1" role="dialog" aria-labelledby="gift_stop_btn">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="box_sec">

					<div class="box_cont">
						请输入手机号进行查询!
					</div>
					<div class="box_btn">
						<div class="enabled_btn" data-dismiss="modal">确定</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--查询弹出框-->
	<div class="modal fade gift_stop_box" tabindex="-1" role="dialog" aria-labelledby="gift_stop_btn">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content" style="width:400px;border:none;">
				<div class="box_sec" style="width:400px;border:none;">
					<div class="box_tit">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
						<div class="modal-title" id="gift_stop_btn">选择所需查询的微信 ID</div>
					</div>
					<div class="box_cont" style="width:400px;">
						<p ng-repeat="good in radioList" style="display:flex;justify-content:center;align-items: center;">
							<input type="radio" name="saotianxia" class="radioOne" style="-webkit-appearance:checkbox;margin:0 5px 0 0;" />
							<span class="WeiIDContent1">微信ID: &nbsp;&nbsp;</span>
							<span>{{good.openId}}</span>
						</p>

					</div>
					<div class="box_btn">
						<div class="enabled_btn" data-dismiss="modal" ng-click="search()">确定</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../../assets/libs/jquery.page.js"></script>
</div>