/**
 * Author: kuang
 * Create Date: 2017-09
 * Description: panel.scss
 */

@mixin border-radius($num) {
	-webkit-border-radius: $num!important;
	-moz-border-radius: $num!important;
	-ms-border-radius: $num!important;
	border-radius: $num!important;
}

@mixin width($w) {
	width: $w!important;
}

@mixin float($dir) {
	float: $dir;
}

.float-left {
	@include float(left)
}

.float-right {
	@include float(right)
}

@media screen and (max-width: 1280px) {
	.flex {
		font-size: 8px;
	}
}

input.form_datetime::placeholder {
	color: #555;
}

.panel-body {
	.flex {
		justify-content: flex-start;
	}
	.oper-btn-wrap {
		margin: 0 auto;
		width: 70px;
		cursor: pointer;
	}
	.operate-btn {
		margin: 0 5px;
		&:hover {
			color: #6e80ff;
		}
	}
}

th {
	font-size: 1.1em!important;
	vertical-align: middle;
}

tr td {
	font-size: 1em!important;
	img {
		max-height: 4em;
	}
}


// 处理multiselect
.multiselect.dropdown-toggle {
	text-align: left;
	font-size: inherit;
	color: #555;
}

.multiselect.dropdown-toggle .btn-group {
	width: 100%;
}

.form-control {
	width: 100%!important;
}

// 处理 datetime
.form_datetime {
	background: transparent!important;
}

// 活动页面
.manageacts .col-sm-7, .mprizegothistory .col-sm-7, .vprizegothistory .col-sm-7, .integralhistory .col-sm-7 {
	padding: 0; //为了不显得太空荡
}
.cigarettemanage .col-sm-8 {
	padding: 0; //为了不显得太空荡
}
.manageacts .col-md-10, .mprizegothistory .col-md-10, .vprizegothistory .col-md-10, .integralhistory .col-md-10 {
	.col-sm-3 {
		padding: 0;
	}
	.col-sm-1.control-label {
		text-align: center;
	}
	.modal .control-label {
		text-align: right;
	}
} 

button.btn-primary {
	line-height: 10%!important;
	font-size: 14px;
}

.middle-word {
	width: auto;
	margin-right: 0;
}

.cigarettemanage {
	.modal {
		.inquire, .fake {
			line-height: 1.3
		}
		.modal-footer {
			clear: both;
		}
		.form-inline {
			overflow: hidden;
		}
	}
}
