.operation {
	.col-sm-1, 
	.col-sm-3,
	.col-sm-3 {
		padding-left: 0;
		margin-bottom: 5px;
	}
}

form {
	margin-bottom: 30px;
}

.operation label {
	width: 100%;
}

h5 {
	color: #3d467d;
	line-height: 1.5;
	font-weight: normal;
	hr {
		margin-left: 13%;
		margin-top: -10px;
    width: 84%;
    border: 1px solid #ccc;
	}
}

.chart-all {
	clear: both;
	.chart {
		z-index: 200;
		&:before {
			content: '';
			width: 0;
			height: 0;
			display: block;
			clear: both;
		}
	}
	p {
		font-size: 14px;
		font-weight: bold;
		line-height: 4;
	}
	.absolute {
		position: absolute;
		top: 20px;
		left: 50%;
		z-index: 210;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		.inline	{
			margin-top: 14px;
		}
	}
	.checkbox-wrap {
		position: absolute;
		top: 40px;
		left: 0;
		.inline-block {
			margin-right: 50px;
		}
	}
	.packandbar-analysis {
		.checkbox-wrap {
			top: 50px;
		}
	}
	.inline-block {
		display: inline-block;
	}
	.relative {
		position: relative;
		span {
			position: absolute;
			top: -3px;
			z-index: 221;
			border: 1px solid #b5e4f4;
			width: 18px;
			height: 18px;
		}
		label {
			font-weight: normal;
		}
	}
	.chart-wrap {
		position: relative;
		overflow: hidden;
	}
	.chart-wrap.all-specification, .chart-wrap.user-analysis, .chart-wrap.packandbar-analysis {
		margin-bottom: 40px;
		hr {
			margin-top: -25px;
		}
	}
	.packandbar-analysis .absolute {
		top: 12px;
		.inline	 {
			margin-top: 0
		}
	}
	.chart-wrap:last-child .absolute {
		left: 40%;
	}
	label {
		margin-left: 20px;
    margin-top: 8px;
		font-size: 12px;
	}
	input[type="checkbox"] {
		position: absolute;
		top: 2px;
		left: 0;
		z-index: 222;
		opacity: 0;
		width: 18px;
		height: 18px;
		cursor: pointer;
	}
}