<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>扫天下</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="企业,大数据,二维码,移动营销,营销,数据统计,扫天下">
    <meta name="description" content="扫天下,一站式营销解决方案">
    <meta http-equiv="pargma" content="no-cache">
    <meta name="author" content="扫天下" />
    <meta name="robots" content="all" />
</head>
<body>
