<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>扫天下</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="pargma" content="no-cache">
    <meta name="keywords" content="企业,大数据,二维码,移动营销,营销,数据统计,陶醉">
    <meta name="description" content="扫天下,一站式营销解决方案">
    <meta content="扫天下" name="author">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css">
    <link rel="stylesheet" type="text/css" href="/statics/assets/style/common.css">
    <link rel="stylesheet" type="text/css" href="/statics/assets/style/style.css">
    <!-- <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.js?_v_=1497515835475"></script> -->
</head>
<body>
