<!--
/**
 * Author: liubin
 * Create Date; 2017-10-16
 * Description: style
 */
-->
<link rel="stylesheet" href="statics/assets/style/system.style.css"/>
<div ng-controller="styleCtrl">
    <div class="animated fadeInRightBig">
        <div class="container-fluid">
            <div class="row col-md-12">
                <div class="ui-panel-title style">
                    <i class="style"></i><span>选择模板</span>
                </div>
                <div class="ui-panel-box panel rate">
                    <div class="panel-body">
                        <!--步骤图-->
                        <div class="ui-step-box">
                            <div class="col-md-2">
                                <input type="checkbox" name="">选择模板
                            </div>
                        </div>
                        <!--标签图-->
                        <div class="ui-marker-box">
                            <label>分类模板:&nbsp;</label>
                        </div>
                    </div>
                </div>

                <!--配置页面-->
                <div class="ui-panel-box panel rate" style="display: none;">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label ui-form-label">选择配置页面<i class="red">&nbsp;*</i></label>
                                <div class="col-md-3">
                                    <select class="form-control input-sm" ng-model="pagename">
                                        <option ng-repeat="page in pageArr" ng-value="page.pageid">{{page.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label ui-form-label">选择模板方案<i class="red">&nbsp;*</i></label>
                                <div class="ui-form-content"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label ui-form-label">当前风格示例<i class="red">&nbsp;*</i></label>
                                <div class="ui-form-content ui-flex-between">
                                    <iframe frameborder="0" class="ui-flex-img"></iframe>
                                    <iframe frameborder="0" class="ui-flex-img"></iframe>
                                    <iframe frameborder="0" class="ui-flex-img"></iframe>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary ui-submit">确定</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>