<!--
/**
 * Author: hanzha
 * Create Date; 2017-12-15 重构零售户
 * Description: 扫码返佣管理
 */
-->
<link rel="stylesheet" href="statics/assets/style/questionnaire.css">
<link rel="stylesheet" href="statics/assets/style/form.css">
<!--分页样式-->
<link rel="stylesheet" href="statics/assets/style/pagination.css">
<link rel="stylesheet" href="statics/assets/style/visit.ordermanage.css"/>

<div ng-controller="visitOrderManageCtrl">
    <div class="animated fadeInRightBig">
        <div class="container-fluid">
            <div class="row ui-manage-box">
                <div class="col-md-12">
                    <!--title-->
                    <div class="ui-panel-title ordermanage">
                        <div><span>扫码返佣管理</span></div>
                    </div>

                    <div class="panel rate" id="manage-tap">
                        <div class="panel-body ui-manage-panel" id="panel-body">

                            <div class="tab-content">
                                <!-- 搜索条件 -->
                                <div role="tabpanel" class="tab-pane active panel-body">
                                    <form class="form-horizontal form-inline">
                                        <div class="form-group col-sm-4">
                                            <label for="orderStatus" class="control-label">订单状态：</label>
                                            <div class="col-sm-8">
                                                <select ng-model="vm.status" id="orderStatus" class="form-control">
                                                    <option value="">全部</option>
                                                    <option value="1">待支付</option>
                                                    <option value="7">待发货</option>
                                                    <option value="2">待收货</option>
                                                    <option value="6">已完成</option>
                                                    <option value="4">已取消</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group time">
                                            <label class="control-label">活动时段：</label>

                                            <div class="col-sm-9">
                                                <input ng-model="vm.stime" id="durationStart" class="form_datetime dateTime form-control" readonly placeholder="开始时间">
                                                <span class="to">至</span>
                                                <input ng-model="vm.etime" id="durationEnd" class="form_datetime dateTime form-control" readonly placeholder="结束时间">
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-8 keywords">
                                            <label for="searchType" class="control-label col-sm-2">关键词</label>
                                            <div class="col-sm-8">
                                                <select ng-model="vm.searchType" class="form-control col-sm-5" id="searchType">
                                                    <option value="1">门店名称</option>
                                                    <option value="3">联系人姓名</option>
                                                    <option value="4">联系人手机号</option>
                                                    <option value="2">烟草证号</option>
                                                </select>
                                                <input ng-model="vm.keywords" class="keywords-input form-control col-sm-5" type="text" placeholder="请输入关键词">
                                            </div>
                                        </div>

                                        <div class="form-group search-btn-con">
                                            <button type="button" class="search btn btn-primary" ng-click="search($event);">查询</button>
                                            <button type="button" class="reset btn btn-default" ng-click="reset($event);">重置</button>
                                        </div>
                                    </form>
                                </div>


                                <div class="panel-body">
                                    <div class="store-code">
                                        <label><input type="checkbox" ng-click="storeCodeClick()" ng-checked="isChecked">仅显示店码订单</label>
                                    </div>

                                    <div class="btn-con">
                                        <button type="button" class="btn btn-primary" ng-click="export();">导出待收货订单</button>
                                        <div class="file-con">
                                            <button type="button" class="btn btn-default">导入物流订单</button>
                                            <input type="file" name="uploadfile" id="importFile">
                                        </div>
                                    </div>

                                    <!-- table -->
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>操作</th>
                                            <th>零售户id</th>
                                            <th>门店名称</th>
                                            <th>订单编号</th>

                                            <th>联系人姓名</th>
                                            <th>联系人电话</th>
                                            <th>门店地址</th>
                                            <th>费用</th>
                                            <th>申请时间</th>

                                            <th>支付状态</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="(index, item) in vm.listData">
                                            <td class="batch">
                                                <label>{{index + 1}}</label>
                                            </td>
                                            <td>
                                                <div class="oper-btn-wrap">
                                                    <div class="operate-btn" ng-click="viewDetial(item.activityCode)" data-toggle="modal" data-target=".order-modal">查看详情</div>
                                                </div>
                                            </td>
                                            <td>{{item.sellerInfo.sellerId}}</td>
                                            <td><div class="activity-name">{{item.sellerInfo.shopName}}</div></td>
                                            <td>{{item.orderid}}</td>

                                            <td>{{item.username}}</td>
                                            <td>{{item.mobile}}</td>
                                            <td>{{item.sellerInfo.addrDetail}}</td>
                                            <td>{{item.totalFee == 0 ? '免费' : '¥'+item.totalFee}}</td>
                                            <td>
                                                <div class="time">
                                                    {{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                                </div>
                                            </td>

                                            <td>{{item.payStatus == 0 ? '未支付' : '已支付'}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div class="total-page">总共{{totalCount}}条记录<span ng-if="totalCount != 0">，当前页共{{size}}条记录</span></div>
                                </div>
                            </div>


                            <!-- 分页区 -->
                            <div class="pagination-wrap">
                                <!-- 分页指令 -->
                                <sa-pagination id="pagination" conf="paginationConf" curPage="currentPageNumber" class="pagination"></sa-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 提示框 -->
    <div id="newAlert" class="alert alert-dismissible fade" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <p class="prompt"></p>
    </div>

    <!-- 比例 -->
    <div class="modal fade bs-example-modal-sm order-modal" tabindex="-1" role="dialog" aria-labelledby="passTitle">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header"><span id="passTitle"><span>请输入客户返现比例：</span><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <form name="orderForm" novalidate>
                    <div class="modal-body">
                        <div>
                            <input type="number" min="0" step="1" max="100" class="form-control" name="order" ng-model="vm.order" required>%
                            <!--验证-->
                            <div ng-show="orderForm.$submitted || orderForm.order.$touched">
                                <div ng-show="orderForm.order.$error.required" class="wrong-tip">请输入客户返现比例</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-click="orderConfirm()">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="statics/assets/libs/jquery.page.js"></script>
    <script src="statics/assets/libs/jqmeter.min.js"></script>
</div>