<!--
/**
 * Author: liubin
 * Create Date; 2017-10-16
 * Description: user
 */
-->
<link rel="stylesheet" href="statics/assets/style/system.user.css">
<div ng-controller="userCtrl">
    <div class="animated fadeInRightBig">
        <div class="container-fluid row">
            <div class="ui-acc-cpwd margin-top col-md-12">
                <!--面包屑-->
                <div class="ui-panel-title">
                    <i class="title"></i><span>成员管理</span>
                    <button type="button" class="btn btn-default" ng-click="addEdit()">+新增成员</button>
                </div>
                <!--搜索栏-->
                <div class="panel rate">
                    <div class="panel-body">
                        <form class="form-inline" id="id_user_form" autocomplete="off">
                            <!--成员筛选-->
                            <div class="form-group">
                                <label for="" class="control-label">成员筛选</label>
                                <input type="text" name="user" placeholder="ID/姓名/单位/手机号" ng-model="user" class="form-control input-sm">
                            </div>
                            <!--角色-->
                            <div class="form-group">
                                <label for="" class="control-label">角色</label>
                                <select class="form-control input-sm" ng-model="role">
                                    <option value="">全部</option>
                                </select>
                            </div>
                            <!--状态-->
                            <div class="form-group">
                                <label for="" class="control-label">状态</label>
                                <select class="form-control input-sm" ng-model="status">
                                    <option value="">全部</option>
                                    <option value="1">已启用</option>
                                    <option value="0">已停用</option>
                                </select>
                            </div>
                            <!--按钮-->
                            <div class="ui-btn-ctrl form-group">
                                <button type="submit" class="btn btn-primary">搜索</button>
                                <button type="reset" class="btn btn-primary">重置</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--人员表格-->
                <div class="panel rate">
                    <div class="panel-body">
                        <div class="form-group">
                            <span ng-click="import()" class="table-ctrl span-hover">批量导入成员信息></span>
                            <span ng-click="export()" class="table-ctrl span-hover">批量导出成员信息></span>
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>姓名</th>
                                    <th>角色</th>
                                    <th>单位</th>
                                    <th>手机号</th>
                                    <th>状态</th>
                                    <th width="100">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <span class="opt-btn span-hover" ng-click="addEdit()">编辑</span>
                                        <span class="opt-btn span-hover" ng-click="stop()">停用</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--新增、编辑-->
    <div class="modal fade in" id="id_user_modal" tabindex="-1" role="dialog" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <div aria-hidden="true" class="icon-close">x</div>
                    </button>
                    <h4 class="modal-title">账号>新增成员</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate autocomplete="off">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-2">姓名</label>
                                <div class="col-md-9" ng-class="{'has-error': userForm.$submitted && userForm.name.$error.required}">
                                    <input type="text" name="name" ng-model="name" class="form-control input-sm" required>
                                    <p class="help-block" ng-show="userForm.$submitted && userForm.name.$error.required">姓名不能为空</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-2">公司</label>
                                <div class="col-md-9" ng-class="{'has-error': userForm.$submitted && userForm.company.$error.required}">
                                    <input type="text" name="company" ng-model="company" class="form-control input-sm" required>
                                    <p class="help-block" ng-show="userForm.$submitted && userForm.company.$error.required">公司不能为空</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-2">手机号</label>
                                <div class="col-md-9" ng-class="{'has-error': userForm.$submitted && (userForm.phone.$error.required || userForm.phone.$invalid)}">
                                    <input type="text" name="phone" ng-model="phone" class="form-control input-sm" ng-pattern="/^1[0-9]{10}$/" required>
                                    <p class="help-block" ng-show="userForm.$submitted && userForm.phone.$error.required">手机号不能为空</p>
                                    <p class="help-block" ng-show="userForm.$submitted && userForm.phone.$invalid && !userForm.phone.$error.required">手机号格式不正确</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-2">邮箱</label>
                                <div class="col-md-9" ng-class="{'has-error': userForm.$submitted && (userForm.mail.$error.required || userForm.mail.$invalid)}">
                                    <input type="mail" name="mail" ng-model="mail" class="form-control input-sm" ng-pattern="/^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/" required>
                                    <p class="help-block" ng-show="userForm.$submitted && userForm.mail.$error.required">邮箱不能为空</p>
                                    <p class="help-block" ng-show="userForm.$submitted && userForm.mail.$invalid && !userForm.mail.$error.required">邮箱格式不正确</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-2">角色</label>
                                <div class="col-md-9 form-inline">
                                    <input type="hidden" name="role" ng-model="role" required>
                                    <label class="checkbox">
                                        <input type="checkbox">&nbsp;&nbsp;管理员
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox">&nbsp;&nbsp;供应商
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox">&nbsp;&nbsp;运营人员
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox">&nbsp;&nbsp;审计人员
                                    </label>
                                    <div ng-class="{'has-error': userForm.$submitted && userForm.role.$error.required}">
                                        <p class="help-block" ng-show="userForm.$submitted && userForm.role.$error.required">角色不能为空</p>
                                    </div>
                                    <p>可查看、操作物料管理与活动管理模块</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">确定</button>
                            <button type="reset" class="btn btn-primary">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--消息提示-->
    <div class="modal fade in" tabindex="-1" data-keyboard="false" role="dialog" id="id_tip_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <div aria-hidden="true" class="icon-close">x</div>
                    </button>
                    <h4 class="modal-title">操作提示</h4>
                </div>
                <div class="modal-body">
                    <div class="center">停用后，此用户将不能登陆此平台</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">确定</button>
                        <button type="reset" class="btn btn-primary" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
