<!--
/**
 * Author: liubin
 * Create Date: 2017-08-18
 * Description: detail
 */
-->
<!--style-->
<link rel="stylesheet" type="text/css" href="statics/assets/style/home.retailer.css">
<!--html-->
<div class="animated fadeInRightBig" ng-controller="detailCtrl">
    <div class="container-fluid">
        <div class="ui-retailer-box row">
            <div class="col-md-12">
                <!--title-->
                <div class="ui-panel-title retailer">
                    <i class="retailer"></i><span>零售户明细查询</span>
                </div>
                <!--search-->
                <div class="ui-detail-search panel rate">
                    <div class="panel-body">
                        <form class="form-inline ui-detail-form">
                            <!--品牌-->
                            <div class="form-group">
                                <label class="control-label" for="">品牌</label>
                                <select class="form-control input-sm multiple" name="productBrand" ng-model="productBrand">
                                    <option ng-repeat="pb in pbArray" value="{{pb.name}}">{{pb.name}}</option>
                                </select>
                            </div>
                            <!--规格-->
                            <div class="form-group">
                                <label class="control-label" for="">规格</label>
                                <select class="form-control input-sm multiple" name="productSn" ng-model="productSn" multiple="multiple">
                                    <option ng-repeat="pn in pnArray" value="{{pn.sn}}">{{pn.productSn}}</option>
                                </select>
                            </div>
                            <!--城市-->
                            <div class="form-group">
                                <label class="control-label" for="">城市</label>
                                <input type="text" name="cityName" ng-model="cityName" class="form-control input-sm">
                            </div>
                            <!--业态-->
                            <div class="form-group">
                                <label class="control-label" for="">业态</label>
                                <select class="form-control input-sm" ng-model="bizCode" name="bizCode">
                                    <option ng-repeat="code in bizArr" value="{{code.bizCode}}">{{code.bizName}}</option>
                                </select>
                            </div>
                            <!--零售户名称-->
                            <div class="form-group">
                                <label class="control-label" for="">零售户名称</label>
                                <input type="text" name="shopName" ng-model="shopName" class="form-control input-sm">
                            </div>
                            <!--日期-->
                            <div class="form-group">
                                <label class="control-label" for="">日期</label>
                                <input type="input" name="beginTime" ng-model="beginTime" class="form-control date input-sm">&nbsp;&nbsp;至&nbsp;&nbsp;
                                <input type="input" name="endTime" ng-model="endTime" class="form-control date input-sm">
                            </div>
                            <div class="form-group ui-btn-ctrl">
                                <button type="submit" class="btn btn-primary" ng-click="detailSearch()">查询</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--box-->
                <div class="panel rate">
                    <div class="panel-body">
                        <div class="ui-table-title">零售户明细查询</div>
                        <div class="ui-detail-box">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>日期</th>
                                        <th>名称</th>
                                        <th>零售户类型</th>
                                        <th>城市</th>
                                        <th>品牌</th>
                                        <th>规格</th>
                                        <th>返回金额</th>
                                        <th>扫码人数</th>
                                        <th>复购人数</th>
                                        <th>烟码扫码数量</th>
                                        <th>店码扫码总数</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in listArr">
                                        <td>{{item.statTime}}</td>
                                        <td>{{item.shopName}}</td>
                                        <td>{{item.bizName}}</td>
                                        <td>{{item.cityName}}</td>
                                        <td>{{item.productBrand}}</td>
                                        <td>{{item.productName}}</td>
                                        <td>{{item.customerShould}}</td>
                                        <td>{{item.scanCustomer}}</td>
                                        <td>{{item.repeatCustomer}}</td>
                                        <td>{{item.scanCodeNum}}</td>
                                        <td>{{item.scanSellerNum}}</td>
                                    </tr>
                                    <tr ng-if='!listArr.length'>
                                        <td colspan='11'>暂无符合条件的数据</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
