<!--
/**
 * Author: zhaobaoli
 * Create Date: 2017-07-17
 * Description: materiel
 */
-->
<link rel="stylesheet" href="../../../assets/style/gift.css">

<div ng-controller="SupplyCtrl">

    <div class="animated fadeInRight">
        <div class="container-fluid" ng-show="showList">
            <div class="row">
                <div class="col-md-12">
                    <!--title-->
                    <div class="title_top clearfix">
                        <div class="gift_title lf">
                            供应商管理
                        </div>
                        <div class="build_gift rf" ng-click="changeState()">新建供应商</div>
                    </div>
                    <!--box-->
                    <div class="panel rate">
                        <div class="panel-body">
                            <div class="table_sec">
                                <div class="supply_select_sec clearfix">
                                    <div class="col-md-3 col-sm-3">
                                        <label for="selectName">筛选供应商</label>
                                        <input type="text" placeholder="供应商名称" id="selectName">
                                    </div>
                                    <!--<div class="col-md-3 col-sm-3">
                                        <label for="assMent">合规评估</label>
                                        <select id="assMent" style="width: 50%;">
                                            <option value="">全部</option>
                                            &lt;!&ndash;<option ng-repeat="item in assmentData" value="{{item.code}}">{{item.name}}</option>&ndash;&gt;
                                            <option ng-repeat="x in assmentData" value="{{x.code}}">{{x.name}}</option>
                                        </select>
                                    </div>-->
                                    <div class="col-md-2 col-sm-2">
                                        <label for="selectStatus">状态</label>
                                        <select id="selectStatus">
                                            <option value="">全部</option>
                                            <option ng-repeat="statusItem in dataStatusList"
                                                    value="{{statusItem.code}}">{{statusItem.name}}</option>
                                        </select>
                                    </div>
                                    <!--<div class="col-md-2 col-sm-2">
                                        <label for="yearLimit">年审</label>
                                        <select id="yearLimit">
                                            <option value="">全部</option>
                                            <option value="2017">2017</option>
                                        </select>
                                    </div>-->
                                    <div class="col-md-1 col-sm-1">
                                        <div class="ser_btn" ng-click="searchSupply()">搜索</div>
                                    </div>
                                    <div class="col-md-1 col-sm-1">
                                        <div class="rest_btn" ng-click="resetValue()">重置</div>
                                    </div>

                                </div>
                            </div>
                            <table class="table" ng-if="!noSearch">
                                <tr>
                                    <th>序号</th>
                                    <th>供应商名称</th>
                                    <th>登记文件</th>
                                    <th>合同管理</th>
                                    <!--<th>合规评估</th>-->
                                    <th>绩效</th>
                                    <!--<th>年审</th>-->
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                <tr ng-repeat="dataItem in supplyLists">
                                    <td>{{(currentPageNumber-1)*pageSize+($index+1)}}</td>
                                    <td title="{{dataItem.name}}">{{dataItem.showName}}</td>
                                    <td class="file_col" title="{{dataItem.registFileName}}" ng-click="downloadFile(dataItem.registAttach)">
                                        {{dataItem.showRegistFileName}}
                                    </td>
                                    <td class="file_col" title="{{dataItem.contractFileName}}" ng-click="downloadFile(dataItem.contractAttach)">
                                        {{dataItem.showContractFileName}}
                                    </td>
                                    <!--<td ng-if="dataItem.compliance == 1">合格</td>-->
                                    <!--<td ng-if="dataItem.compliance == 2">不合格</td>-->
                                    <!--<td ng-if="dataItem.compliance == 3">待评审</td>-->
                                    <td ng-click="downloadFile(dataItem.performanceAttach)" title="{{dataItem.performanceFileName}}"
                                        ng-class="{true:'file_col'}[dataItem.performanceFileName !='']">
                                        {{dataItem.performanceFileName !='' ? dataItem.showPerformanceFileName : '-'}}
                                    </td>
                                    <!--<td>{{dataItem.examineYears != 'undefined' ? dataItem.examineYears : '-'}}</td>-->
                                    <td ng-if="dataItem.status == 0">已停用</td>
                                    <td ng-if="dataItem.status == 1">已启用</td>
                                    <td>
                                        <span ng-click="editSupply(dataItem)">编辑</span>&nbsp;
                                        <span data-toggle="modal" ng-if="dataItem.status == 1"
                                              ng-click="disabledStatus(dataItem)">停用</span>
                                        <!--data-target=".supply_disabled_box"-->
                                        <span data-toggle="modal"
                                              ng-if="dataItem.status == 0" ng-click="enabledStatus(dataItem)">启用</span>
                                        <!--data-target=".supply_enabled_box"-->
                                    </td>
                                </tr>
                            </table>
                            <div class="footer_sec clearfix" ng-if="!noSearch">
                                <div class="total_info lf">
                                    总共<span>{{totalCount}}</span>条记录，当前页共<span>{{supplyLists.length}}</span>条记录
                                </div>
                                <div class="page_sec rf">
                                    <div class='tcdPageCode'></div>
                                </div>
                            </div>
                            <div class="no_search" ng-if="noSearch">未搜索到符合条件的相关信息</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" ng-show="!showList">
            <div class="row">
                <div class="col-md-12">
                    <div class="title_top">
                        <div class="gift_title">
                            供应商管理&nbsp;&gt;&nbsp;<span ng-show="createState">新建供应商</span><span ng-show="!createState">编辑供应商</span>
                        </div>
                    </div>
                    <div class="panel rate">
                        <div class="panel-body">
                            <div class="form_sec">
                                <div>
                                    <label class="label_title" for="supplyName">供应商名称<span>*</span></label>
                                    <input type="text" placeholder="请输入供应商名称" id="supplyName" ng-disabled="!createState">
                                    <p id="supply_warn" ng-show="showWarnSupply">供应商名称不能为空</p>
                                </div>
                                <div>
                                    <label class="label_title" for="registerFile">登记文件<span>*</span></label>
                                    <div class="get_file" ng-show="createState">
                                        <input type="file" id="registerFile">
                                        <div class="choice_file">选取文件</div>
                                    </div>
                                    <span id="registerName"></span>
                                    <p id="regis_warn" ng-show="createState">文件大小不能超过50M</p>
                                </div>
                                <div>
                                    <label class="label_title" for="contractFile">合同管理<span>*</span></label>
                                    <div class="get_file" ng-show="createState">
                                        <input type="file" id="contractFile">
                                        <div class="choice_file">选取文件</div>
                                    </div>
                                    <span id="contractName"></span>
                                    <p id="contract_warn" ng-show="createState">文件大小不能超过50M</p>
                                </div>
                                <!--<div>
                                    <label class="label_title">合格评估<span>*</span></label>
                                    <div class="radio_sel" ng-repeat="radioItem in assmentData">
                                        <input name="{{radioItem.cateCode}}" type="radio" value="{{radioItem.code}}"
                                                ng-model="radioValue"/>{{radioItem.name}}
                                    </div>
                                    <p id="compliance_warn">请选择合格评估状态</p>
                                </div>-->
                                <div>
                                    <label class="label_title" for="performanceFile">绩效</label>
                                    <!--<div class="get_file">选取文件</div>-->
                                    <div class="get_file">
                                        <input type="file" id="performanceFile">
                                        <div class="choice_file">选取文件</div>
                                    </div>
                                    <span id="performanceName"></span>
                                    <p id="performance_warn">文件大小不能超过50M</p>
                                </div>
                                <!--<div>
                                    <label class="label_title">年审</label>
                                    <div class="checkbox_sel">
                                        <input name="audit" type="checkbox" value="2017"/>2017
                                    </div>
                                </div>-->
                                <div>
                                    <label class="label_title" for="warn_tel">预警手机</label>
                                    <input id="warn_tel" type="text" placeholder=""><br/>
                                    <p class="tel_warn">供应商物料出现预警时，发送信息至此号码进行提示</p>
                                </div>
                            </div>
                            <p class="upload_warn" ng-if="createState">提示：登记文件、合同文件保存后将不可手动更改，请谨慎操作</p>
                            <div class="opera_sec">
                                <div class="opera_confirm" ng-click="saveOrUpdate()">保存</div>
                                <div class="opera_cancel" ng-click="cancelOpe()">取消</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--供应商停用弹窗-->
    <div class="modal fade supply_disabled_box" tabindex="-1" role="dialog" aria-labelledby="supply_disabled_btn">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="box_sec">
                    <div class="box_tit">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-title" id="supply_disabled_btn">操作提示</div>
                    </div>
                    <div class="box_cont">停用后，此供应商将不能新增物料</div>
                    <div class="box_btn clearfix">
                        <div class="box_btn_conf lf" ng-click="confirmDisabledStatus(curSupplyItem)">确定</div>
                        <div class="box_btn_cancel rf" data-dismiss="modal">取消</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--供应商更新状态操作成功弹窗-->
    <div class="modal fade supply_success_box" tabindex="-1" role="dialog" aria-labelledby="supply_enabled_btn">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="box_sec">
                    <div class="box_tit">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-title" id="supply_enabled_btn">操作提示</div>
                    </div>
                    <div class="box_cont">操作成功</div>
                    <div class="box_btn">
                        <div class="enabled_btn" data-dismiss="modal">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--供应商更新状态操作失败弹窗-->
    <div class="modal fade supply_error_box" tabindex="-1" role="dialog" aria-labelledby="supply_error_btn">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="box_sec">
                    <div class="box_tit">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-title" id="supply_error_btn">操作提示</div>
                    </div>
                    <div class="box_cont">操作失败</div>
                    <div class="box_btn">
                        <div class="enabled_btn" data-dismiss="modal">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--保存时供应商名称相同提示-->
    <div class="modal fade same_supply_box" tabindex="-1" role="dialog" aria-labelledby="same_supply_btn">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="box_sec">
                    <div class="box_tit">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-title" id="same_supply_btn">操作提示</div>
                    </div>
                    <div class="box_cont">供应商“{{sameSupplyName}}”已存在，请修改信息后保存</div>
                    <div class="box_btn">
                        <div class="enabled_btn" data-dismiss="modal">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--取消时弹框-->
    <div class="modal fade cancel_box" tabindex="-1" role="dialog" aria-labelledby="cancel_btn">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="box_sec">
                    <div class="box_tit">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-title" id="cancel_btn">操作提示</div>
                    </div>
                    <div class="box_cont">信息未保存，确认现在返回吗？</div>
                    <div class="box_btn clearfix">
                        <div class="box_btn_conf lf" ng-click="confirmCancel()">确定</div>
                        <div class="box_btn_cancel rf" data-dismiss="modal">取消</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../assets/libs/jquery.page.js"></script>
</div>
