<!--
/**
 * Author: Kuang
 * Create Date: 2017-07-20
 * Description: 积分领取明细
 */
-->
<link rel="stylesheet" href="statics/assets/style/panel.css">
<link rel="stylesheet" href="statics/assets/style/prizegot.css">
<link rel="stylesheet" href="statics/assets/style/form.css">
<link rel="stylesheet" href="statics/assets/style/pagination.css">

<div ng-controller="integralHistoryCtrl" class="integralhistory">
	<div class="animated fadeInRightBig">
		<div class="container-fluid">
			<div class="ui-content-box row">
				<div class="col-md-12">
					<div class="ui-panel-title">
						<div class="lft">
							<i class="hot"></i>
							<span>积分领奖明细</span>
						</div>
					</div>
					<div class="ui-panel-box panel">
						<!-- 操作区 -->
						<!-- 操作区 -->
						<div class="panel-body operation multi">
							<form novalidate name="form">
								<div class="form-horizontal">
									<div class="form-group col-md-4 brand">
										<label class="control-label col-sm-4">品牌选择</label>
										<div class="col-sm-7">
											<select class="form-control input-sm select" ng-model="selectAllBrands">
												<option value="">请选择</option>
												<option ng-repeat="item in allBrands" value="{{item.brandCode}}">{{item.name}}</option>
											</select>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="control-label col-sm-4">规格选择</label>
										<div class="col-sm-7">
											<select class="form-control input-sm select" ng-model="selectSpeci">
												<option value="">请选择</option>
												<option ng-repeat="item in speci" value="{{item.productCode}}">{{item.name}}</option>
											</select>
										</div>
									</div>
									<!-- <div class="form-group col-md-4">
										<label class="control-label col-sm-4">活动状态</label>
										<div class="col-sm-7">
											<select class="form-control input-sm" name="" id="status" ng-model="statusVal">
												<option value="">全部</option>
												<option ng-repeat="item in statusList" value="{{item.code}}">{{item.name}}</option>
											</select>
										</div>
									</div> -->
									<div class="form-group col-md-4">
										<label class="control-label col-sm-4">订单号</label>
										<div class="col-sm-7">
											<input type="text" class="form-control input-sm" placeholder="请输入订单号" ng-model="orderCode">
										</div>
									</div>
									<div class="form-group col-md-4 area">
										<label class="control-label col-sm-4">地区</label>
										<div class="col-sm-7">
											<select class="form-control input-sm select" ng-model="allarea">
												<option value="">请选择</option>
											</select>
										</div>
									</div>
									<!-- <div class="form-group col-md-4">
										<label class="control-label col-sm-4">关键字</label>
										<div class="col-sm-7">
											<input type="text" class="form-control input-sm" placeholder="请填写" ng-model="keysval">
										</div>
									</div> -->
								</div>
								<div class="form-horizontal">
									<div class="form-group col-md-10 col-md-pull-2">
										<label class="control-label col-sm-4" for="duration">领奖时段</label>
										<div class="col-sm-3">
											<input id="durationStart" size="16" type="text" placeholder="年-月-日(开始时间)" readonly class="form-control input-sm form_datetime" ng-model="startTime">
										</div>
										<div class="col-sm-1 control-label middle-word">至</div>
										<div class="col-sm-3">
											<input id="durationEnd" size="16" type="text" readonly placeholder="年-月-日(结束时间)" class="form-control input-sm form_datetime" ng-model="endTime">
										</div>
									</div>
								</div>
								<div class="form-inline">
									<div class="float-right">
										<button type="submit" class="btn btn-primary search" ng-click="search($event)">搜索</button>
										<button ng-click="reset()" type="submit" class="btn btn-primary reset" >重置</button>
									</div>
								</div>
							</form>
						</div>
						<div class="operBtnWrap">
							<button class="push-out btn btn-primary" ng-click="export($event)">导出搜索结果</button>
						</div>

						<!-- 列表展示区 -->
						<sa-vprizegotlist conf="vprizegotlistConf"></sa-vprizegotlist>

						<!-- 分页区 -->
						<div class="pagination-wrap">
							<!-- 分页指令 -->
							<sa-pagination id="pagination" conf="paginationConf" class="pagination"></sa-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 查看领奖明细 -->
	<div class="modal fade check-dedtail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">中奖信息明细查询<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
		    <div class="modal-body">
		    	<sa-vorderdetail conf="vorderdetailConf"></sa-vorderdetail>
		    </div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
		    </div>
	    </div>
	  </div>
	</div>
</div>
