<!--
/**
 * Author: Kuang
 * Create Date: 2017-07-20
 * Description: 积分领取明细
 */
-->
<link rel="stylesheet" href="statics/assets/style/panel.css">
<link rel="stylesheet" href="statics/assets/style/prizegot.css">
<div ng-controller="integralHistoryCtrl">
	<div class="animated fadeInRightBig">
		<div class="container-fluid">
			<div class="ui-content-box row">
				<div class="col-md-12">
					<div class="ui-panel-title">
						<div class="lft">
							<i class="hot"></i>
							<span>积分领奖明细</span>
						</div>
					</div>
					<div class="ui-panel-box panel">
						<!-- 操作区 -->
						<!-- 操作区 -->
						<div class="panel-body operation multi">
							<div class="col-md-10 col-sm-12 col-xs-6 lft flex">
								<div class="l flex-item">
									<div class="category t">
										<label for="category" class="label">订单号</label>
										<input type="text" class="form-item" placeholder="请输入订单号" ng-model="orderCode" value="{{orderCode}}">
									</div>
									<div class="norms b">
										<label for="status" class="label">活动状态</label>
										<select class="form-item" name="" id="status" ng-model="statusVal" value="{{statusVal}}">
											<option value="">全部</option>
											<option ng-repeat="item in statusList" value="{{item.code}}">{{item.name}}</option>
										</select>
									</div>
									<div class="duration bb">
										<label for="duration" class="label">领奖时段</label>
										<input id="durationStart" size="16" type="text" value="" placeholder="年/月/日" readonly class="form_datetime form-item" ng-model="startTime" value="{{startTime}}">
										<p style="text-align:center; margin: 2px auto;">&nbsp;&nbsp;至&nbsp;&nbsp;</p>
										<input id="durationEnd" size="16" type="text" value="" readonly placeholder="年/月/日" class="form_datetime form-item" ng-model="endTime" value="{{endTime}}">
									</div>
								</div>
								<div class="m flex-item">
									<div class="status t">
										<label for="norms" class="label">品牌选择</label>
										<select class="form-item select" name="" id="norms" ng-model="selectAllBrands" value="{{selectAllBrands}}" multiple="multiple">
											<option ng-repeat="item in allBrands" value="{{item.brandCode}}">{{item.name}}</option>
										</select>
									</div>
									<div class="location b">
										<label for="norms" class="label">规格选择</label>
										<select class="form-item select" name="" id="norms" ng-model="selectSpeci" value="{{selectSpeci}}" multiple="multiple">
											<option ng-repeat="item in speci" value="{{item.productCode}}">{{item.name}}</option>
										</select>
									</div>
								</div>
								<div class="r flex-item">
									<div class="area t">
										<label for="location" class="label">地区</label>
										<select class="form-item select" name="" id="location" ng-model="allarea" value="{{allarea}}" multiple="multiple"></select>
									</div>
									<div class="keywords b">
										<label for="keywords" class="label">关键字</label>
										<input class="form-item keywords-input" type="text" id="keywords" placeholder="请填写" ng-model="keysval" value="{{keysval}}">
									</div>
								</div>
							</div>
							<div class="col-md-2 col-sm-6 col-xs-6 rt">
								<button type="submit" class="btn btn-default search" ng-click="search($event)">搜索</button>
								<button ng-click="reset()" type="submit" class="btn btn-default reset" >重置</button>
							</div>
						</div>
						<div class="operBtnWrap">
							<button class="push-out operBtn btn btn-default" ng-click="export($event)">导出搜索结果</button>
						</div>

						<!-- 列表展示区 -->
						<sa-vprizegotlist conf="vprizegotlistConf"></sa-vprizegotlist>

						<!-- 分页区 -->
						<div class="pagination-wrap">
							<!-- 分页指令 -->
							<sa-pagination id="pagination" conf="paginationConf" class="pagination"></sa-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 查看领奖明细 -->
	<div class="modal fade check-dedtail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">中奖信息明细查询<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
		    <div class="modal-body">
		    	<sa-vorderdetail conf="vorderdetailConf"></sa-vorderdetail>
		    </div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
		    </div>
	    </div>
	  </div>
	</div>
</div>
