<!--
/**
 * Author: Kuang
 * Create Date: 2017-07-18
 * Description: 活动管理
 */
-->

<link rel="stylesheet" href="statics/assets/style/questionnaire.css">
<link rel="stylesheet" href="statics/assets/style/panel.css">
<link rel="stylesheet" href="statics/assets/style/form.css">
<link rel="stylesheet" href="statics/assets/style/manageacts.css">
<link rel="stylesheet" href="statics/assets/style/pagination.css">

<div ng-controller="manageactsCtrl" class="manageacts">
	<div class="animated fadeInRightBig">
		<div class="container-fluid">
			<div class="ui-content-box row">
				<div class="col-md-12">
					<div class="ui-panel-title">
						<button type="submit" id="createActivity" class="btn btn-primary float-right btn-lg" data-toggle="modal" data-target=".create-activity-modal">新建活动</button>
						<div>
							<i class="hot"></i>
							<span>活动模板管理</span>
						</div>
					</div>
					<div class="ui-panel-box panel">
						<!-- 操作区 -->
						<div class="panel-body operation multi">
							<form novalidate name="searchForm">
								<div class="form-horizontal">
									<div class="form-group col-md-4">
										<label class="control-label col-sm-4">活动类型</label>
										<div class="col-sm-7">
											<select class="form-control input-sm" ng-model="categoryVal">
												<option value="">全部</option>
												<option ng-repeat="item in actsampleList" value="{{item.code}}">{{item.name}}</option>
											</select>
										</div>
									</div>
									<div class="form-group col-md-4 select-brand-name">
										<label class="control-label col-sm-4">品牌选择</label>
										<div class="col-sm-7">
											<select class="form-control input-sm select" ng-model="selectAllBrands" value="{{selectAllBrands}}" multiple>
												<option ng-repeat="item in allBrands" value="{{item.brandCode}}">{{item.name}}</option>
											</select>
										</div>
									</div>
									<div class="form-group col-md-4 area">
										<label class="control-label col-sm-4" for="location">地区</label>
										<div class="col-sm-7">
											<select class="form-control input-sm allarea select" name="" id="location" ng-model="allarea" multiple></select>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="control-label col-sm-4">活动状态</label>
										<div class="col-sm-7">
											<select class="form-control input-sm" ng-model="statusVal">
												<option value="">全部</option>
												<option ng-repeat="item in statusList" value="{{item.code}}">{{item.name}}</option>
											</select>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="control-label col-sm-4">规格选择</label>
										<div class="col-sm-7">
											<select class="form-control input-sm select" ng-model="selectSpeci" multiple>
												<option ng-repeat="item in speci" value="{{item.productCode}}">{{item.name}}</option>
											</select>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="control-label col-sm-4" for="keywords">关键字</label>
										<div class="col-sm-7">
											<input class="form-control input-sm keywords-input" type="text" id="keywords" placeholder="请填写" ng-model="keysval">
										</div>
									</div>
								</div>
								<div class="form-horizontal">
									<div class="form-group col-md-10 col-md-pull-2">
										<label class="control-label col-sm-4" for="duration">活动时段</label>
										<div class="col-sm-3 starttime">
											<input id="durationStart" size="16" type="text" placeholder="年-月-日(开始时间)" readonly class="form-control input-sm form_datetime" ng-model="startTime">
										</div>
										<div class="col-sm-1 control-label middle-word">至</div>
										<div class="col-sm-3 endtime">
											<input id="durationEnd" size="16" type="text" readonly placeholder="年-月-日(结束时间)" class="form-control input-sm form_datetime" ng-model="endTime">
										</div>
									</div>
								</div>
								<div class="form-inline">
									<div class="float-right">
										<button type="submit" id="search" class="btn btn-primary search btn-lg" ng-click="search($event)">搜索</button>
										<button ng-click="searchreset()" type="submit" class="btn btn-primary reset btn-lg">重置</button>
									</div>
								</div>
							</form>
						</div>

						<!-- 列表展示区 -->
						<sa-activitylist conf="activitylistConf"></sa-activitylist>

						<!-- 分页区 -->
						<div class="pagination-wrap">
							<!-- 分页指令 -->
							<sa-pagination id="pagination" conf="paginationConf" class="pagination"></sa-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 新建活动1.0 模态框 -->
	<div class="modal fade create-activity-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">选择活动模板<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
		    <div class="modal-body">
		    	<!-- 活动模板 -->
		    	<sa-actsample conf="createActModalConf" id="createSampleWrap"></sa-actsample>
		    </div>
		    <div class="modal-footer">后续模板敬请期待</div>
	    </div>
	  </div>
	</div>

	<!-- 新建活动2.0 -->
	<sa-create conf="createConf"></sa-create>

	<!-- 容纳所有配置弹窗的div -->
	<sa-allConfigTemplate conf="allConfigTemplateConf"></sa-allConfigTemplate>

	<!-- 启用活动 -->
	<div class="modal fade bs-example-modal-sm start-activity-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  <div class="modal-dialog modal-sm" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">提示：<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
		    <div class="modal-body">
		    	确定要启用该活动吗？
		    </div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        	<button type="button" class="btn btn-primary">确定</button>
		    </div>
	    </div>
	  </div>
	</div>

	<!-- 终止活动 -->
	<div class="modal fade bs-example-modal-sm end-activity-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  <div class="modal-dialog modal-sm" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">提示：<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
		    <div class="modal-body">
		    	确定要终止该活动吗？
		    </div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        	<button type="button" class="btn btn-primary">确定</button>
		    </div>
	    </div>
	  </div>
	</div>

	<!-- 选择礼品模板 -->
	<div class="modal fade create-realProduct-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">选择礼品<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
		    <div class="modal-body">
		    	<!-- 选择礼品列表 -->
		    	<sa-realproduct conf="realproductConf"></sa-realproduct>
		    	<!-- 分页区 -->
					<div class="pagination-wrap">
						<!-- 分页指令 -->
						<sa-pagination conf="paginationInnerConf" class="pagination"></sa-pagination>
					</div>
		    </div>
	    </div>
	  </div>
	</div>

	<!-- 选择红包模板 -->
	<div class="modal fade create-hbProduct-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">选择红包<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
		    <div class="modal-body">
		    	<!-- 选择红包列表 -->
		    	<sa-hbproduct conf="hbproductConf"></sa-hbproduct>
		    	<!-- 分页区 -->
					<div class="pagination-wrap">
						<!-- 分页指令 -->
						<sa-pagination conf="paginationhbInnerConf" class="pagination"></sa-pagination>
					</div>
		    </div>
	    </div>
	  </div>
	</div>

	<!-- 积分池模板 -->
	<div class="modal fade create-jfProduct-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">选择积分<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
		    <div class="modal-body">
		    	<!-- 选择红包列表 -->
		    	<sa-jfproduct conf="jfproductConf"></sa-jfproduct>
		    	<!-- 分页区 -->
					<div class="pagination-wrap">
						<!-- 分页指令 -->
						<sa-pagination conf="paginationjfInnerConf" class="pagination"></sa-pagination>
					</div>
		    </div>
	    </div>
	  </div>
	</div>

	<!-- 礼品增库 -->
	<div class="modal fade add-giftstock-pop add-stock-pop" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">增库<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
		    <div class="modal-body">
		    	<div class="input-wrap">
		    		<label for="">增库数量</label><input type="number" ng-model="giftnumber">
		    	</div>
		    </div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        	<button type="button" class="btn btn-primary" ng-click="confirmGiftStock($event)">确定</button>
		    </div>
	    </div>
	  </div>
	</div>

	<!-- 红包增库 -->
	<div class="modal fade add-hbstock-pop add-stock-pop" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">增库<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
		    <div class="modal-body">
		    	<div class="input-wrap">
		    		<label for="">增加金额</label><input type="number" ng-model="hbnumber">
		    	</div>
		    	<div class="pool_warn" id='poolDetail'></div>
		    </div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        	<button type="button" class="btn btn-primary" ng-click="confirmHbStock($event)">确定</button>
		    </div>
	    </div>
	  </div>
	</div>

	<!-- 活动创建成功 -->
	<div class="modal fade createSuccess" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">提示</div>
		    <div class="modal-body">
		    	<p class="text-center" style="font-size: 16px; margin-bottom: 20px;">创建成功</p>
		    	<sa-successshowlist conf="successshowlistConf"></sa-successshowlist>
		    </div>
		    <div class="modal-footer">
        	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="iknow($event)">知道了</button>
		    </div>
	    </div>
	  </div>
	</div>

	<!-- 查看活动 -->
	<div class="modal fade look-up" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">活动详情<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
		    <div class="modal-body">
		    	<sa-lookup conf="lookupConf"></sa-lookup>
		    </div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
		    </div>
	    </div>
	  </div>
	</div>
	<!--取消调查问卷时弹框-->
    <div class="modal fade cancel_box" tabindex="-1" role="dialog" aria-labelledby="cancel_btn">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="box_sec">
                    <div class="box_tit">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-title" id="cancel_btn">操作提示</div>
                    </div>
                    <div class="box_cont">问卷信息未保存，确认取消么？</div>
                    <div class="box_btn clearfix">
                        <div class="box_btn_conf lf" ng-click="confirmCancel()">确定</div>
                        <div class="box_btn_cancel rf" data-dismiss="modal">取消</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
		<!--调查问卷操作成功弹窗-->
    <div class="modal fade ques_success_box" tabindex="-1" role="dialog" aria-labelledby="supply_enabled_btn">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="box_sec">
                    <div class="box_tit">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="modal-title" id="supply_enabled_btn">操作提示</div>
                    </div>
                    <div class="box_cont">操作成功</div>
                    <div class="box_btn">
                        <div class="enabled_btn" data-dismiss="modal">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
