<!--
/**
 * Author: kuang
 * Create Date: 2017-10-23
 * Description: kpi指标总览
 */
-->

<link rel="stylesheet" href="statics/assets/style/panel.css">
<link rel="stylesheet" href="statics/assets/style/form.css">
<link rel="stylesheet" href="statics/assets/style/theme.overall.css">

<div ng-controller="overallCtrl" class="overall">
	<div class="animated fadeInRightBig">
		<div class="container-fluid">
			<div class="ui-content-box row">
				<div class="col-md-12">
					<div class="ui-panel-title">
						<i class="hot"></i>
						<span>KPI指标总览</span>
					</div>
					<div class="panel rate">
						<div class="panel-body">
							<form novalidate name="form" role="form" class="form-inline ui-overall-form" autocomplete="off">
								<div class="form-group">
									<label class="control-label" for="">类型</label>
									<select name="singleSelect" id="" class="input-sm form-control" ng-model="singleSelect.unit">
										<option value="day">日</option>
										<option value="week">周</option>
										<option value="month">月</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label" for="">查询时间</label>

									<!-- 日 -->
									<div class="day inline-block" ng-show="singleSelect.unit == 'day'"><input name="day" type="text" class="input-sm form-control form_datetime" readonly id="day" ng-model="day"></div>

									<!-- 周 -->
									<select ng-show="singleSelect.unit == 'week'" name="week" id="" class="input-sm form-control week" ng-model="week">
										<option ng-repeat="item in allweek" value="{{item.weekId}}">{{item.weekNo}}</option>
									</select>

									<!-- 月 -->
									<div ng-show="singleSelect.unit == 'month'" class="month inline-block"><input name="month" type="text" class="input-sm form-control form_datetime" readonly id="month" ng-model="month"></div>
								</div>
								<div class="form-group ui-btn-ctrl">
									<button type="submit" class="btn btn-primary input-sm" ng-click="search($event)">查询</button>
								</div>
							</form>
						</div>
					</div>
					<div class="panel rate">
						<div class="panel-body">
							<div class="chart-all col-md-12">
								<!-- 扫码次数趋势分析 -->
								<div class="chart-wrap">
									<h5>扫码次数趋势分析<hr></h5>
									<div class="col-md-3" style="margin-top: 60px;">
										<p class="text-left">本{{singleSelect.unit == 'day' ? '日' : singleSelect.unit == 'week' ? '周' : '月'}}扫码次数：{{changepv}}次</p>
										<p class="text-left">本年累计扫码次数：{{yearpv}}</p>
									</div>
									<div class="chart col-md-9 ui-map-box" id="trendChart">
										<!-- 可拖动折线图 -->
									</div>
								</div>

								<!-- 扫码次数地域分析 -->
								<div class="chart-wrap">
									<h5>扫码次数地域分析<hr></h5>
									<!-- 地图 -->
									<div class="chart col-md-5 ui-map-box" id="baidumap"></div>
									<!-- 柱状图 -->
									<div class="chart col-md-7 ui-map-box" id="districtChart"></div>
								</div>

								<!-- 各规格扫码次数分析 -->
								<div class="chart-wrap all-specification">
									<h5>各规格扫码次数分析<br>（单位：次）<hr></h5>
									<div class="chart col-md-12" id="standardChart" style="height: 260px"></div>
								</div>

								<!-- 扫码用户数分析 -->
								<div class="chart-wrap user-analysis">
									<h5>扫码用户数分析<br>（单位：人）<hr></h5>
									<p class="absolute">本{{singleSelect.unit == 'day' ? '日' : singleSelect.unit == 'week' ? '周' : '月'}}扫码人数：{{changeuv}}人 （本年度累计扫码人数：{{yearuv}}）</p>
									<div class="chart ui-map-box" id="userChart"></div>
								</div>

								<!-- 扫码烟包数分析 -->
								<div class="chart-wrap packandbar-analysis">
									<h5>扫码烟包数分析<br>（单位：个）<hr></h5>
									<div class="absolute">
										<p class="inline">本{{singleSelect.unit == 'day' ? '日' : singleSelect.unit == 'week' ? '周' : '月'}}扫码烟包数：{{changepack}}个 （本年度累计扫码烟包总数：{{yearpack}}个）</p>
									</div>
									<div class="checkbox-wrap">
										<div class="inline-block relative">
											<input type="checkbox"  ng-model="checkbox.packcheckbox" ng-change="updatepackorbar(checkbox.packcheckbox, 0)">
											<span class="checkbox"></span>
											<label for="">盒</label>
										</div>
										<div class="inline-block relative">
											<input type="checkbox" ng-model="checkbox.barcheckbox" ng-change="updatepackorbar(checkbox.barcheckbox, 1)">
											<span class="checkbox"></span>
											<label for="">条</label>
										</div>
									</div>
									<div class="chart col-md-12 ui-map-box" id="packedChart"></div>
								</div>

								<!-- 促销效果趋势分析 -->
								<div class="chart-wrap">
									<h5>促销效果趋势分析<hr></h5>
									<div class="checkbox-wrap">
										<div class="inline-block relative">
											<input type="checkbox" ng-model="checkbox.promocheckbox" ng-change="updatepromo(checkbox.promocheckbox, 0)">
											<span class="checkbox"></span>
											<label for="">促销计划</label>
										</div>
										<div class="inline-block relative">
											<input type="checkbox" ng-model="checkbox.drawcheckbox" ng-change="updatepromo(checkbox.drawcheckbox, 1)">
											<span class="checkbox"></span>
											<label for="">抽奖次数</label>
										</div>
										<div class="inline-block relative">
											<input type="checkbox" ng-model="checkbox.getcheckbox" ng-change="updatepromo(checkbox.getcheckbox, 2)">
											<span class="checkbox"></span>
											<label for="">中奖数量</label>
										</div>
										<div class="inline-block relative">
											<input type="checkbox" ng-model="checkbox.paycheckbox" ng-change="updatepromo(checkbox.paycheckbox, 3)">
											<span class="checkbox"></span>
											<label for="">领取数量</label>
										</div>
									</div>
									<div class="chart col-md-12 ui-map-box" id="promotionChart"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>