<!--
/**
 * Author: kuang
 * Create Date: 2017-10-23
 * Description: kpi指标总览
 */
-->

<link rel="stylesheet" href="statics/assets/style/panel.css">
<link rel="stylesheet" href="statics/assets/style/form.css">
<link rel="stylesheet" href="statics/assets/style/theme.overall.css">

<div ng-controller="overallCtrl" class="overall">
	<div class="animated fadeInRightBig">
		<div class="container-fluid overall">
			<div class="ui-content-box row">
				<div class="col-md-12">
					<div class="ui-panel-title">
						<i class="hot"></i>
						<span>KPI指标总览</span>
					</div>
					<div class="panel">
						<div class="panel-body">
							<form novalidate name="form" role="form" ng-submit="submitForm(form.$valid)" class="col-md-12">
								<div class="form-inline operation">
									<div class="col-sm-1">
										<select name="singleSelect" id="" class="input-sm form-control" ng-model="singleSelect.unit">
											<option value="day">日</option>
											<option value="week">周</option>
											<option value="month">月</option>
										</select>
									</div>
									<div class="col-sm-3">
										<!-- 日 -->
										<input type="text" class="day input-sm form-control form_datetime" readonly id="day" ng-if="singleSelect.unit == 'day'" placeholder="{{today}}">
										<!-- 周 -->
										<select name="" id="" class="week input-sm form-control" ng-if="singleSelect.unit == 'week'">
											<option value="">2017年第XX周</option>
											<option value="">2017年第XX周</option>
											<option value="">2017年第XX周</option>
										</select>
										<!-- 月 -->
										<input type="text" class="month input-sm form-control form_datetime" readonly id="month" ng-if="singleSelect.unit == 'month'" placeholder="{{thismonth}}">
									</div>
									<div class="col-sm-1">
										<button type="submit" class="btn btn-primary input-sm">查询</button>
									</div>
								</div>
							</form>
							
							<div class="chart-all col-md-12">
								<!-- 扫码次数趋势分析 -->
								<div class="chart-wrap">
									<div class="chart col-md-9" id="trendChart" style="height: 400px;">
										<!-- 可拖动折线图 -->
									</div>
									<div class="col-md-3" style="height: 400px;">
										<p class="text-left" style="line-height: 50px;">本{{singleSelect.unitZh}}扫码次数：XXXX次</p>
										<p class="text-left" style="line-height: 50px;">本年累计扫码次数：XXXX次</p>
									</div>
								</div>

								<!-- 扫码次数地域分析 -->
								<div class="chart-wrap col-md-12">
									<!-- 地图 -->
									<div class="chart col-md-5" id="baidumap" style="height: 350px;"></div>
									<!-- 柱状图 -->
									<div class="chart col-md-7" id="districtChart" style="height: 400px;"></div>
								</div>
								
								<!-- 各规格扫码次数分析 -->
								<div class="chart col-md-12" id="standardChart" style="height: 400px"></div>

								<!-- 扫码用户数分析 -->
								<div class="chart-wrap col-md-12">
									<p class="absolute">本{{singleSelect.unitZh}}扫码人数：XXXX人 （本年度累计扫码人数：XXXX人）</p>
									<div class="chart" id="userChart" style="height: 400px"></div>
								</div>
								
								<!-- 扫码烟包数分析 -->
								<div class="chart-wrap col-md-12">
									<div class="absolute">
										<p class="inline">本{{singleSelect.unitZh}}扫码烟包数：XXXX个 （本年度累计扫码烟包总数：XXXX个）</p>
										<div class="inline" style="text-align: center">
											<label for="">盒</label><input type="checkbox">
											<label for="">条</label><input type="checkbox">
										</div>
									</div>
									<div class="chart col-md-12" id="packedChart" style="height: 400px"></div>
								</div>

								<!-- 促销效果趋势分析 -->
								<div class="chart-wrap col-md-12">
									<div class="absolute">
										<div class="inline">
											<label for="">促销计划</label><input type="checkbox">
											<label for="">抽奖次数</label><input type="checkbox">
											<label for="">中奖数量</label><input type="checkbox">
											<label for="">领取数量</label><input type="checkbox">
										</div>
									</div>
									<div class="chart col-md-12" id="promotionChart" style="height: 400px"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>