<!--
/**
 * Author: jinlinyong
 * Create Date: 2017-07-05
 * Description: theme
 */
-->

<div class="animated fadeInRightBig" ng-controller="RegionCtrl">
  <div class="container-fluid region-margin">
    <div class="row">
      <div class="col-md-12">
        <!--地域查询-->
        <div class="ui-panel-title place">
          <i class="place"></i><span>地域查询</span>
        </div>
        <!--box-->
        <div class="panel rate">
          <div class="panel-body">
            <!--搜索-->
            <div class="region-search-r">
              <select class="ui-search" placeholder="请选择">
                <option value="day" id="day" selected>日</option>
                <option value="week">周</option>
                <option value="month">月</option>
              </select>
              <!--月、周、日-->
              <div class="ui-total-date input-append region-day date-wrap">
                  <input size="16" type="text" value="" readonly class="form-control date" />
                  <span class="add-on"><i class="icon-th"></i></span>
              </div>
              <select class="region" autocomplete="off">
                <option value="全国">全国</option>
                <!--<option></option>-->
              </select>
              <select class="regions">
              	<option value="全部">全部</option>
                <option value="{{cityNameItem.cityName}}" ng-repeat="cityNameItem in secondCategoryList">{{cityNameItem.cityName}}</option>
              </select>
              <!--search-->
              <button type="button" class="btn btn-sm btn-default" ng-click="search($event);">搜索</button>
            </div>
            <div class="region-search-r" style="display: none">
              <select class="ui-search" placeholder="请选择">
                <option value="day" >日</option>
                <option value="week" id="week" selected>周</option>
                <option value="month">月</option>
              </select>
              <!--月、周、日-->
              <select class="week">
              </select>
              <select class="region"  autocomplete="off">
                <option value="全国">全国</option>
              </select>
              <select class="regions">
              	<option value="全部">全部</option>
                <option value="{{cityNameItem.cityName}}" ng-repeat="cityNameItem in secondCategoryList">{{cityNameItem.cityName}}</option>
              </select>
              <!--search-->
              <button type="button" class="btn btn-sm btn-default" ng-click="search($event);">搜索</button>
            </div>
            <div class="region-search-r" style="display: none">
              <select class="ui-search" placeholder="请选择">
                <option value="day">日</option>
                <option value="week">周</option>
                <option value="month" id="month" selected>月</option>
              </select>
              <!--月、周、日-->
              <div class="ui-total-date input-append date-wrap region-month">
                <input size="16" type="text" value={{month}} readonly class="form-control date" />
                <span class="add-on"><i class="icon-th"></i></span>
              </div>
              <select class="region" autocomplete="off">
                <option value="全国">全国</option>
              </select>
              <select class="regions">
              	<option value="全部">全部</option>
                <option value="{{cityNameItem.cityName}}" ng-repeat="cityNameItem in secondCategoryList">{{cityNameItem.cityName}}</option>
              </select>
              <!--search-->
              <button type="button" class="btn btn-sm btn-default" ng-click="search($event);">搜索</button>
            </div>
            <div class="region-describle">仪表盘中间值确定方式：往前推7天（包括当天）的均值</div>
            <div class="region-gauge">
              <div class="col-md-4">
                <div id="gauge-first"></div>
              </div>
              <div class="col-md-4">
                <div id="gauge-second"></div>
              </div>
              <div class="col-md-4">
                <div id="gauge-third"></div>
              </div>
            </div>
            <div class="region-hours-wrap">
              <div class="hours-title">
                <i></i>
                <span>扫码次数时刻趋势</span>
                <span></span><br />
                <span>（单位：次）</span>
              </div>
              <div id="hours-chart"></div>
            </div>
            <div class="region-hours-wrap region-plan-wrap">
              <div class="hours-title">
                <i></i>
                <span>扫码日期趋势</span>
                <span></span><br />
                <span>（单位：次）</span>
              </div>
              <div class="region-select-wrap">
                <div class="checkboxouter date-trend">
                  <input type="checkbox" name="扫码次数" checked/>
                  <label class="checkbox"></label>
                  <span>扫码次数</span>
                </div>
                <div class="checkboxouter date-trend">
                  <input type="checkbox" name="扫码烟包数" checked/>
                  <label class="checkbox"></label>
                  <span>扫码烟包数</span>
                </div>
                <div class="checkboxouter date-trend">
                  <input type="checkbox" name="扫码人数" checked/>
                  <label class="checkbox"></label>
                  <span>扫码人数</span>
                </div>
                <!--<div class="checkboxouter plan">
                  <input type="checkbox" name="领取数量" checked/>
                  <label class="checkbox"></label>
                  <span>领取数量</span>
                </div>-->
              </div>
              <div id="date-chart"></div>
            </div>
            <div class="region-hours-wrap region-plan-wrap">
              <div class="hours-title">
                <i></i>
                <span>促销效果趋势分析</span>
                <span></span><br />
                <span>（单位：次/个）</span>
              </div>
              <div class="region-select-wrap">
                <div class="checkboxouter plan">
                  <input type="checkbox" name="促销计划" checked/>
                  <label class="checkbox"></label>
                  <span>促销计划</span>
                </div>
                <div class="checkboxouter plan">
                  <input type="checkbox" name="抽奖次数" checked/>
                  <label class="checkbox"></label>
                  <span>抽奖次数</span>
                </div>
                <div class="checkboxouter plan">
                  <input type="checkbox" name="中奖数量" checked/>
                  <label class="checkbox"></label>
                  <span>中奖数量</span>
                </div>
                <div class="checkboxouter plan">
                  <input type="checkbox" name="领取数量" checked/>
                  <label class="checkbox"></label>
                  <span>领取数量</span>
                </div>
              </div>
              <div id="plan-chart"></div>
            </div>
            <div class="region-hours-wrap region-bag-wrap">
              <div class="hours-title">
                <i></i>
                <span>扫码烟包数时间趋势</span>
                <span></span><br />
                <span>（单位：盒/条）</span>
              </div>
              <div class="region-select-wrap">
                <div class="checkboxouter bag">
                  <input type="checkbox" name="盒" checked/>
                  <label class="checkbox"></label>
                  <span>盒</span>
                </div>
                <div class="checkboxouter bag">
                  <input type="checkbox" name="条" checked/>
                  <label class="checkbox"></label>
                  <span>条</span>
                </div>
              </div>
              <div id="bag-chart"></div>
            </div>
            <div class="region-hours-wrap region-name-wrap">
              <div class="hours-title">
                <i></i>
                <span>前十五规格扫码次数</span>
                <span></span><br />
                <span>（单位：次）</span>
              </div>
              <div id="name-chart"></div>
            </div>
            <div class="region-hours-wrap region-city-wrap">
              <div class="hours-title">
                <i></i>
                <span>各地市扫码次数</span>
                <span></span><br/>
                <span>（单位：次）</span>
              </div>
              <!--<div id="city-chart"></div>-->
              <div style="width:100%;">
                <div class="title_name">
                  <div style="width:16%;float:left;margin-right:5px;">
                    <div class="but_sty">城市</div>
                  </div>
                  <div style="width:26%;float:left;margin-right:5px;">
                    <div class="but_sty btn_pointer" ng-click="orderByPv()">扫码次数<span class="sx-arrow-up"></span>
                      <span ng-class="{true:'sx-arrow-select-down',false:'sx-arrow-down'}[pvOrder]"></span>
                    </div>
                  </div>
                  <div style="width:26%;float:left;margin-right:5px;">
                    <div class="but_sty btn_pointer" ng-click="orderByCode()">扫码烟包数<span class="sx-arrow-up"></span>
                      <span ng-class="{true:'sx-arrow-select-down',false:'sx-arrow-down'}[codeOrder]"></span>
                    </div>
                  </div>
                  <div style="width:26%;float:left;">
                    <div class="but_sty btn_pointer" ng-click="orderByUv()">扫码人数<span class="sx-arrow-up"></span>
                      <span ng-class="{true:'sx-arrow-select-down',false:'sx-arrow-down'}[uvOrder]"></span>
                    </div>
                  </div>
                </div>
                <ul class="view_times_main">
                  <li ng-if="resData.length > 0" ng-repeat="cityCodeItem in resData">
                    <div class="col-md-2 col-sm-2">
                      <div style="text-align:center;">{{cityCodeItem.cityName}}</div>
                    </div>
                    <div class="col-md-3 col-sm-3" style="margin-left:5px;margin-right:5px;">
                      <div class="progress" style="height:15px;">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100" style="line-height:15px;width:{{cityCodeItem.scanPv/maxPv*100}}%;">
                          <span style="color:#FF7525;">No{{cityCodeItem.rownum}}:&nbsp;{{cityCodeItem.scanPv}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3" style="margin-left:10px;margin-right:5px;">
                      <div class="progress" style="height:15px;">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100" style="line-height:15px;width:{{cityCodeItem.scanCode/maxCode*100}}%;">
                          <span style="color:#FF7525;">No{{cityCodeItem.rownum2}}:&nbsp;{{cityCodeItem.scanCode}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3" style="margin-left:10px;margin-right:5px;">
                      <div class="progress" style="height:15px;">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100" style="line-height:15px;width:{{cityCodeItem.scanUv/maxUv*100}}%;">
                          <span style="color:#FF7525;">No{{cityCodeItem.rownum3}}:&nbsp;{{cityCodeItem.scanUv}}</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  
                </ul>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
