<!--
/**
 * Author: jinlinyong
 * Create Date: 2017-07-05
 * Description: theme
 */
-->

<div class="animated fadeInRight" ng-controller="SpecCtrl">
  <div class="container-fluid region-margin">
    <div class="row">
      <div class="col-md-12">
        <!--title-->
        <div class="ui-panel-title">
          <i class="place"></i><span>规格查询</span>
        </div>
        <!--box-->
        <div class="panel rate">
          <div class="panel-body">
            <!--搜索-->
            <div class="region-search-r spec-search">
              <select class="ui-search" placeholder="请选择">
                <option value="month" id="month" selected>月</option>
                <option value="week">周</option>
                <option value="day" id="day">日</option>
              </select>
              <!--月、周、日-->
              <div class="ui-total-date input-append date">
                <input size="16" type="text" value="" readonly />
                <span class="add-on"><i class="icon-th"></i></span>
              </div>
              <select class="region spec" autocomplete="off">
              </select>
              <!--search-->
              <button type="button" class="btn btn-sm btn-default" ng-click="search($event);">搜索</button>
            </div>
            <div class="region-search-r spec-search" style="display: none">
              <select class="ui-search" placeholder="请选择">
                <option value="month">月</option>
                <option value="week" id="week" selected>周</option>
                <option value="day" >日</option>
              </select>
              <!--月、周、日-->
              <select class="week">
              </select>
              <select class="region spec"  autocomplete="off">
              </select>
              <!--search-->
              <button type="button" class="btn btn-sm btn-default" ng-click="search($event);">搜索</button>
            </div>
            <div class="spec-wrap">
              <div class="col-md-4">
                <img src="../../../assets/image/yuxi.jpg" class="img" />
              </div>
              <div class="col-md-4">
                <span class="count">本日扫码次数：<i>{{spec.count}}</i>次</span><br />
                <span class="active">本日活跃用户：<i>{{spec.active}}</i>人</span><br />
              </div>
              <div class="col-md-4">
                <span class="bag">本日扫码包数：<i>{{spec.bag}}</i>次</span><br />
                <span class="reduce">本月新增扫码数：<i>{{spec.reduce}}</i>人</span><br />
              </div>
            </div>
            <div class="region-hours-wrap">
              <div class="hours-title">
                <i></i>
                <span>扫码次数时刻趋势</span>
                <span></span><br />
                <span>（单位：次）</span>
              </div>
              <div id="hours-chart"></div>
            </div>
            <div class="region-hours-wrap spec-plan-wrap">
              <div class="hours-title">
                <i></i>
                <span>扫码次数时间趋势</span>
                <span></span><br />
                <span>（单位：次）</span>
              </div>
              <div class="region-select-wrap">
                <div class="checkboxouter plan">
                  <input type="checkbox" name="促销计划" checked/>
                  <label class="checkbox"></label>
                  <span>促销计划</span>
                </div>
                <div class="checkboxouter plan">
                  <input type="checkbox" name="抽奖次数" />
                  <label class="checkbox"></label>
                  <span>抽奖次数</span>
                </div>
                <div class="checkboxouter plan">
                  <input type="checkbox" name="中奖数量"/>
                  <label class="checkbox"></label>
                  <span>中奖数量</span>
                </div>
                <div class="checkboxouter plan">
                  <input type="checkbox" name="实发数量"/>
                  <label class="checkbox"></label>
                  <span>实发数量</span>
                </div>
              </div>
              <div id="plan-chart"></div>
            </div>
            <div class="region-hours-wrap spec-city-wrap">
              <div class="hours-title">
                <i></i>
                <span>各地市扫码次数</span>
                <span></span><br />
                <span>（单位：次）</span>
              </div>
              <div id="map-chart"></div>
              <div id="city-chart"></div>
            </div>
            <div class="region-hours-wrap spec-award-wrap">
              <div class="hours-title">
                <i></i>
                <span>扫码次数时间趋势</span>
                <span></span><br />
                <span>（单位：次）</span>
              </div>
              <div class="region-select-wrap">
                <div class="checkboxouter award">
                  <input type="checkbox" name="扫码次数" checked/>
                  <label class="checkbox"></label>
                  <span>扫码次数</span>
                </div>
                <div class="checkboxouter award">
                  <input type="checkbox" name="有效扫码数" />
                  <label class="checkbox"></label>
                  <span>有效扫码数</span>
                </div>
                <div class="checkboxouter award">
                  <input type="checkbox" name="抽奖次数" />
                  <label class="checkbox"></label>
                  <span>抽奖次数</span>
                </div>
                <div class="checkboxouter award">
                  <input type="checkbox" name="奖品领取"/>
                  <label class="checkbox"></label>
                  <span>奖品领取</span>
                </div>
              </div>
              <div id="award-chart"></div>
            </div>
            <div class="region-hours-wrap spec-pie-wrap">
              <div class="hours-title">
                <i></i>
                <span>奖品分布</span>
                <span></span><br />
                <span>（单位：个）</span>
              </div>
              <div class="col-md-6">
                <div class="spec-back"></div>
                <div id="pie1-chart"></div>
              </div>
              <div class="col-md-6">
                <div class="spec-back"></div>
                <div id="pie2-chart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
